html {
	background-color: #101010;
	height: 100%;
}

#root {
	background-color: #101010;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
