* {
  background-color: black;
  font-family: "Noto Sans", sans-serif;

  font-weight: 600;
}

/* HEADER */

@media screen and (max-width: 699px) {
  .nav__items {
    display: none;
  }

  .nav__items:first-child {
    display: block !important;
  }
}

.logo {
  margin: 5px;
  position: absolute;
  left: 5px;
}

.nav__items__logo {
  width: 122px;
  margin-top: 7px;
  margin-left: 7px;
}

.nav__items__glass {
  position: absolute;
  right: 10px;
  top: 30px;
}

.nav__items__search {
  display: none;
}

@media screen and (min-width: 700px) {
  /* HEADER */
  .logo {
    margin: 5px;
    position: absolute;
    left: 5px;
  }
  .nav__items__logo {
    width: 122px;
    margin-top: 7px;
    margin-left: 7px;
  }

  .nav__items {
    display: flex;
    height: 50px;
    justify-content: space-around;
  }

  .nav__items__glass {
    display: none;
  }

  .nav__items__left__list {
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
  }

  .nav__items__left__list * {
    margin: 10px;
  }

  .nav__items__cinema {
    min-width: 90px;
  }
  .nav__items__subscription {
    min-width: 150px;
  }

  .search__box__input {
    background-color: #333;
    height: 30px;
    position: relative;
    top: -15px;
  }

  .nav__items__right__list {
    display: flex;
    color: white;
    list-style-type: none;
  }

  .nav__items__right__list * {
    margin: 10px;
  }

  .nav__items__register {
    background-color: #ffe300;
    color: black;
    padding: 5px;
    position: relative;
    top: -12px;
  }
}
