<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organic Market</title>
    <link rel="stylesheet" href="../../../scss/header.scss" />
    <link rel="stylesheet" href="../css/heroDetail.css" />
    <link rel="stylesheet" href="../css/heroDetail.css" />

</head>

<body>
    <%- include('../header')%>
    <h2><%= user.user.toUpperCase()%> Profile!</h2>
    <form action="/auth/profile" method="POST">
        <div>
            <label for="password">
                New password:
                <input type="password" name="password" required minlength="8" maxlength="12"
                    pattern="[^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#!/=*]).{8, 12}$" />
            </label>
        </div>
        <button type="submit">Save</button>
    </form>
    <form action="/auth/logout" method="POST">
        <button type="submit" name="logout">Logout</button>
    </form>
</body>

</html>