<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic Market</title>
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/signin.css" />

</head>

<body>
    <%- include('../header'); %>
    <div class="signin_container">
        <h2 class="title">Sign In! or <a class="title" href="/auth/signup">Register</a> </h2>
        <form action="/auth/signin" method="POST">
            <div>
                <label class="input" for="user">
                    User:
                    <input type="text" name="user" required>
                </label>
            </div>
            <div>
                <label class="input" for="password">
                    Password:
                    <input type="password" name="password" required minlength="8" maxlength="12"
                        pattern="[^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#!/=*]).{8, 12}$" />
                </label>
            </div>
            <button class="button" type="submit">SignIn</button>
        </form>
    </div>
</body>

</html>