<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic Market</title>
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/signin.css" />
    <link rel="stylesheet" href="../css/footer.css">

</head>

<body>
    <%- include('../header'); %>
    <div class="container">
        <div class="signin_container">
            <h2 class="title__sign">Sign In! or <a class="title__sign" href="/auth/signup">Register</a> </h2>
            <form action="/auth/signin" method="POST">
                <div class="input__text">
                    <label class="input" for="user">
                        User:
                        <input type="text" name="user" required>
                    </label>
                </div>
                <div class="input__text">
                    <label class="input" for="password">
                        Password:
                        <input class="input__invalid" type="password" name="password" required minlength="8" maxlength="12"
                            pattern="[^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#!/=*]).{8, 12}$" />
                    </label>
                </div>
                <div class="container__button">
                    <button class="button" type="submit">SignIn</button>
                </div>
            </form>
        </div>
    </div>

    <%- include('footer')%>
</body>

</html>