* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.login {
	margin: auto;
	width: 90%;
	display: flex;
	flex: 1;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}

.login-box:nth-child(-n + 1) {
	margin: 10px 0px 0px 0px;
}
.login-box:nth-last-child(-n + 1) {
	margin: 0px 0px 10px 0px;
}

.login-box {
	border: 1px solid #c01f25;
	height: 200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-button {
	background-color: black;
	border-radius: 2px;
	color: white;
	font-size: 16px;
	height: 40px;
	margin: 10px;
	padding: 20px;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-button:hover {
	background-color: #212121;
	color: #da1f26;
}

.login-img {
	height: 30px;
	margin: 10px;
}

input {
	background-color: #212121;
	border-radius: 2px;
	color: #ffffff;
	font-size: 15px;
	margin: 10px;
	padding: 20px;
	height: 40px;
	width: 80%;
}

input:focus,
.login-button:focus,
input.form-control:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none !important;
	outline-width: 0 !important;
}

.welcome-login {
	color: white;
}

<<<<<<< HEAD
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

@media only screen and (min-width: 601px) {
    .login-container {
        flex-direction: row
    }
}
=======
@media only screen and (min-width: 601px) {
	.login {
		flex-direction: row;
	}

	.login-box:nth-child(-n + 1) {
		margin: 0px 3% 0px 0px;
	}
	.login-box:nth-last-child(-n + 1) {
		margin: 0px 0px 0px 3%;
	}

	.login-box {
		width: 50%;
	}
}
>>>>>>> f3adf3209551fc5d14d3b0d5d2f46e1be28cf7bc
