@media (max-width: 600px) {
    .link-class{
      display: block;
    }
  }

  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: gray;
      background-origin: padding-box;
      padding-left: 5%;
      padding-right: 5%;
  }

  #login-button {
      border-radius: 100%;
      padding-left: 0%;
  }
  /*
  .video-class{
      display: flex;
      flex-direction: column;
      margin: auto;
  }

  .image-class{
      display: flex;
      flex-direction: column;
      align-items: baseline;
      flex: 1;
      position: relative;
      left: 2%;
  }

  .list-class{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      float: right;
  }
  */
  some-page-wrapper {
    display: flex;
    margin: 15px;
    background-color: red;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .image-class {
    background-color: orange;
    height: 100px;
  }
  
  .video-class {
    background-color: blue;
    height: 100px;
  }
  
  .list-class {
    background-color: green;
    height: 100px;
  }









