.search_title {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.separator-small-footer {
    width: 90%;
    margin: auto;
    border-bottom: 0.8px solid #d2d2d2;
    margin-bottom: 10px;
}