video, img {
    width: 320px;
    height: 320px;
}
body {
    background: paleturquoise !important;
}
header{
    display: flexbox;
}
button {
    background-color: lightgrey;
    border-radius: 15%;
    float: right;
}
footer, header, p, .container {
    background-color: rgb(255, 255, 255);
    text-align: center;
}
h1 {
    font-size: 20px;
}
nav > ul {
    list-style: none;
}
nav > ul > li {
    background-color: white;
    padding: 10px;
    display: flexbox;
    float: left;
}
.header-nav-ul-li__urlLink:hover {
     background-color: paleturquoise;
}
nav > ul > li > button {
    display: none;
}

@media only screen and (max-width: 480px) {
    ul {
        background: linear-gradient( white, rgb(9, 116, 116)) !important;
    }
    img {
        display: none;
    }
    nav > ul > li > button {
        display: inline;
    }
    .display-inline {
        display: inline;
    }
    .display-none{
        display: none;
    }
}