body {
    background-color: rgb(243, 237, 229);
    display:flex;
    flex-direction: column; 
}

.sliderContainer{
        height: 40vh;
        background: url("https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5c969f181-png/1080X600.png");
        background-size: contain;
        margin: 10vh 10vw;
}

.navigation-container ul{
    width: 5px;
    height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    margin: 0 !important;
    padding: 0 !important;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.row{
    display: flex;
    flex-direction: row;
}

.row > .moldes-reposteria{
    flex-grow: 1;
}

.col {
    display: flex;
    flex-direction: column;;
}

.moldes-reposteria{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.moldes-reposteria p{
    position: absolute;
    justify-content: end;
}

.moldes-reposteria img{
    height: 100%;
    border: 1px black;

}

.submain-img{
    display: flex;
    justify-content: center;
}

#utensilios {
    width: 5px;
    height: 5px;
}











