body {
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma;
}

table {
    background-color: black;
    border: black 4px solid;
    border-radius: 1em;
    width: 388px;
    height: 500px;
    text-align: center;
    margin: 70px auto;
}

td {
    background-color: burlywood;
    border: black 2px solid;
    border-radius: 2em;
    padding: 2px;
    margin: 1px;
    width: 20%;
    height: 15px;
}

#screen {
    text-align: end;
    font-size: 28px;
    padding-right: 10px;
    height: 25px;
}

.button:active {
    background-color: grey;
}
