.icon{
    max-width:80px;
    max-height:80px;
    margin-top:20px;
    min-width: 80px;
    min-height: 80px;
    
}
.icon-h{
    width:30px;
    height:30px;
}
.icon-m{
    width:20px;
    height:20px; 
}
.color-menu{
    display:none;
}
.icon-cont{
    display:flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
}
.hamburger{
    filter: invert(30%) sepia(88%) saturate(7355%) hue-rotate(356deg) brightness(100%) contrast(121%);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.person{
    margin:0px 50px;
}
.person:hover{
    filter: invert(30%) sepia(88%) saturate(7355%) hue-rotate(356deg) brightness(100%) contrast(121%);
}
.magnifier{
    
    background-color: grey;
    
}
.buy-car{
    margin:0px 5px;
}
.buy-car:hover{
     background-color: red;
}
.car:hover{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
   
}

.sub-pre-footer2:hover{
    filter: invert(30%) sepia(88%) saturate(7355%) hue-rotate(356deg) brightness(100%) contrast(121%);
    
    }

.sub-header1{
    background-color: rgb(234, 234, 255);
    display:flex;
    flex-direction:row;
    justify-content: center;
    max-height: 60px;
    padding:10px;
    position:fixed;
    width:100%;
}
.section1{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.number{
    width:60px;
    height:60px;
    font-size:40px;
    margin:0px 20px 0px 5px;
    background-color: red;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.sub-header2{
    display: flex;
    justify-content: center;
    width:100%;
    height:160px;
    align-items: flex-end;
    margin-bottom: 30px;
    
}
.options-sub-header2{
    display:none;
}

.category-title{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.card-title{
    padding:10px;
    font-size: 15px;
    font-weight: bold;
    margin-block-start: 0em
}
.card-explain{
    display:none;
}
.category-name{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
}
.cardA{
    height:250px;
    min-height:100px;
    min-width: 400px;  
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}
.card{
    height:280px;
    width:400px;    
    min-height:100;
    min-width: 400px;
    margin-bottom: 10px;
}

.cards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:30px;
    align-self: center;
}
.cards-right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.sub-pre-footer1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.sub-pre-footer2{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:15vw;
    margin-right: 20px;
}
.pre-footer{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#efecec;
    padding:20px;
}
.footer{
    display:flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin-top: 5vh;
}

.container-card{
    
    position:relative;
    display:flex;
    flex-direction: column-reverse;
    
    
}
.line{
    width: 30vw;
    height: 5vh;
    border-bottom: solid 1.5px black;
    margin-top:5vh;
    margin-bottom:5vh;
}
.edit-text{
    width:70vw;
    height:7vh;
    max-width: 500px;
    max-height: 80px;
    border:solid 1.5px black;
    background-color: white;
    margin:2vh;
}
.privacity-container{
    display: flex;
    justify-content: center;
}
.box{
    margin-right: 1vw;
    display: flex;
    align-self: center;
    width:20px;
    height:20px;
    border:solid 2px grey;
}
.subscribe{
    width:70vw;
    height:7vh;
    max-width: 500px;
    max-height: 80px;
    background-color: red;
    color:white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top:4vh;
}
.subscribe:hover{
    background-color: rgb(248, 97, 97);
}
.icon-footer-menu{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    width:25px;
    height:25px;
    
    
}
.information-icon{
    display: flex;    
    background-color: red;
    color:white;
    font-size: 30px;
    font-weight: bold;
    width:60px;
    height:60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;    
    vertical-align: center;
}
.container-icons{
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100px;    
    align-items: center;
}
.container-icons:hover{
    border-bottom: solid 1px red;
}
.container-icons-menu-footer{
    display: flex;
    color:white;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border:solid 2px red;
    font-weight: bold;      
    background-color: red;
    width:40px;
    height:40px;
}
.text-menu-footer{
    color:red;
    font-size: 13px;
}
.menu-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.select{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 3vw;
    

}
.image{
    width:100%;
    height:80%;
    
}
.carrousel-points{
    display:flex;
    justify-content: center;
    margin-top: 2vh;
}
.carrousel{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-title{
    position:relative;
}

.category-card{
   position: absolute;
   width:160px;
   height:150px;
   margin-left: auto;
   background-color: white;
   opacity: 70%;
   
}
.category-card-A{
    position: absolute;
    width:160px;
    height:150px;
    margin-left: auto;
    background-color: white;
    opacity: 70%;
    
 }



.img-dish{
    max-width:500px;
    min-width: 300px;
    max-height:500px;
}
.title-dishes{
    text-align: center;
    vertical-align: middle;
    
    background-color: red;
    font-size: 20px;
    color:white;
    font-weight: bold;
    width:80vw;
    height:100%;
    padding:10px;
}
.title-dishes-cont{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-dish-cont{
    display: flex;
    flex-direction: column;
    align-self: start;
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.name-cont{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.por{
    margin-bottom:2px
}
.name{
    margin-top:2px;
    color:red;
}
.auth-photo{
    width: 15vw;
    height: 10vh;
    min-width: 60px;
    min-height: 60px;
    max-width:100px;
    max-height:100px;
}
.dishes-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dish{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
}
.second-dish{
    display:none;
}
.third-dish{
    display:none;
}
.brands-list {
    display: block;
}
.brands-list {
    display: none;
}
.social-nets{
    display:flex;
    justify-content: center;
}
.social-net{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:3px;
    width:30px;
    height:30px;
    border-radius: 0% 0% 30% 30%;
    border:solid 2px red;
}
.social-net:hover{
    filter: grayscale(100%);
}
.social{
    margin:5px;
    max-width: 20px;
    max-height: 20px;
    filter: invert(30%) sepia(88%) saturate(7355%) hue-rotate(356deg) brightness(100%) contrast(121%);
    
}
.copyright-container{
    width:100%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:white;
    font-size: 16px;
    margin-top: 40px;
    
}
.social-container{
    display: flex;
    flex-direction: column;
}
.e-mail{
    display:flex;
    flex-direction: column;
}
.e-mail-container{
    display:flex;
    flex-direction: column;
}
.e-mail-title{
    font-size:14px;
}
.symbols{
    display:none;
}
.sub-header2-right{
    display:none
}
@media screen and (min-width:600px){
    .icon{
        min-width: 160px;
        min-height: 160px;
    }
    .person{
        margin-left:auto;

    }
    
    .category-name{
        font-size: 20px;
    }
    .card-explain{
        display:block;
        padding-left:5px;
        font-size:15px;
        }
    .right{
        align-self: flex-end;
    }
    .cards{
        flex-direction: row;
        justify-content: space-around;
        
    }
    .category-card{
        width:50%;
        height:100%;
    }
    .category-card-A{
        width:100%;
        height:50%;
    }
    .cardA{
        min-width: 100px;
        min-height:572px;
        margin-right: 10px;
    }
    .card{
        margin-bottom: 10px;
    }
    .dishes{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .second-dish{
        display:flex;
    }
    .brands-list{
        display:none;
    }
    .container-icons{
        flex-direction: row;
        justify-content: space-around;
        
    }
    .container-icons:hover{
        border-bottom:solid 1px white;
    }
    .text-menu-footer:hover{
        border-bottom: solid 1px red;
    }
    .container-icons-menu-footer{
        margin-right: 20px;
    }
    .menu-footer{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .number{
        margin-right:10vw;
    }
    .options-sub-header2{
        display:flex;
        justify-content: center;
        margin-left: 50px;
        margin-bottom: 12px;
    }
    .button-sub-header2{
        display:flex;
        
        justify-content: center;
        align-items:center;
        color:white;
        width:140px;
        height:30px;
        margin-right: 10px;
    }
    .news{
        background-color: rgb(104, 145, 104);
    }
    .oferts{
        background-color: rgb(143, 119, 143);
    }
    .but-header-img{
        width:25px;
        height:25px;
        margin-right:3px;
    }
    .symbols{
        display:none;
    }
    .sub-header2-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}
@media screen and (min-width:800px){
    .icon{
        max-width: 150px;
        max-height: 150px;
    }
    .category-name{
        font-size: 25px;
    }
    .cards{
        flex-direction: row;
        justify-content: space-around;
        max-width: 682px;
        
    }
    .cardA{
        min-width: 100px;
        min-height:572px;
        margin-right: 10px;
    }
    
    .container-card-c{
        display:flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        
        
    }
    .category-card-c{
        
        bottom: auto;
    }
    .right{
        right:70px;}
    
    .card-explain{
        display:block;
        padding-left:5px;
        font-size:15px;
        }
    .category-card{
        width:200px;
        height:150px;
    }
    .category-card-A{
        width:200px;
        height:150px;
    }
    
    .category-card:after{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 200px solid rgba(255,255,255,1);
        border-right: 100px solid transparent;
        position: absolute;
        right: -100px;
        top: 0;
    }
    .category-card-A:after{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 200px solid rgba(255,255,255,1);
        border-right: 100px solid transparent;
        position: absolute;
        right: -100px;
        top: 0;
    }
    .third-dish{
        display:flex;
    }
    .brands-list {
        display: block;
    }
    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        padding-inline-start: 40px;
    }
    .brand{
        margin:20px;
    }
    .title-brands{
        margin:50px 150px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        width:340px;
    }
    .brands-list{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .pre-footer{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .sub-pre-footer1{
        justify-content: space-between;
    }
    .sub-pre-footer2{
        margin:40px;
    }
    .footer{
        flex-direction: row;
        min-height: 240px;
        align-items: unset;
        margin-left: 50px;
    }
    .line{
        height:150px;
        border-bottom: solid 0px white;
        border-left: solid 1px black;
        margin-left: 40px;
        width:40px;
    }
    .social-container{
        margin-top:50px;
    }
    .e-mail-container{
        flex-direction: row;
        height:250px;
        width: 850px;
    }
    .e-mail{
        width: 300px;
        justify-content: center;
        align-items: center;
    }
    .edit-text{
        width: 250px;
    }
    .subscribe{
        display: flex;
        width: 180px;
        height: 50px;
        align-self: center;
        padding-top: 0px;
        align-items: center;
        justify-content: center;
    }
    .menu-footer{
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-left: 20px;
    }
    .container-icons{
        margin-top: 0px;
        height:50px;
    }
    .symbols{    
        display:flex;
        justify-content: center;
        align-items: center;
        }
    .symbol{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100px;
        height:124px;
        margin-right: 5px;
        
    }
    .img-symbol{
        width:66px;
        height:66px;
        
    }
    .text-symbol{
        display:flex;
        justify-content: center;
        width:96px;
        height:20px;
        font-size: 12px;
        margin-top: 2px;
        
    }
    .sub-header2{
        height:220px;
    }
    .sub-header2-right{
        margin-bottom:-30px;
        margin-left: 50px;
        align-items: flex-start;
    }
    .options-sub-header2{
        margin-left: 0px;
    }
    .cont-symbol{
        width:96px;
        height:96px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(205, 241, 237);
    }
    .cont-symbol-blog{
        width:96px;
        height:96px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(179, 18, 18);
    }
    .cont-symbol:hover{
        background-color:  rgb(179, 18, 18);
    }
    .cont-symbol-blog:hover{
        background-color:rgb(205, 241, 237) ;
    }
    .color-menu{
        display: flex;
        width:240px;
        justify-content: center;
    }
    .hamburger{
        display:none;
    }
    .red-icon{
        width:76px;
        height:140px;
        background-color: rgb(240, 61, 61);
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .blue-icon{
        width:76px;
        height:76px;
        background-color: rgb(107, 107, 211);
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .orange-icon{
        width:76px;
        height:76px;
        background-color: rgb(243, 157, 45);
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .blue-icon:hover{
        height:140px;
        justify-content: flex-end;
    }
    .orange-icon:hover{
        height:140px;
        justify-content: flex-end;
    }

}




