<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero List</title>
    <%-include('./partials/hero-list')%>
   
</head>
<body>
    <section class="lightbox">
        <%-include('./partials/header')%>
        <h2>List</h2>
    </section>
   
<script src="../hero.mock.js"></script>
<script src="./heroListLogic.js"></script>
</body>
</html>