*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: justify;
    --cTxtGray: gray;
    --cTxtDarkgray: rgb(39, 39, 39);
    --cTxtWhite: white;
    --cBgLightGray: rgb(228, 226, 226);
    --cBorderGray: gray;
    --cCoRed: red;
    --cCoYellow: yellow;
    --cCoOrange: orange;
}
p{
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 1rem;
}
h1{
    text-align: center;
    margin: 1rem 0;
}
blockquote{
    text-align: center;
    margin: 1rem;
}

.flexbox-container-example{
    width: 90%;
    margin: auto;
    padding: 2.5rem;
    border: 1px solid var(--cBorderGray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.flexbox-main-item{
    margin-bottom: 2rem;
}
.flexbox-buttons{
   width: 90%;
   margin: auto;
   padding: 1.25rem 2.5rem;
   border: 1px solid var(--cBorderGray);
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   background: var(--cBgLightGray);
}
.flexbox-subcontainer{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flexbox-main-item2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
}
.flexbox-main-body-sub{
    width: 75%;
}
.flexbox-main-body-sub-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.5rem;
}
.smallButton{
    border-radius: 50%;
    color: var(--cTxtWhite);
    min-width: 25px;
    min-height: 25px;
    font-weight: bold;
    margin: 0 .5rem;
}
.smallButtonRed{
    background: var(--cCoRed);
}
.smallButtonYellow{
    background: var(--cCoYellow);
}
.smallButtonOrange{
    background: var(--cCoOrange);
}
.caption_heading{
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--cTxtDarkgray);
    margin-top: 0;
}
.caption_subheading_center{
    text-align: center;
    margin-top: 0;
    color: var(--cTxtGray);
    font-size: 1.1rem;
}
.caption_heading_center{
    text-align: center;
    font-size: 1.5em;
    margin-top: 1rem;
}
.caption_subheading_left{
    color: var(--cTxtGray);
    font-size: 1.3rem;
    margin-top: 0;
    text-align: left;
}
.caption_heading_left{
    text-align: left;
    font-size: 1.7em;
    margin-top: 0;
}
.square{
    width: 250px;
    height: 250px;
    background: var(--cBgLightGray);
    border: 1px solid var(--cBorderGray);
}
.flexbox-main-body-sub-header-circle{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: var(--cBgLightGray);
    border: 1px solid var(--cBorderGray);
    margin-right: 1.5rem;
}
.triangle{
    width: 0;
    height: 1rem;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 90px solid var(--cBorderGray);
    margin-bottom: 1rem;
    margin: auto;
}
.inner_triangle {
    position: relative;
    top: 19px;
    left: -58px;
    width: 0;
    height: 0;
    border-right: 58px solid transparent;
    border-left: 58px solid transparent;
    border-bottom: 88px solid var(--cBgLightGray);
    margin: auto;
}
.flexbox-main-body-sub-header-left{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.flexbox-main-body-sub-header-date{
    color: var(--cTxtGray);
    font-size: 1.3rem;
}
footer > p {
    margin: 1rem 0;
    text-align: center;
    font-size: 1rem;
    color: var(--cTxtGray);
}