*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    position: relative;
}
ul{
    color: #111111;
    list-style: none;
}
li{
    display: inline;
    background-color: #000066;
    color: #ffffff;
    line-height: 1.75rem;
    padding-left: 2.5rem;
    width: 12rem;
}
li.gris{
    background-color: #555555;
}
li.rojo{
    background-color: #660000;
}
p{
    margin: 0.25rem;
}
.clickable{
    width: 12rem;
    margin: 0.5rem 1rem;
    text-align: center;
    border: 0;
    border-radius: 0.2rem;
    background-color: #bbbbbb;
}