/*Main Area*/
body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6d9d9;
    background-image: url('../images/pattern.png');
}

#mainheader {
    background-color: #a593c2;
}

/*Top Menu*/

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

/*Side Menu*/

.mainContent ul{
    padding-inline-start: 2px;
    margin-right: 1.5rem;
}

.mainContent ul>a>li{
    background-color: #cf4522;
    color: #fff;
    list-style: none;
    padding: 14px 25px;
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
}

.mainContent ul>a>li:hover{
    background-color: #B43110;
}

.mainContent ul>a{
    text-decoration: none;
    color: #fff;
}

.mainContent{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.leftmenu {
    float: left;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/*Main Content*/

.main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.pageTitle{
    font-size:35px;
    color:#a593c2;
}

/*Footer*/
footer {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rowFlex{
    display: flex;
    flex-direction: row;
/*    align-items: center;*/
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
}
@media only screen and (max-width: 600px){
    .mainContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:auto;
        align-items: center;
    }
    .rowFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:auto;
        align-items: center;
    }
    
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }
    footer {
        clear: both;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}