.projectBudgetOptions__tab
  width: 100%
  list-style-type: none
  display: flex
  flex-direction: row
  justify-content: space-between
  align-content: stretch
  background-color: #011627
    
  > div > div
    display: inline-block
    margin: 0
    background-color: #011627
    color: white
    line-height: 2rem
    text-align: center

    > p
      color: white
      padding: 0
      margin: 0

      &:hover
        color: white

.tab__item
  flex-grow: 1

  &:hover
    background-color: #e53d00

.tab__mainText
  flex-grow: 4

  &.tab__mainText--left
    text-align: left

.tab__text
  padding: .5rem 1.5rem

.tab__icon
  padding: .5rem
  max-width: 2.5rem

.icon
  text-align: center

.tab__right
  padding-right: 1.5rem