.projectFlow__container
  background-color: #f6f6f6
  width: 100%
  border-radius: .7rem
  padding: 1rem 0
  text-align: center

  > h2
    color: #011627
    font-size: 1.5rem
    letter-spacing: 1.5
    font-weight: 500

  > ul
    margin: 1rem 0
    text-align: center
  
    > li
      padding: .5rem