<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Skylaber Dashboard</title>
	<link rel="stylesheet" href="student-dashboard.component.css" />
</head>

<body>
	<h1>Skylabers Directory</h1>
	<a href="../student-dashboard/student-dashboard.component.html">Dashboard</a>
	<a href="../student-list/student-list.component.html">List</a>
	<h2>Top Skylabers</h2>
	<div class="skylaber__dashboard">

	</div>
	<script src="../student.js"></script>
	<script src="../student.mock.js"></script>
	<script src="./studen-dashboard.component.js"></script>
</body>

</html>