body {
  background-color: #1a1a1a;
  font-family: Arial;
  margin: 0;
  padding: 0;

  position: relative;
  min-height: 100vh;

  .css-3fvcat {
    margin: 50px auto;
  }

  p {
    padding: 0;
    margin: 0;
  }
}
