<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server response</title>
</head>
<body>
    <header>
        <h2>Response from node running server</h2>
    </header>
    <p>
        Here we expect some data... It you are seeing this message, node server is running and has imported this html file.
    </p>
    <a href='/about'>Go to about page</a>
</body>
</html>