.li {
    font-style: italic;
    color: blue;
}
.first-paragraph {
    background-color: grey;
    }
    .second-paragraph{
    background-color:red !important;
    }

    p {
        color: white;
    }