.bg-gradient-blue {
    background: linear-gradient(to bottom, #00ccff 0%, #0066ff 100%);
}


@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .bg-gradient-blue {
      background: blue;
    }
<<<<<<< HEAD
    .col {
        display: block;
    }
    
  }

  .btn-circle .btn-xl {
=======
  }

  .btn-circle.btn-xl {
>>>>>>> origin
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
