.top {
    display: flex;
    flex-direction: row;
}

.flexbox-container {
    background-color: gray;
    border: 1px solid;
    padding: 12px;
    display: flex;
    display: row;
}

.flexbox-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    align-items: center;
}

.flex-item {
    border: 1px solid;
    background-color: red;
    margin: 12px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
}
