.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description {
    flex-direction: row;
}

.description__top {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.description__top__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    width: 50%;
}

.description__top__heading__cicle {
    border: solid 1px black;
    border-radius: 50%;
    padding: 10px;
    color: grey;
    background-color: grey;
}
.description__top__heading__title {
    padding: 20px;
}

.description__top__date {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 10%;
    align-items: center;
}

.description__bottom {
    margin-left: 20px;
}

section {
    display: flex;
    flex-direction: row;
    padding: 24px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px
}
.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}