/* reset default navigator styles and default element styles*/
* {
    margin: 0;
    padding-bottom: 0;
}

body{
    overflow-x: hidden;
    background-color: #101010;;
    line-height: 1;
    color: #fff;
    font-family: NotoSans-Regular,Arial,sans-serif;
}

header{
    width: 100%;
    position: absolute;
}

main{
    background-color: #101010;
}

.subtitles{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #101010;
}

h2{
    font-size: 20px;
    margin: 5px 5px 5px 5px;
    background-color: #101010;
}

a{
    text-decoration:none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}



li{
    list-style:none;
}

/* header styles */


.nav__container{
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.7) 20%,rgba(0,0,0,.4) 50%,transparent 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__items{
    width: 94%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__items__logo{
    width: 125px;
}

.nav__items__logo svg {
    width: 100%;
}

.nav__items__menu{
    display: none;
}

.search__box{
    display: none;
}

.nav__items__search{
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav__items__search img{
    filter: invert(1);
    width: 25px;
    box-shadow: black;

}

.nav__items__user__anchor{
    display: none;
}

.nav__items__user, .nav__items__user--notlogged{
    display: none;
}

.button__contents__call{
    background-color: #ffe300;
    color: black;
    font-size: 12px;
}

.input-container{
    display:none;
}


/* slider styles */



.slider-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider-items img{
    display:block;
    margin:0 -28%;
    width:150%;
}




/* main wrapper section*/

.banner-section{
    min-width: 1250px;
    margin-top: 25px;
}

.item-wrapper{
    display: flex;
    flex-wrap: nowrap;
    background-color: #101010;;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}

.item-wrapper > div {
    width: 100%;
    box-sizing: border-box;
    padding: 0 6px 6px 6px;
    margin-top: 15px;
}

.item-wrapper div > img{
    width: 100%;
    border: solid 4px transparent;
}

.item-wrapper div > img:hover{
    border-color: yellow;
    border-radius: 2px;
}

.secondary-banner{
    min-width: 3000px;
}

.genre-section{
    min-width: 1250px;
    margin-top: 25px;
    background-color: #101010;
}

.item-image{
    margin-bottom: 10px;
}

.item-image img:hover{
    filter: grayscale(0.5);
}

.item-text{
    height: 30px;
    display: flex;
    align-items: flex-start;
}

.item-text p {
    text-align: center;
    white-space: normal;
    line-height: 140%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.genre-wrapper{
    display: flex;
    flex-wrap: nowrap;
    background-color: #101010;;
    justify-content: start;
    box-sizing: border-box;
    margin-top: 25px;
   
}

.genre-wrapper > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    margin-left: 20px;
}

.genre-item img{
    max-width: 90px;
    max-height: 90px;
}

.genre-item p{
    width: 95px;
    text-align: center;
}

/* footer styles */

footer{
    margin-top: 50px;
}

.main-footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.secondary-footer{
    height: 200px;
    background-color: lightblue;
}

.footer-logo{
    position: fixed;
    height: 76px;
    z-index: 1px;
}


@media screen and (min-width: 600px) and (max-width: 1023px){
    .slider-items img{
        display:block;
        margin:0;
        width:100%;
    } 

}

@media screen and (min-width: 1024px){
    .slider-items img{
        display:block;
        margin:0;
        width:100%;
    } 

    header{
        position: relative;
    }

    .nav__container{
        position: fixed;
        z-index: 1;
        background-color: black;
    }

    .nav__items{
        justify-content: flex-start;
    }

    .nav__items__menu{
       display: contents;
    }

    .nav__items__menu ul{
        display: flex;
        flex-direction: row;
        margin-left: -30px;
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .nav__items__menu ul li{
        margin: 0 10px;
    }

    .nav__items__menu ul li:hover{
        color:yellow;
    }


    .search__box{
        display: contents;
    }
    
    .nav__items__search{
        display: none;
    }
    
    .nav__items__user{
        display: contents;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .nav__items__user button{
        margin: 0 10px;
        background-color: yellow;
        border-radius: 2px;
        color: black;
        height: 36px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        border: 0;
    }

    .input-container{
        display: contents;
        display: flex;
        flex-grow: 2;
    }

    .input{
        padding-left: 40px;
        height: 40px;
        background-color: #333;
        border-radius: 2px;
        border: 0;
    }
   
}