<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hero List</title>
		<link rel="stylesheet" href="../public/css/listItems.css" />
	</head>

	<body>
		<h1>Tour of Heroes</h1>
		<button><a href="/">Dashboard</a></button>
		<button><a href="./listItems">Heroes</a></button>
		<h2>My Heroes</h2>
		<section class="list"></section>
		<section class="my-hero">
			<h2><span class="my-hero__name"></span> is my hero</h2>
			<button><a class="button">View details</a></button>
		</section>
		<script src="../public/js/Hero.js"></script>
		<script src="../public/js/hero.mock.js"></script>
		<script src="../public/js/hero-list.component.js"></script>
	</body>
</html>
