.mainContainerAbout {
	padding: 50px 0;
	display: flex;
	flex-direction: row;
}

.titleAbout {
	text-align: center;
	display: block;
	margin-top: 150px;
	font-weight: bold;
}

p {
	text-align: justify;
	margin: 15px 15px;
	font-style: oblique;
	color: gray;
}

h3 {
	margin: 15px;
}

.containerAbout {
	margin: 0;
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	align-items: center;
	justify-content: center;
}

.profileImage {
	width: 150px;
	border-radius: 50%;
}

.usAbout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 33vw;
}
