.containerAbout {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.profileImage {
    width: 150px;
    border-radius: 50%;
}

.usAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto
}