<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Dashboard</title>
    <link rel="stylesheet" href="public/css/dashboard.css">
</head>

<body>
    <h1>Tour of Heroes</h1>
    <button>Dasbord</button>
    <button><a href="/list">Heroes</a></button>

    <h1>Dashboard!</h1>
    <section class="dashboard">
        <% dashboardList.forEach(element => { %>
        <div class="dashboard__item">
            <a href=<%='/hero?id='+element.id %>>
                <%=element.name%>
            </a>
        </div>
        <% }) %>
    </section>
</body>

</html>