<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <h1>Tour of Heroes</h1>
    <button>Dasbord</button>
    <button><a href="/list">Heroes</a></button>

    <h1>Dashboard!</h1>
    <section class="dashboard">
        <div class="dashboard__item"><a href="/hero?id=bombasto">Bombasto</a></div>
        <div class="dashboard__item"><a href="/hero?id=celeritas">Celeritas</a></div>
        <div class="dashboard__item"><a href="/hero?id=narco">Narco</a></div>
        <div class="dashboard__item"><a href="/hero?id=mrnice">Mr. Nice</a></div>
    </section>
</body>

</html>