.hero__id {
    background-color: #607D8B;
    color: white;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.hero__name {
    background-color: #EEEEEE;
    color: #B2B2B2;
    padding: 5px;
    padding-left: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.list {
    text-decoration: none;
    display: flex;
    margin-bottom: 12px;
}