.hero__name {
	background-color: #eeeeee;
	color: #b2b2b2;
	padding: 5px;
	padding-left: 10px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.list {
	text-decoration: none;
	display: flex;
	margin-bottom: 12px;
	height: 24px
}

.hero-list__item--delete {
	display: none;
	margin-left: 12px;
}

.list:hover .hero-list__item--delete {
	display: inline-block;
}