# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
./scannerwork

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.apng
*.jpg
*.jpeg
*.png
*.gif
*.raw
*.tiff
*.eps
*.ico
*.WebP
*.bmp
*.ai
*.mpg
*.mpeg
*.wav
*.pdf
*.mp3
*.mp4
*.ogg
*.mov
*.WebM
*.flac
*.adts
*.3gp
