* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB;
    height: 600px;
}

.heroCard {
    background-color: #FFFFFF;
    width: 43%;
    padding: 10px 20px;
    box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
    border-radius: 4px;
}

h2 {
    color: #999999;
    font-size: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 10px;
}

.actions button {
    padding: 5px;
    border: none;
    background-color: #EEEEEE;
    color: #5F7D8C;
    font-weight: bold;
    border-radius: 2px;
}

.id {
    color: #5F7D8C;
    font-weight: bold;
}

.id-container {
    margin-bottom: 10px;
}

.name-container {
    margin-bottom: 15px;
}

.name-container input {
    height: 30px;
    border: 1px solid #7788994f;
    border-radius: 1px;
}

.buttonBack {
    background-color: #EEEEEE;
    padding: 5px;
    border: none;
    color: #999999;
    font-weight: bold;
    border-radius: 2px;
}