.flexbox-container {
    display: flex;
    flex-direction: column;
}

.flex-box1 {
    display: flex;
    flex-direction: row;
}

.cuadrado {
    border: none;
    width: 12rem;
    height: 10rem;
    background-color: gray;
}

.flex-box1-item2 {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.container-mini {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.redonda {
    border: none;
    width: 5rem;
    height: 5rem;
    background-color: gray;
    border-radius: 50%;
}

.flex-box3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contain_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-trig {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.triangulo {
    height: 3rem;
    width: 3rem;
    background-color: gray;
}