.HeroDetails {
	border: solid 5px rgb(5, 5, 102);
	margin-top: 200px;
	margin-left: 100px;
	min-height: 150px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	padding-bottom: 30px;
}
