<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hero Details</title>
		<link rel="stylesheet" href="hero-detail.component.css" />
	</head>
	<body>
		<h1>Tour of Heroes</h1>
		<a href="./hero-detail.component.html">Detail</a>
		<a href="../hero-list/hero-list.component.html">Heroes</a>
		<a href="../hero-dashboard/hero-dashboard.component.html">Dashboard</a>
		<h2><span id="hero-detail__name"></span> Dashboard</h2>
		<table id="heroDashboardTable"></table>
		<script src="../hero.js"></script>
		<script src="../hero.mock.js"></script>
		<script src="hero-dashboard.component.js"></script>
	</body>
</html>
