body{
    background-color: rgb(198, 234, 255);
}

.hidden, .hidden > *{
    display: none;
}
.visible, .visible > *{
    display: block;
}

#roscoHolder{
    position: absolute;
    left: 15%;
    top: 20%;
        
    background-color: aquamarine;
}
#parentdiv
{
    
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 150px;
    transform: rotate(-105deg);
    background-color: red;
    
}


.div2
{
    visibility: visible;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 60, 255);
    border-radius: 100px;
    -webkit-box-shadow: inset -9px -10px 8px -5px rgba(0,0,0,0.28);
     -moz-box-shadow: inset -9px -10px 8px -5px rgba(0,0,0,0.28);
     box-shadow: inset -9px -10px 8px -5px rgba(0,0,0,0.28);
     color: white;
     display : flex;
     justify-content : center;
     transform : rotate(105deg);
     margin : 0px auto;
     text-Align : center;
     align-Items : center;
     font-family: sans-serif;
     font-weight: 700;
     font-size: 180%;

}