<aside>
  <ul class="aside__container">
    <li class="aside__item">
      Filtro 1
    </li>
    <li class="aside__item">
      Filtro 2
    </li>
    <li class="aside__item">
      Filtro 3
    </li>
    <li class="aside__item">
      Filtro 4
    </li>
  </ul>
</aside>