<form action="/products/create" method="POST" name="addProductFromListForm">
	<label for="createHeroWithName">Product name:</label>
	<input type="text" value="" name="createProductWithName"
		placeholder="Your Product"></input>
	<button type="submit" title="add product" name="productName"
		value="">add</button>
</form>