<footer>
	<div class='limitMaxWidth'>
		<div class='footer__container'>
			<div class='footer__leftSide'>
				<p>Francesc - Jordi - Fernando <a href='https://www.skylabcoders.com'>Skylab</a> Bootcamp 202007</p>
			</div>
			<div class="footer__rightSide">
				<img class="icons__img" src="icons/facebook.svg" alt=""/>
				<img class="icons__img" src="icons/instagram.svg" alt=""/>
				<img class="icons__img" src="icons/twitter.svg" alt=""/>
			</div>
		</div>
	</div>
</footer>