.slider-container {
	background-color: #28272d;
	padding-top: 15px;
	padding-bottom: 35px;
	width: 100%;
}

.slider__link {
	padding: 20px;
	width: 100%;
}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.slider-center {
	width: 100%;
	height: 650px;
	margin: 0 auto;

	text-align: center;

	background-repeat: 'no-repeat';
	background-size: 100% 100%;

	animation: slider 5s infinite;

	border-radius: 3px;
	border: 3px solid #c01f25;
}

.slider-lateral {
	width: 100%;
	height: 250px;

	margin: 0 auto;

	text-align: center;

	background-repeat: 'no-repeat';
	background-size: 100% 100%;

	animation: slider 5s infinite;

	border-radius: 3px;
	border: 2px solid #c01f25;
}

.center {
	width: 100%;
}

.lateral {
	width: 20%;
	display: none;
}

.slider__title {
	width: 100%;

	background-color: white;
	opacity: 80%;

	text-decoration: none;
	color: black;
}

.dots {
	display: flex;
	justify-content: center;
}

.dot {
	margin: 5px;
	height: 15px;
	width: 15px;
	background-color: #c01f25;
	border-radius: 50%;
	display: inline-block;
}

.dot:hover {
	background-color: #da1f26;
}

@keyframes slider {
	0% {
		opacity: 5%;
	}
	30% {
		opacity: 100%;
	}
	80% {
		opacity: 100%;
	}
	100% {
		opacity: 5%;
	}
}

@media only screen and (min-width: 600px) {
	.lateral {
		display: block;
	}
	.center {
		width: 60%;
	}
}
