* {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

.search {
  background-image: url("https://credicelu.net/tienda/wp-content/uploads/2019/10/lupa-blanca.png");
  margin-top: 5px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-color: black;
  margin-right: 3vw;
}

.header-item {
  display: none;
}

.search-box {
  display: none;
}

.register {
  display: none;
}

.big-slider {
  margin-top: 40px;
  height: 29vw;
  width: 100%;
  background-image: url("https://images-2.wuaki.tv/system/images/3722/original/new-channels-avod-1593523202-width1920-quality80.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.big-slider img {
  width: 100%;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1.5vw;
  height: 100%;
}

.dot {
  display: flex;
  flex-direction: row;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: lightgrey;
  margin: 0 5px;
}

.small-slider {
  height: 65vw;
  background-color: black;
  position: relative;
}

.small-slider-text {
  height: 7vw;
  border: 2px yellow;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.small-slider-cinema {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 7px;
}

.small-slider-cinema:after {
  display: inline-block;
  content: ">";
  position: relative;
  margin-left: 4px;
}

.small-slider-view-all {
  display: none;
}

.small-slider-content {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  position: relative;
}

.small-slider-content::-webkit-scrollbar {
  display: none;
}

.list__item {
  margin: 0 5px;
  position: relative;
}

.label {
  background-color: #ffcc00;
  color: #000000;
  position: absolute;
  top: 1vw;
  left: 1vw;
  z-index: 1;
  font-size: 80%;
  padding: 3px;
}

.artwork__image {
  border: 4px solid transparent;
  border-radius: 2px;
  width: 40vw;
}

.artwork__image:hover {
  border: 4px solid #ffe300;
  border-radius: 2px;
}

.tooltip {
  display: none;
}

@media screen and (min-width: 600px) {
  .small-slider {
    height: 50vw;
  }

  .small-slider-cinema:after {
    display: none;
  }

  .small-slider-view-all {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
  }

  .small-slider-view-all:after {
    display: inline-block;
    content: ">";
    position: relative;
    margin-left: 4px;
  }

  .artwork__image {
    border: 4px solid transparent;
    border-radius: 2px;
    width: 30vw;
  }

  .label {
    font-size: 90%;
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .header-item {
    display: block;
    color: white;
    padding: 0px 10px;
  }

  .void {
    flex: 1;
  }

  .search {
    display: none;
  }

  .register {
    display: block;
    color: black;
    background-color: #ffe300;
    padding: 10px;
  }

  .cinema:after {
    display: inline-block;
    content: "▼";
    position: relative;
    bottom: 1px;
    margin-left: 4px;
    font-size: 10px;
  }

  .subscription:after {
    display: inline-block;
    content: "▼";
    position: relative;
    bottom: 1px;
    margin-left: 4px;
    font-size: 10px;
  }

  .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333;
    border-radius: 2px;
    width: 220px;
    height: 40px;
    margin: 10px;
  }

  .search-image {
    background-image: url("https://credicelu.net/tienda/wp-content/uploads/2019/10/lupa-blanca.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-size: 100%;
    background-color: black;
    margin-left: 5px;
    background-color: #333;
  }

  .find {
    margin-left: 15px;
    color: #ccc;
  }

  .small-slider {
    height: 29vw;
  }

  .artwork__image {
    border: 4px solid transparent;
    border-radius: 2px;
    width: 15vw;
  }

  .list__item__2:hover + .tooltip {
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
    outline: 0;
    will-change: opacity;
    border-radius: 8px;
    position: absolute;
    top: -8%;
    right: initial;
    left: 31%;
    width: 470px;
    height: 109%;
    white-space: normal;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center center;
    transition: opacity 0.2s ease;
    z-index: 200;
    opacity: 1;
    display: block;
    background-image: url("https://images-3.wuaki.tv/system/shots/199690/original/snapshot-1590667986-width480-quality30.jpeg");
  }

  .tooltip__wrapper {
    color: #fff;
    white-space: normal;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1),
      0 2px 2px -1px rgba(0, 0, 0, 0.6);
    padding: 20px;
    background: linear-gradient(to right, #000 3%, rgba(0, 0, 0, 0.8) 20%);
  }

  .tooltip__arrow {
    color: #fff;
    white-space: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    position: absolute;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    background: linear-gradient(45deg, #000 51%, transparent 50%);
    box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.2);
    left: -12px;
    transform: rotate(45deg);
  }

  .tooltip__title {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
    outline: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
    display: block;
    padding-bottom: 15px;
    width: 100%;
    color: #fff;
    font-family: NotoSans-Bold, Arial, sans-serif;
    text-align: center;
    font-size: 28px;
  }

  .tooltip__actions {
    color: #fff;
    white-space: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
  }

  .iconed-action--trailer {
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    position: relative;
    color: #fff;
    font-family: NotoSans-Bold, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #fff;
    transition: color 0.1s ease, border 0.1s ease, background-color 0.1s ease;
    cursor: pointer;
    overflow: hidden;
    padding: 10px 20px 10px 36px;
    height: 36px;
    font-size: 12px;
    border-radius: 18px;
  }

  .iconed-action--trailer:after {
      left: 15px;
      content: "\00BB";
      position: absolute;
    top: calc(50% - 7px);
    left: 11px;
    font-size: 14px;
    /* font-family: Glyphs; */
  }

  .iconed-action--wishlist {
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    position: relative;
    color: #fff;
    font-family: NotoSans-Bold, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #fff;
    transition: color 0.1s ease, border 0.1s ease, background-color 0.1s ease;
    cursor: pointer;
    overflow: hidden;
    padding: 10px 20px 10px 36px;
    height: 36px;
    font-size: 12px;
    border-radius: 18px;
    margin-left: 10px;
  }

  .iconed-action--wishlist:before {
    content: '\e615';
    left: 15px;
  }
  .tooltip__meta {
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    width: 100%;
    font-size: 11px;
  }

  .tooltip__meta-year {
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    margin-right: 7px;
    color: #d9d9d9;
    font-family: NotoSans-Bold,Arial,sans-serif;
  }

  .tooltip__meta-classification {
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.8);
    font-family: NotoSans-Bold,Arial,sans-serif;
    margin-right: 2px;
    padding: 0 3px 1px 2px;
    color: #d9d9d9;
    font-size: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }

  .icon__parental {
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    color: #d9d9d9;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    margin-right: 1px;
    font-size: 14px;
  }

  .meta__genres {
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    margin-left: 5px;
    color: #d9d9d9;
    font-family: NotoSans-Bold,Arial,sans-serif;
    text-transform: uppercase;
  }

  .tooltip__plots {
    color: #fff;
    white-space: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
  }

  .tooltip__lowestprice {
    white-space: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    color: #ffe300;
    font-size: 12px;
    font-family: NotoSans-Bold, Arial, sans-serif;
    text-transform: uppercase;
  }

  .tooltip__lowestprice__text {
    white-space: normal;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    -webkit-font-smoothing: antialiased;
    color: #ffe300;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
  }
}
