* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.title {
    color: #969696;
    margin-bottom: 1rem;
}

.form__container {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.detail__title {
    color: #404040;
    margin: 1.5rem 0;
}

.detail__name,
.inpup__name {
    color: #557584;
    font-weight: bold;
}

.id-name span {
    color: #969696;
    font-weight: lighter;
    padding-left: 1.8rem;
}

.input {
    margin-top: .8rem;
    padding: .7rem;
    border: .09rem solid rgb(209, 208, 208);
    border-radius: .2rem;
}

.input:focus {
    outline: 0 none;
}

.button-back {
    background-color: #eee;
    color: #969696;
    width: 4rem;
    margin-right: .5rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    margin-top: 1rem;
    cursor: pointer;
}