* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.title {
    color: #969696;
    margin-bottom: 1rem;
}

.button {
    background-color: #eee;
    color: #557584;
    margin-right: .5rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    cursor: pointer;
    text-decoration: none;
}

.title-hero {
    text-align: center;
    color: #969696;
    margin: 2.5rem 0 .5rem 0;
}

.dashboard__container{
    display: inline-flex;
    flex-direction: row;
} 

.dashboard__link {
    width: 10rem;
    color: #fff;    
    background-color: #557584;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: .5rem;
    margin-right: 1rem;
    padding: 3rem 3rem;
} 

