* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
}

.title {
    color: #969696;
    margin-bottom: 1rem;
}


.hero__list {
    display: flex;
    justify-content: center;
    margin-bottom: .6rem;
    padding-left: .8rem;
    text-decoration: none;    
}


.hero__list span:nth-child(1) {
    display: inline-block;
    background-color: #557584;
    color: #fff;
    text-align: center;
    padding: .5rem;
    border-radius: .3rem 0  0 .3rem;
}

.hero__list a span:nth-child(2) {
    display: inline-block;
    background-color: #eee;
    color: #969696;
    padding: .5rem 0 .5rem .8rem;  
    border-radius: 0 .3rem .3rem 0;
    width: 8rem;
}
