.movie {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background: url(https://images-1.wuaki.tv/system/shots/200751/original/snapshot-1590668939-width1920-quality80.jpeg);
    height: 570px;
    position: relative;
    background-size: cover;
    background-position: center top;
}

.movie__shadow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .15) 60%, rgba(0, 0, 0, .5) 70%, rgba(0, 0, 0, .7) 80%, #000 100%);
}

.movie__options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
}

.movie__options__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie__options__item--left {
    margin-right: 40px;
}

.movie__options__item__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.movie__options__item p {
    text-align: center;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    font-weight: bolder;
    line-height: 130%;
}

.movie__data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__data__rating__container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.movie__data__star {
    height: 15px;
    margin-right: 10px;
}

.movie__rate__rating {
    color: #FFC107;
    font-weight: bolder;
    top: 80%;
}

.movie__data__title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    text-align: center;
    margin: 10px;
}

.movie__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.movie__buttons__payment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe300;
    width: 100%;
    border-radius: 2px;
}

.movie__buttons__payment p {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin: 15px;
}

.movie__buttons__payment span {
    font-size: 12px;
    font-weight: normal;
}

.movie__buttons__cupon {
    color: #ffe300;
    border: 3px solid #ffe300;
    border-radius: 2px;
    width: 98%;
    margin-top: 5px;
}

.movie__buttons__cupon p {
    text-align: center;
    padding: 15px;
}

@media screen and (min-width: 1024px) {
    .movie {
        margin-top: 67px;
    }
}