* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #171717;
    font-family: 'Noto Sans', sans-serif;
}


/* ######### HEADER STYLES ######### */

.header--container {
    position: relative;
}

.nav {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 50px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .7) 20%, rgba(0, 0, 0, .4) 50%, transparent 100%)
}

.nav__items {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.nav__items__menu {
    display: none;
}

.nav__items__search__icon {
    height: 20px;
}

.nav__items__search__span {
    display: none;
}

.flex__spacer {
    display: none;
}

.nav__items__login {
    display: none;
}

.header__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header__slider__image {
    width: 120%;
}

.header__slider__paging {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 88%;
}

.header__slider__paging__page {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 5px;
    background-color: #6B6B6B;
}

.header__slider__arrow--left {
    position: absolute;
    left: 10px;
}

.header__slider__arrow--right {
    position: absolute;
    transform: rotate(180deg);
    right: 10px;
}


/* ############################### */


/* ######### MAIN STYLES ######### */

.upperslider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.upperslider_arrow--left {
    left: 0;
    background: linear-gradient(to right, rgba(23, 23, 23, .95) 0, transparent 100%)
}

.upperslider_arrow--right {
    right: 0;
    background: linear-gradient(to left, rgba(23, 23, 23, .95) 0, transparent 100%)
}

.upperslider__arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 60px;
}

.upperslider__movie {
    margin: 25px 5px;
}

.upperslider__movie:hover {
    border: 4px solid yellow;
    margin: 21px 1px;
    border-radius: 2px;
}

.upperslider__movie__link__img {
    border-radius: 2px;
    height: 125px;
}

.bottomslider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.bottomslider__movie__link {
    width: 100%;
}

.bottomslider__movie__link__img {
    border-radius: 2px;
    width: 165px;
}

.bottomslider__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottomslider__title p {
    color: white;
    padding-left: 15px;
    font-weight: bold;
}

.arrow--little {
    color: white;
    height: 10px;
    transform: rotate(180deg);
    margin-left: 5px;
}

.watch-all {
    display: none;
}

.watch-all:hover {
    color: #E6E6E6;
    cursor: pointer;
}

.bottomslider__arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 60px;
}

.header__slider__arrow--right--bottom {
    position: absolute;
    transform: rotate(180deg);
    right: 10px;
}

.generos {
    display: flex;
    flex-direction: column;
}

.generos__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.generos__title p {
    color: white;
    padding-left: 15px;
    font-weight: bold;
}

.generos__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 40px;
    overflow: hidden;
}

.generos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.generos__item__img {
    height: 70px;
    width: 70px;
}

.generos__item__img:hover {
    filter: invert(0.3);
    cursor: pointer;
}

.generos__item p {
    color: white;
    text-align: center;
}


/* ############################### */


/* ######### MEDIA QUERIES #########*/

@media screen and (min-width: 601px) {
    .upperslider__movie__link__img {
        height: 135px;
    }
    .bottomslider__movie__link__img {
        border-radius: 2px;
        width: 180px;
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        background-color: black;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        height: 60px;
        position: fixed;
    }
    .nav__items {
        margin: 5px 10px;
        justify-content: flex-start;
        color: white;
        font-weight: bold;
    }
    .nav__items__menu {
        display: flex;
        margin: 0px 10px;
    }
    .nav__items__menu__list {
        list-style: none;
    }
    .nav__items__menu__list__item {
        display: inline;
        font-weight: bold;
        margin: 0px 10px;
    }
    .arrow::after {
        display: inline-block;
        content: '▼';
        position: relative;
        bottom: 1px;
        margin-left: 4px;
        font-size: 10px;
    }
    .nav__items__search {
        background-color: #333;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
        padding: 10px;
        border-radius: 2px;
        color: #717171;
    }
    .nav__items__search__icon {
        margin-right: 10px;
    }
    .nav__items__search__span {
        display: inline;
    }
    .flex__spacer {
        display: flex;
        flex: 1;
    }
    .nav__items__login {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
    }
    .nav__items__login__item {
        margin: 0 10px;
        color: white;
    }
    .nav__items__login__item--button {
        padding: 10px;
        color: black;
        background-color: #ffe300;
        border-radius: 2px;
    }
    .header__slider {
        margin-top: 60px;
    }
    .header__slider__image {
        width: 100%;
    }
    .upperslider {
        justify-content: center;
    }
    .upperslider__arrow {
        display: none;
    }
    .upperslider__movie__link__img {
        height: 150px;
    }
    .watch-all {
        display: inline;
        margin-right: 10px;
    }
    .arrow--little {
        margin-right: 20px;
    }
}


/* ############################### */