<div className="paginatedList__container">
  <ul>
    <script src='./top-list'></script>
    <% heroes_list_top.forEach((hero)=>( %>
      <li>...<%= hero.id %></li>
    <% )) %>
  </ul>
  <h2>DUMMY DATA</h2>
</div>