<div className="paginatedList__container">
  <ul>
    <% if( heroStore.getHeroesList_top() === undefined ) { loadHeroesList_top(); } %> 
    <% const heroes_list_top = heroStore.getHeroesList_top(); %> 
    <% console.log('AQUI', heroes_list_top); %>
    <% heroes_list_top.forEach((hero)=>( %>
      <li><%= hero.id %></li>
    <% )) %>
  </ul>
</div>