<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Best Organic Market!!</title>
		<link rel="stylesheet" href="../css/styles.css" />
		<link rel="stylesheet" href="../css/dashboard.css" />

		<!--  	<link rel="stylesheet" href="../css/recipes.css">
     -->
	</head>
	<body>
		<%- include('header')%>

		<h2>
			Welcome to the glorious land of Organic Market
		</h2>
		<p class="description">
			Our vision of the future is sustainable and ecological. In our organic
			mar- ket you will find a great variety of products and organic dishes from
			kilometer 0. Our collective objective is to benefit and bring these
			services closer to the citizens. </br>Thanks for trusting in our organic
			market!
		</p>
		<p></p>
		<img
			src="https://www.propertyturkey.com/uploads/pages/larg/organic-food.jpg"
			alt="Organic Market"
		/>
		<p>Created By:</p>
		<p>Marti Olaz | Pablo Horteano | Gemma Sanz</p>
	</body>
</html>
