<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Best Organic Market!!</title>
		<link rel="stylesheet" href="../css/styles.css" />
		<!--  	<link rel="stylesheet" href="../css/recipes.css">
     -->
	</head>
	<body>
		<%- include('header')%>

		<h3>
			Welcome to the glorious land of Dashboard. Nothing to see here
		</h3>
	</body>
</html>
