.userInfo
  max-width: 100%
  margin: 1.5rem auto 1.5rem auto

.signUpForm
  background-color: #eeeeee
  padding: 1rem 1.5rem
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  border-radius: .7rem

.btn-centered
  display: block
  background: teal
  color: white
  padding: .5rem 1.5rem
  margin: .5rem auto .5rem auto

  &:hover, &:focus, &:active
    color: coral

.formBody
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center

.formSection
  margin: 0 1.5rem
  min-width: 20rem

.formPicture
  max-width: 10rem
  max-height: 10rem
  object-fit: cover
  object-position: center