<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongolitos</title>
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="stylesheet" href="../../public/css/foodList.css">
</head>

<body>
    <!-- <%- include('header'); -%> -->
    <h2>Food List works!</h2>

    <div>
        <img src="" alt="image">
        <p>title food</p>
        <p>precio</p>
        <p>estrellitas</p>
    </div>
</body>

</html>