<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongolitos</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/foodList.css">
</head>

<body>

    <ul>
        <% for(let i = 0; i< products.length; i++) { %>
        <li>
            <a href="/products/<%=products[i]._id%>">
                <img
                    src="https://d36fw6y2wq3bat.cloudfront.net/assets/images/cache/recipes/ensalada-de-quinua-con-manzana-y-alubias/900/ensalada-de-quinua-con-manzana-y-alubias.jpg">
                <h3><%= products[i].title%></h3>
            </a>
            <p><%= products[i].price%> €</p>
            <form method="POST" action="/products/<%=products[i]._id%>">
                <button>Add to cart</button>
            </form>
        </li>
        <% } %>
    </ul>
</body>

</html>