<section class="container-header">
    <nav class="main-nav">
        <div class="hamburger">
            <div href="/" class="icon__hamburger">
                <div class="hamburger__products">
                    <a href="/products" class="product">PRODUCTS</a>
                    <a href="/" class="product ranking">RANKING</a>
                </div>
            </div>
        </div>

        <h1 class="title">
            Organic Market
        </h1>

        <a href="/products" class="menu__product">PRODUCTS</a>
        <a href="/" class="menu__product">RANKING</a>

        <div class="search">
            <form action="/search" method="GET">
                <input type="text" class="input__search" name="search">
                <button class="icon__search btn__search" name="search"></button>
            </form>
            <a href="/auth/signin" class="icon__login"></a>
            <a href="/products/cart" class="icon__bag">
                <div class="icon__number">0</div>
            </a>
        </div>
    </nav>
</section>