<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <section className="main-nav">
        <nav className="hamburger">
            <a href="/" className="icon__hamburger"></a>
            <a className="icon__logo"></a>
    
            <div className="main-nav-text">
                <a href="">Ranking Products</a>
                <a href="/login" className="icon__login">Login</a>
                <a href="/cart" className="icon__bag">
                    <div className="icon__number">0</div>
                </a>
            </div>
        </nav>
    </section>  
       
</body>
</html>