body {
	min-width: 100vw;
	min-height: 100vh;
}

.card-item__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	height: 125px;
	margin: 24px auto;
	border: 1px solid #7f8688;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.card-item__main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 12px;
	width: 80%;
	height: 100%;
}

.card-item__delete {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 15%;
	background-color: var(--cart-trash-bg-color);
	margin-left: 5px;
}

.card-item__delete--button {
	border: unset;
	background-color: #ffffff00;
}

.card-item__delete img {
	height: 25px;
	cursor: pointer;
}

.card-item__bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card-item__bottom p {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card-item__rating-star {
	height: 25px;
	padding: 5px;
}

.invisible {
	display: none;
}

.flex-spacer-1 {
	flex: 1;
}

.flex-spacer-2 {
	flex: 2;
}

.cart__checkout {
	width: 60%;
	text-align: center;
	padding: 12px;
	border: 1px solid #7f8688;
}
.checkout__button {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.card-item__delete {
		width: 10%;
	}
}

@media only screen and (min-width: 1024px) {
	.card-item__delete {
		width: 7%;
	}

	.card-item__container {
		width: 45%;
	}
}
