h1 {
  margin: 20px auto 20px auto;
  text-align: center; }

.flex-col {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row; }

.list-button {
  background-color: #f3e367;
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: black; }

.list-holder {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .list-holder .list-card-holder {
    max-width: 1100px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin: 10px auto 10px auto;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 90%; }
    .list-holder .list-card-holder .list-card {
      width: 100%;
      align-items: center; }
      .list-holder .list-card-holder .list-card .list-card__stacked {
        width: 100%; }
        .list-holder .list-card-holder .list-card .list-card__stacked .list-header {
          color: black;
          font-family: sans-serif;
          line-height: 1.5;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 80%; }
        .list-holder .list-card-holder .list-card .list-card__stacked form {
          display: flex;
          justify-content: flex-end; }
    .list-holder .list-card-holder .list-card__image {
      margin-right: 10px; }
    .list-holder .list-card-holder .list-card__content {
      font-family: sans-serif; }
      .list-holder .list-card-holder .list-card__content p {
        margin: 4px 0px; }
      .list-holder .list-card-holder .list-card__content .card-item__rating-star {
        height: 15px;
        width: 15px; }
