:root {
	--login-bg-color: white;
	--header-bg-color: #7f8688;
	--header-button-bg-color: #f3e367;
	--header-link-font-color: black;
	--cart-trash-bg-color: #929d9e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--header-bg-color);
	padding: 12px;
}
.header__logo {
	height: 35px;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0;
}

.navbar li {
	list-style-type: none;
}

.navbar a {
	text-decoration: none;
	color: var(--header-link-font-color);
}

.navbar__list-item {
	padding: 0 12px;
}

.nav__logout {
	padding: 12px;
	margin: 0 24px;
	border-radius: 5px;
	border: unset;
	background-color: var(--header-button-bg-color);
	cursor: pointer;
}

.flex-spacer {
	flex: 1;
}
