.register__form {
  width: 53%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  box-shadow: 2px 2px #888888;
  text-align: center;
  margin: auto;
  margin-top: 18%;
  border: black 1px solid;
  height: auto;
  border-radius: 25px; }

.register__anchor {
  margin-top: 10px;
  text-align: center; }

.register__label-user {
  margin-bottom: 20px; }

.register__title {
  padding-bottom: 7%;
  margin-top: 5%; }

.register__buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly; }

.register__password {
  margin-bottom: 20px; }

.register__confirmPassword {
  margin-bottom: 20px; }

.register__button {
  background-color: var(--header-button-bg-color);
  border-radius: 5px;
  width: 45%; }

@media only screen and (min-width: 600px) {
  .register__button {
    width: 24%; } }

@media only screen and (min-width: 1400px) {
  .register__form {
    width: 53%; } }
