*{
    margin: 0;
    padding: 0;
}

.header__navbar{
    display: flex;
    border: none;
    background-color: grey;
    height: 5rem;
    width: 100%;
}

.col-sm{
    border: 2px solid turquoise;
    border-radius: 10px;
    margin: 30px;
    padding: 10px; 
    height: 400px; 
}

.section__parag--display {
    display: flex;
    margin: auto;
    width: 80%;
    left: 10%;
}

.div--wrap{
    display: flex;
    justify-content: center;
    width: 33%;
    font-size: 30px;

}

.nav__button{
    background-color: turquoise;
    color: whitesmoke;
    border: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: auto 15px;

}

footer{
    background-color: turquoise ;
    width: 100%;
    text-align: center;
}

.nav__button{
    display: flexbox;
    justify-content: end;
    

}

.nav__div--flex-left{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 700;
}

.nav__div--flex-right{    
    width: 50%;
    display: flex;
    justify-content: flex-end;

}

.nav__anchor{
    margin: auto 15px;
    color: turquoise;
}

.container{
    display: flex;
    margin: 1rem 13%;
   
}

.footer--display{
    margin: 2% auto;
}

.fig__img--align{
    margin-top: 0px;
}

.main__video{
    width: 100%;

}

.figure__div__button{
    display: flex;
    background-color: turquoise;
    color: white;
    border: none;
    border-radius: 2px;
    width: 7em;
    height: 5em;
    justify-content: center;
    margin: auto 5rem;
}

@media (max-width: 480px) {
    body{
        background-image: linear-gradient(white, turquoise);
        margin: auto;
    }

    





}
@media (min-width:480px){
    
}