$display-flex: flex;

.flex-item {
	display: $display-flex;
}

.flex-col {
	display: $display-flex;
	flex-direction: column;
}

.banner {
	margin: 10px;
	border-radius: 10px;
	background-color: goldenrod;
	padding: 10px;
}

.banner img {
	object-fit: contain;
	width: 100%;
	height: 200px;
}

.saga-holder {
	min-height: 200px;
}

.centred {
	align-items: center;
}

.cont {
	width: 60%;
}
