.flex-item {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.banner {
	margin: 10px;
	border-radius: 10px;
	background-color: goldenrod;
	padding: 10px;
}
.banner img {
	object-fit: cover;
}
.saga-holder {
	min-height: 200px;
}
.centred {
	align-items: center;
}
.cont {
	width: 60%;
}
