.flex-item {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.banner {
	margin: 10px;
	border-radius: 10px;
	background-color: goldenrod;
	padding: 10px;
}
.banner img {
	object-fit: contain;
	width: 100%;
	max-height: 250px;
}

.centred {
	align-items: center;
}
.cont {
	width: 70%;
}
