.banner__container {
  width: 100%;
  height: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

  .banner__container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner__container-title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.425);
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
  }

  .banner__container-title > h1 {
    color: white;
    height: 100%;
    font-size: 32px;
    margin: 8px 18px;
  }
}

.event-form__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.event-form__container > h2 {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
.event-form__container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

.create-form-button {
  text-decoration: none;
  background-color: #ecc08d;
  border-radius: 10px;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  width: 100px;
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.create-form-button:hover {
  background-color: #e4a55e;
  color: white;
  -webkit-box-shadow: -9px 5px 7px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -9px 5px 7px 0px rgba(0, 0, 0, 0.14);
  box-shadow: -9px 5px 7px 0px rgba(0, 0, 0, 0.14);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (min-width: 650px) {
  .banner__container {
    height: 260px;
  }

  .banner__container-title > h1 {
    font-size: 39px;
  }
}

@media (min-width: 1024px) {
  .banner__container-title > h1 {
    font-size: 46px;
  }
}
