body{
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    margin: 10% auto;
}
.slider-button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgray;
}
.slider-row{
    display: flex;
    justify-content: space-around;
    margin: -10% 10% 0 10%;
}
.slider-img{
    display: flex;
    justify-content: center;
}
.slider{
    margin: 1% 0;
}
.title-section{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    align-items: center;
}
h2{
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.container-desck-col img {
    object-fit: cover;
    object-position: 50% 0;
    width: 340px;
    height: 140px;
}
.container-items{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 5%;
}
.container-items__white-box{
    background-color: rgba(255, 255, 255, .7);
    width: 50%;
    height: 60%;
    position: absolute;
}
.container-items__white-box p{
    display: none;
}
h3{
    font-size: 1rem;
    padding: 0 0 0 1rem;
    color: rgb(82, 79, 79);
}
/*boton rojo*/
.buttons{
    display: flex;
    justify-content: center;
}
.showmore{
    background-color: red;
    border: transparent;
    color: white;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
@media screen and (min-width:600px){
    .container-desck{
        display: flex;
        flex-direction: row;
        margin-bottom: 1%;
    }
    .container-items-col{
        display: flex;
        flex-direction: column;
        margin-left: 1%;        
    }
    .container-desck-col img{
        object-fit: none;
        width: 100%;
        height: 100%;
    }
    .container-items__white-box h3{
        height: 20%;
        font-size: 16px;
        padding: 0 0 0 0.5rem;
    }
    .container-items__white-box p{
        display: flex;
        padding: 0 0 0 0.5rem;
        font-size: 12px;
        height: 80%;
    }
    .end-col{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .start-row{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .end-row{
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
}
@media screen and (min-width:1024px){
    .end-col{
        height: 150px;
        width: 150px;
        display: flex;
        flex-direction: column;
    }
    .start-row{
        height: 150px;
        width: 200px;
        display: flex;
        flex-direction: column;
    }
    .end-row{
        height: 150px;
        width: calc(50% - 100px);
        left: 50%;
    }
    .container-items__white-box::after{
       content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 150px solid rgba(255,255,255,0.7);
        border-right: 100px solid transparent;
        position: absolute;
        right: -100px;
        top: 0;
    }
}
