<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Students</title>
    <link rel="stylesheet" href="skylab-directory-dashboard.component.css">
</head>

<body>
    <header>
        <div class="fix-header">
            <div class="fix-header__title">
                <h1>Skylab Directory</h1>
            </div>
            <div class="fix-header__buttons">
                <a href="../skylab-directory-detail/skylab-directory-detail.component.html">Detail</a>
                <a href="../skylab-directory-list/skylab-directory-list.component.html">Students</a>
            </div>
        </div>
    </header>
    
    <div class="containerList"></div>
    <script src="../skylaber.js"></script>
    <script src="../skylaber.mock.js"></script>
    <script src="skylab-directory-dashboard.component.js"></script>
</body>

</html>