* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg-color: #1b1b1b;
    --body-bg-color: #4e4f53;
    --txt-color: whitesmoke;
}

body {
    background-color: var(--body-bg-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--txt-color);
}

.flex-spacer {
    flex: 1;
}

h1 {
    font-size: 18px;
}


/* #### HEADER #### */

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    background-color: var(--nav-bg-color);
    color: var(--txt-color);
    padding: 5px 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav__size-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.slider {}

.size-container__slider {
    margin-left: 5px;
}

.nav__speed-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.speed-container__slider {
    margin-left: 5px;
    direction: rtl
}

.nav__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav__button {
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
}

.nav__button--start {
    background-color: #69bb1d;
}

.nav__button--pause {
    background-color: #ffd000;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__explain {
    margin-top: 35px;
    font-size: 18px;
}

.game-container {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 30px;
    width: 420px;
    height: 420px;
}

.row {
    display: flex;
    flex-direction: row;
    height: 10%;
}

.cell {
    height: 100%;
    width: 10%;
    background-color: #dadce0;
    border: 0.5px solid rgb(180, 180, 180);
}

.cell:hover {
    background-color: #c5c6c9;
}

.iterations {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    bottom: 0;
}