body {
    font-family: sans-serif;
    background-color: rgb(220, 231, 235);
}

h2 {
    margin: 4px;
    text-align: center;
}

#turn {
    position: absolute;
    left: 50px;
}

#colTurn {
    background-color: red;
    border: 1px solid  rgb(10, 94, 124);
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.panel {
    margin: auto;
    display: grid;
    background-color: rgb(21, 174, 230);
    border: 2px solid  rgb(10, 94, 124);
    border-radius: 6px;
    width: 580px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.hidden {
    margin: auto;
    display: none;
    width: 500px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(21, 174, 230);
    border: 2px solid  rgb(10, 94, 124);
    border-radius: 6px;
}

.panel div {
    background-color: rgb(220, 231, 235);
    border: 1px solid  rgb(10, 94, 124);
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.buttons {
    position: absolute;
    right: 50px;
    top: 100px;
}

button {
    color: white;
    background-color: rgb(10, 94, 124);
    border: none;
    border-radius: 100px;
    text-align: center;
    padding: 14px 25px;
    font-size: 16px;
    width: 120px;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer {

    margin-right: 40px;
    text-align: end;
    font-style: italic;
}