#skylab-top {
    width: 400px;
    height: 70px;
    background-color:lightblue;
    border: 1px solid;
    width: 20px;
    height: 20px;
}

.red {
    background-color: red;
    width: 10px;
    height: 10px;
    border: 1px solid;
}