.hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--bg-color-hero);
	margin: 5px;
	border: 1px solid grey;
	width: 35%;
}

.hero__anchor {
	padding: 10px 20px 10px 10px;
}
