<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hero List</title>
		<link rel="stylesheet" href="hero-list.component.css" />
	</head>
	<body>
		<h1>Tour of Heroes</h1>
		<a href="../hero-dashboard/hero-dashboard.component.html">Dashboard</a>
		<a href="./hero-list.component.html">Heroes</a>

		<div class="hero-list__container"></div>

		<button onclick="myList.switchColor()">Switch Colors</button>

		<script src="../hero.js"></script>
		<script src="../hero.mock.js"></script>
		<script src="hero-list.component.js"></script>
	</body>
</html>
