<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Heroes</title>
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="../../../css/detail.css">

</head>

<body>
    <%- include('../header')-%>
    <h2><%= user.user%> Profile!</h2>
    
    <form action="/auth/profile" method="POST">
     
        <div>
            <label for="password">
                Password:
                <input type="text" name="newPassword" value="<%= user.password%>"/>
            </label>
        </div>
        <button type="submit">Save</button>
    </form>
    <form action="/auth/signout" method="POST">
        <button type="submit" name="signout">Log Out</button>
    </form>
    
</body>

</html>