<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Heroes</title>
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="../../../css/detail.css">
    <link rel="stylesheet" href="../../../css/formvalidation.css">

</head>

<body>
    <%- include('../header')-%>
    <h2>Sign Up or <a href="/auth/signin"> SignInnn</a></h2>
    <form action="/auth/signup" method="POST">
        <div>
            <label for="user">
                User*:
                <input required autofocus type="text" name="user"  />
            </label>
        </div>

        <div>
            <label for="password">
                Password*:
                <input required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!#/()=*]).{8,12}$" title="Necesitas usar mayusculas, minusculas y al menos un numero" min="1" type="text" name="password" />
            </label>
        </div>
        <div>
            <label for="password">
                Confirm Password*:
                <input required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!#/()=*]).{8,12}$" title="Necesitas usar mayusculas, minusculas y al menos un numero" min="1"  type="text" name="confirm-password" />
            </label>
        </div>
        <button type="submit">SignUp</button>
    </form>

</body>

</html>