.big-container-detail {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.coin-detail-table__header {
  background-color: #ff3d6b !important;
  color: white;
}
