* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #efee9d;
}
h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(75, 75, 165);
	font-size: 18px;
}
h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(75, 75, 165);
}
h4 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(75, 75, 165);
}
p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(75, 75, 165);
}
