* {
	font-family: 'Roboto', sans-serif;
}

.footer-container {
	display: flex;
	flex-direction: column;
	background-color: #000000;
	width: 100%;
	align-items: center;
	position: fixed;
	bottom: 0;
}

.footer-link-logo {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-logo {
	display: flex;
	width: 14%;
	margin-top: 5px;
}

.footer--info {
	display: flex;
}

.footer--info-general {
	margin: 10px;
	justify-content: center;
	color: white;
	font-size: 15px;
	margin-top: 5px;
	text-decoration: none;
}

.footer--info-general:hover {
	color: #da1f26;
}

.copyright {
	color: #a7abb3;
	font-size: 13px;
	margin-bottom: 10px;
}

/* Privacy Policy and About Us styles */
#main {
	background-color: #212121;
	margin-top: 20px;
	color: white;
	padding: 30px;
	font-size: 13px;
	bottom: 0;
}