* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	height: 100vh;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.details__container {
	margin-top: 60px;
	width: 100%;
	flex: 1;
	display: flex;
}

.details__img {
	height: 200px;
	width: auto;
}

.details__data {
	display: flex;
	flex-direction: column;
}

.nav {
	display: flex;
	justify-content: space-between;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 1024px) {
}
