.header__container {
	background-color: rgb(117, 157, 165);
	border-bottom: 1px solid grey;
	width: 100%;
	position: sticky;
	z-index: 9999;
	top: 0;
}
.filter__input {
	height: 6vh;
	width: 12vw;
}
.filter__button {
	font-size: 2vh;
	height: 5vh;
	width: 8vw;
	margin-left: 10px;
	background-color: grey;
}

.header {
	height: 60px;
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (min-width: 600px) {
	.header {
		width: 85%;
	}
}

@media only screen and (min-width: 1024px) {
	.header {
		width: 70%;
	}
}
