* {
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header__container {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	background-color: rgb(117, 157, 165);
	width: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
}

.header {
	height: 60px;
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search {
	width: 100%;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.search__input {
	height: 30px;
}

.search__button {
	border: none;
	font-size: 2vh;
	height: 4vh;
	width: 95px;
}

.search_img {
	height: 40px;
}

.search__button:hover {
	background-color: rgb(206, 218, 110);
}

.header__nav {
	color: white;
	font-weight: 500;
	text-decoration: none;
}
.header__nav:hover {
	color: black;
	background-color: rgb(167, 182, 113);
}

@media only screen and (min-width: 600px) {
	.header {
		width: 85%;
	}
}

@media only screen and (min-width: 1024px) {
	.header {
		width: 75%;
	}
	.header__nav {
		padding: 10px;
	}
}
