.header__container {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	background-color: rgb(117, 157, 165);
	width: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
}
.filter__input {
	height: 6vh;
	width: 120px;
}
.filter__button {
	font-size: 2vh;
	height: 5vh;
	width: 95px;
	margin-left: 10px;
	background-color: rgb(167, 182, 113);
}
a {
	color: rgb(78, 78, 78);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
	height: 60px;
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (min-width: 600px) {
	.header {
		width: 85%;
	}
}

@media only screen and (min-width: 1024px) {
	.header {
		width: 75%;
	}
}
