* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	height: 100vh;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

b/*body::after {
	content: '';
	background: url(https://previews.123rf.com/images/mobeone/mobeone1906/mobeone190600070/126179232-hand-drawn-organic-food-background-organic-herbs-spices-and-seafood-healthy-food-drawings-set-elemen.jpg);
	opacity: 0.25;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}*/

.nav {
	display: flex;
	justify-content: space-between;
}

.products__container {
	margin: 0 auto;
	margin-top: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.products {
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	background-color: rgb(230, 230, 210);
	margin: 10px;
	height: 10%;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filteredProducts {
	height: 20%;
	width: 90%;
}

.products:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.products__header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.products__img {
	object-fit: cover;
	height: 80px;
	width: 150px;
}

.products__title {
	margin: 10px;
}

.products__title > a {
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.products__details {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.products__price {
	margin: 10px;
}

.addtocart {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	border: none;
	background-color: rgb(167, 182, 113);
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.addtocart:hover {
	background-color: rgb(206, 218, 110);
}

.cart__img {
	margin-top: 10px;
	width: 66%;
}

.deleteproduct {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	border: none;
	background-color: lightcoral;
	border-radius: 5%;
	height: 30px;
	width: 30px;
	margin-left: 10px;
}

.deleteproduct:hover {
	background-color: rgb(233, 78, 78);
}

@media only screen and (min-width: 600px) {
	.products__container {
		width: 85%;
	}
	.products {
		width: 100%;
	}
}

@media only screen and (min-width: 1024px) {
	.products__container {
		width: 70%;
	}
}
