* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	height: 100vh;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.profile__container {
	margin: 0 auto;
	margin-top: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.profile__user {
	flex: 1;

	width: 100%;
	margin: 20px;
}

.profile__header {
	display: flex;
}

.auth__button {
	border: none;
	background-color: rgb(167, 182, 113);
	padding: 5px;
}

.auth__button:hover {
	background-color: rgb(206, 218, 110);
}

.auth__logout {
	border: none;
	background-color: #ff8a80;
	padding: 5px;
}

.auth__logout:hover {
	background-color: #ff5252;
}

.profile__history {
	width: 100%;
	flex: 1;

	display: flex;
}

@media only screen and (min-width: 1024px) {
	.profile__container {
		flex-direction: row;
	}
	.profile__user {
		height: 100%;
		width: 50%;
	}
	.profile__history {
		height: 100%;
		width: 50%;
	}
}
