* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	height: 100vh;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.signup__container {
	margin: 0 auto;
	margin-top: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: flex-start;
	align-items: center;
}

.signup__container * {
	margin: 5px;
}

.auth__button {
	border: none;
	background-color: rgb(167, 182, 113);
	padding: 5px;
}

.auth__button:hover {
	background-color: rgb(206, 218, 110);
}
