
.box{
    margin: auto;
    margin-top: 5vh;
    width: 40vh;
    height: 65vh;
    background-color: beige;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    font-size: 7vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 15% 15% 15% 15%;
    
    
}
#display{
    grid-column: span 4;
    font-size: 7vh;
    text-align: right;
    background-color: darkgrey;
    color: white;
    padding-top: 12vh;
}
.reverse{
  background-image: url(refresh-black-18dp.svg);
  background-size: contain;
}

.largeButton{
 grid-column: span 2;
 text-align: left;
 padding-left: 20%;
}
.calculationButton{
    background-color: orange;
}