.item__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 200px;
    background-color: lightseagreen;
    box-sizing: border-box;
    margin: 0.5rem;
    border-radius: 5px;
}

@media (min-width: 680px) and (max-width: 1024px){
    .item__container{
        width: 27vw;
    }
}

@media (min-width: 1024px){
    .item__container{
        width: 17vw;
    }
}