


.container{
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.main__section1{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.main__section1__section__div1{
    width: 500px;
    height: 250px;
    border: 2px solid black;
    background-color: mediumpurple;
    margin: 2%;
}

.main__section1__section__div2{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
}

.main__section1__section__div1__item1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.main__section1__section__div1__item2{
    padding: 3%;
}

.main__section1__section__div1__item1-subitem1{
    border: 2px solid black;
    background-color: gray;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-left: 0.25%;
    margin-right: 3%;
}

.main__section1__section__div1__item1-subitem2{

}

.main__section1__section__div1__item1-subitem3{
    margin-left: 70%;
}

.main__section2{
    display: flex;
    flex-direction: row;
    background-color:lightblue;
    padding: 3%;
}

.main__section3{
    display: flex;
    flex-direction: row;
    background-color:lightgreen;
    justify-content: space-around;
}

.main__section3__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__section3-item-triangle{
    width: 90px;
    height: 90px;
    border: 1px solid black;
}

@media screen and (max-width: 600px){
    .main__section3{
        display: flex;
        flex-direction: column;
        background-color:blueviolet;
        justify-content: space-around;
    }

}



