.nav-bar {
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color:rgb(196, 196, 196)
}

.nav-bar__link {
    font-size: 1.5em;
    color: black;
    float: left;
    width: 200px;
    justify-content: center;
}

.nav-bar__button {
    float: right;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.25;
    background-color: red;
    color:white;
}

.main {
    margin: auto;
    padding: 20px;
    align-items: center;
}

.main__img__description {
    border: 1px solid;
    width: 200px;
    padding: 10px;
}

.main__img__description__button {
    background-color: red;
    

}

.main.list {
    border: 1px solid;
}

.text {
    padding:20px;
    background-color:rgb(196, 196, 196)
}

.footer {
    margin:20px;
    text-align: center;
    padding: 20px;
    background-color: rgb(196, 196, 196);
}

