* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #171717;
    color: #fff;
    height: 100vh;
    overflow-x: hidden;
}


/* HEADER */

/* Nav */
.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 50px;
    padding: 1.2rem 1.2rem 0 1.2rem;
}

.main-nav__logo svg {
    width: 122px;
    padding-top: 8px;
}

.flex-spacer {
    flex: 1 1 0;
}

.main-nav__less img {
    filter: invert(1);
    width: 20px;
}

/* Slider */
.slider {
    margin: 0 auto;
    position: relative;
}

.slider__img {
    display: flex;
    justify-content: center;
}

.slider__img img {
    display: block;
    width: 133%;
    margin: 0 -28%;
}

.slider__points {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 90%;
    width: 100%;
}

.slider__points-circle {
    background-color: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 .3rem;
}

.btn-red {
    background-color: crimson;
}

/* Hidden */
.nav-link,
.nav-input,
.enter,
.register,
.help {
    display: none;
}


/* MAIN */
/* Section 1 */
.container-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem .5rem;
    min-width: 1550px;
}

.container-main__premiere img {
    width: 100%;
    padding: .4rem;
}

    .container-main__premiere img:hover {
        /* Borde interno sobre las imágnes */
        outline: .32rem solid #ffe300;
        outline-offset: -.2rem;
        /* Redondear border solo para mozilla, en chrome no funciona */
        -moz-outline-radius: .3rem;
    }

/* Section 2 */
.container__title p {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.container__title span {
    padding-left: .5rem;    
}

.container__film {
    display: flex;
    min-width: 1600px;
}

.container__film--items {
    padding: .3rem;
    border: 3px;
}

.container__film--items img {
    width: 100%;
}

    .container__film--items img:hover {
        width: 100%;
        outline: .32rem solid #ffe300;
        outline-offset: -.2rem;
        -moz-outline-radius: .3rem;
    }

/* Section 3 */
.container__gender {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 1rem;
}

.container__gender--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 152px;
}

.container__gender--items img {
    width: 95px;
    height: 95px;
    padding: 1rem;
}

.container__gender--items p {
    font-size: .8rem;
    text-align: center;
    font-weight: lighter;
}

.container__gender--text p {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.container__gender--text span {
    padding-left: .5rem;    
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo svg {
    width: 122px;
    filter: invert(.3);
}

.footer__text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem 0;
}

.text {
    padding: 0 .5rem;
}

.text a {
    text-decoration: none;
    color: rgb(190, 190, 190);
    font-size: .85rem;
}

.copy {
    font-size: .85rem;
    color: rgb(104, 104, 104);
}


/* MEDIA QUERIES */
@media screen and (min-width: 910px) {
    .container-main__premiere img:hover {
        outline: .4rem solid #ffe300;
    }

    .slider__img img {
        display: hidden;
        width: 100%;
    }
    
}

@media screen and (min-width: 1024px) {
    .nav-link,
    .nav-input,
    .enter,
    .register {
        display: block;
    }

    .slider {
        margin-top: 60px;
    }

    .slider__img {
        overflow: visible;
    }

    .slider__img img {
        height: 100%;
    }

    /* Menú nav */
    .main-nav {
        background-color: #000;
        top: 0;
        height: 60px;
        padding: 0 20px;
    }

    .nav-link a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        padding: .8rem;
        margin-left: .5rem;
    }

    .nav-input {
        display: flex;
        align-items: center;
        background-color: #333;
        width: 220px;
        height: 40px;
        border-radius: 3px;
        margin-left: .8rem;
    }

    .nav-input__img {
        padding-left: .6rem;
    }

    .nav-input img {
        filter: invert(.5);
        width: 20px;
    }

    .nav-input input {
        background-color: #333;
        color: #999;
        border: none;
        margin-left: .5rem;
        font-size: 1.2rem;
    }

    .nav-input input:focus {
        /* quitar borde azul del focus */
        outline: none;
    }

    /* Enter & Register */
    .enter,
    .register {
        font-size: 14px;
        padding: .8rem;
    }

    .enter {
        margin-right: .5rem;
    }

    .register {
        background-color: #ffe300;
        color: #000;
        border-radius: 3px;
        font-weight: 700;
        height: 36px;
        line-height: 13px;
    }

    /* Hover */

    .nav-link a:hover {
        color: #ffe300;
        cursor: pointer;
    }

    .enter:hover{
        color: #ffe300;
        cursor: pointer;
    }

    .help:hover{
        color: #ffe300;
        cursor: pointer;
    }

    .register:hover{
        background-color: #f0d500;
        cursor: pointer;
    }

    /* Quitar el overflow para que ya se vean todas las imágnes del premier  */
    .container-main {
        overflow: visible;
    }

    .container-main__premiere img {
        width: 100%;
        margin: 0 .4rem;
        padding-left: .5rem;
    }

    /* Hover imágenes premiere */
    .container-main__premiere img:hover {
        outline: .3rem solid #ffe300;
    }
    

    /* Hidden */
    .main-nav__less {
        display: none;
    }
}

@media screen and (min-width: 1250px) {
    .help {
        display: block;
        font-size: 14px;
        padding: .8rem;
        color: #999;
    }    
}