* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #171717;
    color: #fff;
    height: 100vh;
    overflow-x: hidden;
}


/* HEADER */

/* Nav */
.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 50px;
    padding: 1.2rem 1.2rem 0 1.2rem;
}

.main-nav__logo svg {
    width: 122px;
    padding-top: 8px;
}

.flex-spacer {
    flex: 1 1 0;
}

.main-nav__less img {
    filter: invert(1);
    width: 20px;
}

/* Añadir flechitas triángulo en el after del texto */
.cinema::after,
.subscription::after {
    display: inline-block;
    content: '▼';
    position: relative;
    bottom: 1px;
    margin-left: 4px;
    font-size: 10px;
}

/* Slider */
.slider {
    margin: 0 auto;
    position: relative;
}

.slider__img {
    display: flex;
    justify-content: center;
}

.slider__img img {
    display: block;
    width: 133%;
    margin: 0 -28%;
}

.slider__points {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 90%;
    width: 100%;
}

.slider__points-circle {
    background-color: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 .3rem;
}

.arrows {
    display: block;
}

    .slider:hover + .arrows {
        display: block;
        filter: invert(1);
    }

.slider__arrow {
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    font-size: 2.5rem;
    transform: scaleY(2);
}

.left {
    left: 2%;
    top: 50%;
}

.right {
    right: 2%;
    top: 50%;
}


.btn-red {
    background-color: crimson;
}

/* MAIN */
/* Section 1 */
.container-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem .5rem;
    min-width: 1550px;
}

.container-main__premiere img {
    width: 100%;
    padding: .4rem;
}

    .container-main__premiere img:hover {
        /* Borde interno sobre las imágnes */
        outline: .32rem solid #ffe300;
        outline-offset: -.2rem;
        /* Redondear border solo para mozilla, en chrome no funciona */
        -moz-outline-radius: .3rem;
    }

/* Section 2 */
.container__title {
    display: flex;
}

.flex-spacer-title {
    width: 10px;
    height: 5px;
}

.container__title div:nth-child(1) {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.container__title div:nth-child(4) {
    transform: scaleY(1.6);
    padding-right: 1.3rem;
    padding-top: .15rem;
}

.container__film {
    display: flex;
    min-width: 1600px;
}

.container__film--items {
    padding: .3rem;
    border: 3px;
}

.container__film--items img {
    width: 100%;
}

    .container__film--items img:hover {
        width: 100%;
        outline: .32rem solid #ffe300;
        outline-offset: -.2rem;
        -moz-outline-radius: .3rem;
    }

/* Flecha */
.container-carrousel {
    position: relative;
}

.carrousel__arrow {
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    font-size: 2.5rem;
    transform: scaleY(2);
    right: 2%;
    top: 50%
}    

/* Section 3 */
.container__gender {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 1rem;    
}

.container__gender--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.container__gender--items img {
    width: 95px;
    height: 95px;
    padding: 1rem;
}

.container__gender--items p {
    font-size: .8rem;
    text-align: center;
    font-weight: lighter;
}

.container__gender--text {
    display: flex;
    padding-left: 1rem;
}

.container__gender--text div:nth-child(4) {
    transform: scaleY(1.6);
    padding-right: 1.3rem;
    padding-bottom: .2rem;
}

/* Flecha */
.container-gender {
    position: relative;
}
.gender__arrow {
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    font-size: 2.5rem;
    transform: scaleY(2);
    right: 2%;
    top: 30%
} 

/* Footer */
.footer {
    text-align: center;
    padding-bottom: 80px;
    background-color: #000;
}

.footer__logo svg {
    width: 122px;
    filter: invert(.3);
}

.footer__text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem 0;
}

.text {
    padding: 0 .5rem;
}

.text a {
    text-decoration: none;
    color: rgb(190, 190, 190);
    font-size: .85rem;
}

.copy {
    font-size: .85rem;
    color: rgb(104, 104, 104);
}

/* Prefooter */
.prefooter {
    display: none;
}

/* Footer Nav */
.nav__footer {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    height: 55px;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,.3);
    position: fixed;
    width: 100%;
    bottom: 0px;
    box-shadow: 0 -5px 15px 0 rgba(0,0,0,.5);
}

.nav__footer--icon {
    text-align: center;
}

    .nav__footer--icon:hover,
    .free a:hover {
        color: #ffe300;
        cursor: pointer;
    }

.nav__footer--icon img {
    margin-bottom: -.4rem;
}


.nav__footer--icon p {
    font-size: .6rem;
    filter: invert(.3);
}

.free {
    align-self: flex-start;
    margin-top: .3rem;
}

.free a {
    color: #fff;
    text-decoration: none;
}


/* Hidden */
.nav-link,
.nav-input,
.enter,
.register,
.help,
.container__gender--text div:nth-child(3),
.container__title div:nth-child(3),
.box-info {
    display: none;
}


/* MEDIA QUERIES */
@media screen and (min-width: 730px) {
    .flex-spacer-title {
        display: inline;
        flex-grow: 2;
    }

    .container__gender--text div:nth-child(3),
    .container__title div:nth-child(3) {
        display: block;
        font-size: .9rem;
        padding-right: .6rem;
    }

    .container__title div:nth-child(3) {
        padding-bottom: 1.4rem;
    }

    .container__gender--text div:nth-child(3) {
        padding-bottom: .6rem;
    }
        

}

@media screen and (min-width: 910px) {
    .container-main__premiere img:hover {
        outline: .4rem solid #ffe300;
    }

    .slider__img img {
        display: hidden;
        width: 100%;
    }    
}

@media screen and (min-width: 1024px) {
    .nav-link,
    .nav-input,
    .enter,
    .register,
    .prefooter {
        display: block;
    }

    .slider {
        margin-top: 60px;
    }

    .slider__img {
        overflow: visible;
    }

    .slider__img img {
        height: 100%;
    }

    /* Menú nav */
    .main-nav {
        background-color: #000;
        top: 0;
        height: 60px;
        padding: 0 20px;
    }

    .nav-link a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        padding: .8rem;
        margin-left: .5rem;
    }

    .nav-input {
        display: flex;
        align-items: center;
        background-color: #333;
        width: 320px;
        height: 40px;
        border-radius: 3px;
        margin-left: .8rem;
    }

    .nav-input__img {
        padding-left: .6rem;
    }

    .nav-input img {
        filter: invert(.5);
        width: 20px;
    }

    .nav-input input {
        background-color: #333;
        color: #999;
        border: none;
        margin-left: .5rem;
        font-size: 1.2rem;
    }

    .nav-input input:focus {
        /* quitar borde azul del focus */
        outline: none;
    }

    /* Enter & Register */
    .enter,
    .register {
        font-size: 14px;
        padding: .8rem;
    }

    .enter {
        margin-right: .5rem;
    }

    .register {
        background-color: #ffe300;
        color: #000;
        border-radius: 3px;
        font-weight: 700;
        height: 36px;
        line-height: 13px;
    }

    /* Hover */
    .nav-link a:hover {
        color: #ffe300;
        cursor: pointer;
    }

    .enter:hover{
        color: #ffe300;
        cursor: pointer;
    }

    .help:hover{
        color: #ffe300;
        cursor: pointer;
    }

    .register:hover{
        background-color: #f0d500;
        cursor: pointer;
    }

    /* Quitar el overflow para que ya se vean todas las imágnes del premier  */
    .container-main {
        overflow: visible;
    }

    .container-main__premiere img {
        width: 100%;
        margin: 0 .4rem;
        padding-left: .5rem;
    }

    /* Hover imágenes premiere */
    .container-main__premiere img:hover {
        outline: .3rem solid #ffe300;
    }
    

    /* Hidden */
    .main-nav__less,
    .nav__footer {
        display: none;
    }


    /* Footer */
    .footer {
        background-color: #000;
        padding: 35px 0;
    }
    .footer-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 90%;
    }

    .copy-alignment {        
        width: 90%;
    }

    .copy {
        text-align: start;
        width: 90%;
    }

    /* Prefooter */
    .prefooter {
        background-color: #212121;
        padding: 25px;
    }

    .text__box-rakuten {
        margin: 10px 290px 20px;
    }

    .text__box-rakuten h1 {
        font-size: 1.4rem;
        text-align: center;
        padding-bottom: .5rem;
    }

    .text__box-rakuten p {
        font-size: .9rem;
        text-align: center;
        filter: invert(.3);
    }

    .text__box-mode {
        display: flex;
    }

    .text__box-mode--item {
        text-align: center;
        padding: 10px 15px 25px;
        margin: 10px 10px;
    }

    .text__box-mode--item img {
        text-align: center;
        height: 90px;
        /* padding: 90px 15px 25px; */
        /* margin: 10px 10px; */
    }

    .visa img {
        height: 70px;
    }

    .text__box-mode--item h2 {
        font-size: 1.4rem;
    }

    .text__box-mode--item p {
        font-size: .9rem;
        filter: invert(.3);
    }

    /* Footer */
    .footer {
        padding-left: 3rem;
    }

    /* Margen del footer para que el nav-footer fixed no tape. Ahora hay que tirarlo */
    .footer {
        margin-bottom: 0px;
    }

    /* Cuadro de info que aparece */
    .special__hover:hover + .box-info {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1250px) {
    .help {
        display: block;
        font-size: 14px;
        padding: .8rem;
        color: #999;
    }    
}