<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tour of Heroes - Dashboard</title>
		<link rel="stylesheet" href="../styles.css">
		<link rel="stylesheet" href="dashboard.component.css" />
	</head>
	<body>
		<h1>Tour of Heroes</h1>
		<nav>
		<a href="./dashboard.component.html">Dashboard</a>
		<a href="../hero-list/hero-list.component.html">Heroes</a>
		</nav>
		<section id="dashboard__container"></div>
		<script src="../hero.js"></script>
		<script src="../hero.mock.js"></script>
		<script src="dashboard.component.js"></script>
		<script src="../hero.service.js"></script>
	</body>
</html>