.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.flexbox-container1 {
    padding: 12px;
    display: flex;
}
.container1-square{
    border: 1px solid;
    width: 20rem;
    height: 20rem;
}
.container1-column{
    margin: 10px;
}
.container1-row1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.container1-circle{
    border: 1px solid;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.container1-text{
    margin-right: 130px;
    margin-bottom: 10px;
}
.flexbox-container3{
    display: flex;
    justify-content: space-evenly;
}
.element-triangle{
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid #555;
}