aside {
    color: blue
}
li{
    font-style: italic;
}
#morespecific{
    background-color: red;
    border: 1px solid black;
}
.specific{
    background-color: gray;
    border: none !important;
}
.own_class{
    background-color: transparent;
    color: black;
}
p{
    background-color: blue;
    color: white;
    padding: 5px;
}