<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour of Heroes with EJS</title>
</head>
<body>
    <h1>Tour of Heroes with EJS</h1>
    <a href="/">Dashboard</a>
    <a href="/list">Heroes</a>
</body>
</html>