<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About ToH EJS</title>
</head>
<body>
    <h1>Tour of Heroes with EJS</h1>
    <a href="/">Dashboard</a>
    <a href="/list">Heroes</a>
    <h4>Magneta details</h4>
    <p>id: 15</p>
    <form method="post">
        <div>
            <label for="name">name:</label>
            <input id="name" name="name" type="text" placeholder="Magneta">
        </div>
        <br>
        <div>
            <input type="submit" value="Save Hero">
        </div>
    </form>
</body>
</html>