<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <%- include('../header')-%>
    <h2><%= user.user %></h2>
    <form action="" method="POST">
        <div>
            <label for="password">
                Password: <input type="password" name="password" value="<%= user.password %>">
            </label>
        </div>

        <button type="submit">Save</button>
    </form>

</body>

</html>