* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1e1e;
  font-family: "Noto Sans", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
}

.premiere-movies-slider {
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-start;
  margin: 10px;
}

.premiere-movie {
  width: 100%;
  margin: 5px;
  overflow: scroll;
  border-radius: 2px;
}

.category-title {
  display: flex;
  flex-direction: row;
  margin: 10px 15px;
  color: white;
  font-size: 70%;
  margin-bottom: auto;
}

.category-title p {
  font-size: 19px;
  margin-bottom: auto;
  margin-left: 5px;
  font-weight: 700;
}

@media screen and (min-width: 599px) {
  .title-arrow {
    display: none;
  }
 
  .category-title{
    justify-content: space-between;
}
}

@media screen and (max-width: 600px) {
  .premiere-movie__desktop,
  .premiere-movie__tablet {
    display: none;
  }

  .see-all {
    display: none;
  }


}

@media screen and (max-width: 1023px) {
    .premiere-movie__desktop {
    display: none;
  }
}
