* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

.profile__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.profile__wrapper{
    width: 90%;
}

.info__title{
    width: 100%;
    margin: 20px 0;
}

.button__container{
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: fantasy;
    color: #FFFFFF;
    font-size: 15px;
    box-shadow: 0px 4px 5px #838691;
    border-radius: 4px;
    border: 0px solid #3866A3;
    background: #4181C2;
    background: linear-gradient(to top, #4181C2, #224466);
    width: 100%;
    height: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      text-decoration: none;
      color: white;
      width: 100%;
      height: 40px;
  }

  .button:hover {
    color: #FFFFFF;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
  }

  .form__container{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .input__section{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.label{
    font-weight: bolder;
    width: 100%;
    margin: 5px;
}

.input{
    width: 100%;
    margin: 5px;
    border: 0;
    border-bottom: solid 1px #246;
}

.filled{
    width: 100%;
    margin: 10px;
    border: 0;
}

 

@media (min-width: 576px){
    .profile__wrapper{
        width: 80%;
    }

    .label{
        width: 15%;
        margin: 5px;
        font-size: 12px;
    }
    
    .input{
        width: 30%;
        margin: 5px;
        font-size: 12px;
    }
    
    .filled{
        width: 25%;
        margin: 10px;
        font-size: 12px;
    }

    .button{
        width: 33.3%;
    }
}

@media (min-width: 1200px){
    .profile__wrapper{
        width: 80%;
    }

    .label{
        width: 15%;
        margin: 5px;
    }
    
    .input{
        width: 30%;
        margin: 5px;

    }
    
    .filled{
        width: 25%;
        margin: 10px;
    }

    .button{
        width: 33.3%;
    }


}