<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Skylabers</h1>
    <nav>
        <%for(let i = 0; i < nav.length; i++){%>
        <a href="<%= nav[i].link%>"><%= nav[i].title%></a>
        <%}%>

</nav>
</body>
</html>