.landing__container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}

.landing__container::after {
	content: '';
	background-image: url('../../assets/img/landing-bg.jpg');
	height: 100%;
	background-size: cover;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.landing__login-container {
	display: flex;
	justify-content: center;
	width: 33%;
}

.landing__chart-container {
	display: flex;
	justify-content: center;
	width: 66%;
}

.landing__chart-container img {
	width: 50%;
}

@media screen and (min-width: 600px) {
	.landing__container {
		margin-top: 32px;
	}
}

@media screen and (min-width: 1024px) {
	.landing__container {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 60px;
	}
}
