.landing__container::after {
	content: '';
	background-image: url('../../assets/img/landing-bg.jpg');
	background-size: cover;
	background-repeat: repeat;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.landing__container {
	height: 100%;
	width: 100%;
}

.landing__borders {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 32px;
	padding-bottom: 70px;
}

.landing__login-container {
	display: flex;
	justify-content: center;
	width: 75%;
}

.landing__chart-container {
	display: flex;
	justify-content: center;
	width: 66%;
}

.landing__chart-container img {
	width: 50%;
}

@media screen and (min-width: 600px) {
	.landing__borders {
		margin-top: 24px;
	}
	.landing__login-container {
		width: 70%;
	}
}

@media screen and (min-width: 1024px) {
	.landing__borders {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.landing__login-container {
		width: 33%;
		margin-left: 50px;
	}
}
