<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hero List</title>
	<link rel="stylesheet" href="hero-list.component.css" />
</head>

<body>
	<div class="body-container">
		<header>
			<h1 class="title">Tour of Heroes</h1>
			<div class="actions">
				<a href="../hero-detail/hero-detail.component.html">Detail</a>
				<a href="../hero-dashboard/hero-dashboard.component.html">Dashboard</a>
			</div>
			<h2>My Heroes</h2>


			<ul id="list"></ul>
			<script src="../hero.js"></script>
			<script src="../hero.mock.js"></script>
			<script src="hero-list.component.js"></script>
</body>

</html>