/*
** FORM INSIDE CONTAINER
*/
.pop-up-modal {
	width: 100%;
	position: absolute;
	background-color: var(--bg-color-navbar) !important;
	border-radius: 0;
	padding-bottom: 10px;
}

.pop-up-modal__pop-up-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
	text-align: center;
}

.modal-dialog {
	margin: 0;
	width: 100%;
}
/*
** FORM ELEMENTS
*/

/*
** MEDIA QUERIES
*/

@media only screen and (min-width: 600px) and (max-width: 1023px) {
	.pop-up-modal {
		width: 100%;
	}
	.pop-up-modal:before {
		content: '';
		position: absolute;
		height: 0px;
		width: 0px;
		top: 50%;
		border-width: 15px;
		border-color: transparent white transparent transparent;
		border-style: solid;
	}
}

@media only screen and (min-width: 1024px) {
	.pop-up-modal {
		left: 55%;
		width: 45%;
	}
	.pop-up-modal__pop-up-form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.pop-up-modal:before {
		content: '';
		position: absolute;
		height: 0px;
		width: 0px;
		top: 50%;
		left: -29px;
		border-width: 15px;
		border-color: transparent white transparent transparent;
		border-style: solid;
	}
}
