<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tour of Heroes</title>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="stylesheet" href="css/hero-detail.component.css" />
	</head>
	<body>
		<%-include(header) %>
		<div>
			<h2>Bombasto Details</h2>
			<div><span>id: </span>13</div>
			<div>
				<label
					>name:<%=hero.id %>
					<input placeholder="name" />
				</label>
			</div>
			<button>go back</button>
			<button>save</button>
		</div>
	</body>
</html>
