a{
     
    color:rgb(74, 18, 163);
    font-size:4vh ;
    padding:1vh;
    margin-top: 1vh;

}
header{
    display: flex;
    justify-content:space-between;
    background-color:rgb(187, 181, 181) ;
    padding: 1vh;
}
button{
    margin:20px 20px 20px 850px ;
    background-color: rgb(233, 10, 10);
    color: black;
    font-size: 2vh;
    padding: 0.5vh; 
    float:right;    
}

li{
    font-size:4vh;
    padding: 1vh;
}
ol{
    background-color:rgb(211, 9, 9) ;
    border: black;
    
}
p{
    background-color: white;
    color: black;
    font-size: 3vh;
    padding: 0.5em;

}
footer{
    background-color: grey;
    color:yellow;
    font-size: 2vh;
    margin-top: 5vh;
    text-align: center;
}
@media (max-width:480px) {
    a{
        display: none;
    }
    button{
        display: block;
        padding: 0.3vh;
    }
    .row{
        flex-direction: column-reverse;
    }
}