<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hero List</title>
		<link rel="stylesheet" href="hero-list.component.css" />
	</head>
	<body>
		<h1>Tour of Heroes</h1>
		<a href="../hero-detail/hero-detail.component.html">Detail</a>
		<a href="../dashboard/dashboard.component.html">Dashboard</a>
		<ul id="list"></ul>

		<script src="../hero.js"></script>
		<script src="../hero.mock.js"></script>
		<script src='../services/hero.service.js'></script>
		<script src="hero-list.component.js"></script>
	</body>
</html>
