body {
  margin: 0;
  background-color: #171717;
  color: white;
  font-family: NotoSans-Bold, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  overflow-x: hidden;
}

header.transparent {
  display: flex;
  justify-content: space-between;

  position: absolute;

  width: 100%;
  height: 30px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.4) 50%,
    transparent 100%
  );
}

.header {
  height: 60px;
  padding: 0 20px;

  justify-content: start;
  align-items: center;
}

.header > svg {
  width: 122px;
}

.header-menus > input {
  padding-left: 40px;
  height:35px;
  background-color: #333;
  border-radius: 2px;

  color: white;
}

.flex-space{
  flex: 1;
}

.login{
  background: transparent;
  border: none;

  color: white;
  padding: 10px;
  font-size: 14px;
}

.login:hover{
  color: yellow;
}

.register{
  background-color: yellow;
  padding: 10px;
  font-size: 14px;
}

.register:hover{
  background-color: #f0d500;
}

.header-menus {
  display: flex;
}

.transparent-box {
  display: flex;
  justify-content: space-between;

  width: 90%;
  margin: 0 auto;
}

.transparent-box > img {
  height: 80%;
  width: auto;
}

.banner {
  width: 100%;
  height: 0;
  padding-top: 30%;

  background-image: url(https://images-3.wuaki.tv/system/images/5318/original/marvel-promo-slider-1594366565-width1920-quality80.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
}

.banner > img {
  width: 100%;
}

.banner-arrow {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.dots {
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;

  margin-top: -3%;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

  margin: 1px 6px;
}

.banner-arrow > img {
  width: 30px;
}

.banner-carousel {
  display: flex;

  width: 100%;
}

.banner-carousel > img {
  margin: 5px;
}

.banner-carousel > img:hover {
  margin: 1px;
  border: 4px solid yellow;
}

main {
  margin-left: 20px;
}

.main-carousel {
  position: relative;

  display: flex;
  flex-direction: row;
  overflow: hidden;

  width: 100%;
  height: 20%;
}

.main-carousel-item {
  margin: 4px 5px;
}

.main-carousel-item:hover {
  margin: 0 1px;
  border: 4px solid yellow;
}

.generos-button {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.generos-button > p {
  font-size: 16px;
}

.generos-carrusel {
  width: 100%;
  display: flex;

  overflow: hidden;

  position: relative;
}

.generos-carrusel-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 10px;

  width: 95px;
  height: 192px;

  margin: 0 20px;
}

.generos-carrusel-item > img {
  width: 95px;
}

.generos-carrusel-item > img:hover {
  filter: brightness(0.5);
}

.generos-carrusel-item > p {
  text-align: center;
  font-size: 18px;
}

.info {
  background-color: #212121;
  padding: 25px;
  width: 100%;
}

.info > h1 {
  margin-top: 15px;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.info > p {
  margin: 20px auto;
  width: 50%;
  color: #ccc;
  font-size: 14px;
  text-align: center;
  line-height: 160%;
}

.info-item {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  margin: 50px 0;
}

div[class^="info-item__"] {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 20%;
}

.paytype {
  display: flex;
}

.info-img {
  height: 50px;
  margin: 0 10px;
}

.gray {
  filter: grayscale() invert();
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;

  height: 60px;

  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: black;
}

.footer-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5px;
}

.footer-nav-item > img {
  width: 30px;
}

.footer-nav-item > p {
  text-align: center;
  font-size: 10px;
}

.footer {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.footer-top {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
  padding: 40px;
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-top > svg {
  width: 128px;
}

.footer-link > p {
  color: #ccc;
  margin: 0 10px;
}

.footer-link > p:hover {
  color: white;
}

.footer > p {
  margin-left: 20px;
  color: #ccc;
  text-align: start;
}

/* Hidden */

.generos-button__generos,
.generos-button__vertodo,
.info,
.header {
  display: none;
}

/* Generic */

.invert {
  filter: invert(1);
}

.right {
  right: 30px;
}

.left {
  transform: rotate(180deg);
  left: 30px;
}

.arrow {
  position: absolute;
  margin: auto;

  width: 30px;
  top: 50%;
}

.arrow:hover {
  filter: brightness(0.5);
}

@media screen and (min-width: 730px) {
  .generos-button__generos,
  .generos-button__vertodo {
    display: inline;
  }

  .generos-button__arrow {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .footer-nav,
  header.transparent {
    display: none;
  }

  .info {
    display: block;
  }

  .header {
    display: flex;
  }

  .footer-top {
    flex-direction: row;
    justify-content: start;
  }

  .footer {
    align-items: start;
    margin-left: 50px;
  }
}

/*Header menu*/

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* enlaces del menu */

.header ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  letter-spacing: 1px;

  font-family: NotoSans-Bold, Arial, sans-serif;
}

/* items del menu */

.header ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

/* menu desplegable */

.header ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #eee;
  padding: 0;
}

/* items del menu desplegable */

.header ul ul li {
  float: none;
  width: 150px;
  background-color: #171717;
}

/* enlaces de los items del menu desplegable */

.header ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

/* items del menu desplegable al pasar el ratón */

.header ul li:hover > ul {
  display: block;
}

.menu-arrow::after {
  display: inline-block;
  content: "▼";
  position: relative;
  bottom: 1px;
  margin-left: 4px;
  font-size: 10px;
}

.menu-arrow:hover::after {
  display: inline-block;
  content: "▲";
  position: relative;
  bottom: 1px;
  margin-left: 4px;
  font-size: 10px;
}

.yellow:hover {
  color: yellow;
}
