$dev__background--highlight: red;
$background: black;
$background__light: white;
$button: goldenrod;
$button--hover: coral;
$text--white: white;
$text--dark: black;
$a--hover: coral;
$item__text: white;
$item__text--hover: yellow;
$item__textBackground: #111111aa;
$item__textBackground--hover: #11111122;