.footer{
    width: 100%;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}