.footer{
    width: 100%;
    background-color: #ccc7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5rem 0;
}