.header {
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
}

.inner__header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav{
    margin: 0 1rem;
    width: 100%;
}

.nav__item{
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav__item:hover{
    text-decoration: underline dotted coral;
    color: coral;
}

.nav__list{
    list-style-type: none;
}

.nav__list > li {
    color: white;
    display: inline-block;
    padding: 0 1rem;
}

.logo__header{
    display: none;
}

.img__header{
    width: 25%;
}

.login__button{
    width: 100px;
    height: 38px;
    margin: 0 5px;
    background-color: goldenrod;
    box-sizing: border-box;
    padding: .2rem;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: .25rem;
    border-style: none;
} 

.login__button:hover{
    background-color: coral;
    color: black;
    text-decoration: underline dotted black;
} 



@media (min-width: 680px) and (max-width: 1024px) {
	.logo__header{ 
        width: 90%;  
        justify-content: center;
        display: contents;
    }
    
    .inner__header{
        width: 80%;
        justify-content: center;
        display: contents;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img__header{
        width: 25%;
    }

}

@media (min-width: 1024px) {
    .logo__header{ 
        width: 80%;  
        justify-content: center;
        display: contents;
    }
    
    .inner__header{
        width: 80%;
        justify-content: center;
        display: contents;
    }

    .img__header{
        width: 20%;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
}

