.header {
	width: 100%;
	background-color: #ccc7c7;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
}

.inner__header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav{
    margin: 0 1rem;
    width: 100%;
}

.nav__item{
    margin: 0 .75rem;
    color: black;
}

.nav__item:hover{
    color: white;
}

.logo__header{
    display: none;
}

.img__header{
    width: 25%;
}

button{
    margin: 0 5px;
}

@media (min-width: 680px) and (max-width: 1024px) {
	.logo__header{ 
        width: 90%;  
        justify-content: center;
        display: contents;
    }
    
    .inner__header{
        width: 80%;
        justify-content: center;
        display: contents;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img__header{
        width: 25%;
    }

}

@media (min-width: 1024px) {
    .logo__header{ 
        width: 80%;  
        justify-content: center;
        display: contents;
    }
    
    .inner__header{
        width: 80%;
        justify-content: center;
        display: contents;
    }

    .img__header{
        width: 20%;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
}

