.answer__item{
    text-align: center;
    color: white;
    background-color: goldenrod;
    min-width: 200px;
    width: 20vw;
    padding: 5px;
    text-size-adjust: bold;
    border-radius: .25rem;
}