@use 'colors';

.answer__item{
    text-align: center;
    color: colors.$text--white;
    background-color: colors.$button;
    min-width: 200px;
    width: 20vw;
    padding: 5px;
    text-size-adjust: bold;
    border-radius: .25rem;
}