.answer__item{
    height: 25px;
    text-align: center;
    color: white;
    background-color: goldenrod;
    width: 300px;
    padding: 5px;
    text-size-adjust: bold;
    border-radius: .25rem;
}