<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour of Skylabers</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/skylabers.css">
</head>

<body>
    <%- include('header') -%>
    <h2>My Classmates</h2>

    <div>
        <label>Skylaber name:
            <input />
        </label>

        <button>
            add
        </button>
    </div>

    <ul class="heroes">

        <% for(let i = 0; i < skylabers.length; i++) { %>
        <li>
            <a href="/skylabers/<%= skylabers[i].id %>">
                <span class="badge"><%= skylabers[i].id %></span><%= skylabers[i].name %>
            </a>
            <button class="delete" title="delete skylaber">x</button>
        </li>
        <% } %>
    </ul>
</body>

</html>