/*Main Area*/

body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('../images/pattern.png');
}

#mainheader {
    background-color: #a593c2;
}


/*Top Menu*/

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto 20px;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

.main-top-content {
    display: flex;
    flex-direction: row;
}


/*Side Menu*/

.leftmenu img {
    width: 100%;
}

.mainContent ul {
    padding-inline-start: 2px;
    margin-right: 1.5rem;
    width: 25vw;
}

.mainContent ul>a>li {
    background-color: #cf4522;
    color: #fff;
    list-style: none;
    padding: 14px 25px;
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
}

.mainContent ul>a>li:hover {
    background-color: #B43110;
}

.mainContent ul>a {
    text-decoration: none;
    color: #fff;
}

.mainContent {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.leftmenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/*Main Content*/

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 24px;
}

.pageTitle {
    font-size: 35px;
    color: #a593c2;
}

.main-image {
    width: 100%;
    height: 100%;
}


/*Footer*/

footer {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .main-top-content {
        flex-direction: column;
        align-items: center;
    }
    .mainContent ul {
        width: 100%;
    }
}