/*Main Area*/

body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('../images/pattern.png');
}

#mainheader {
    background-color: #a593c2;
}


/*Top Menu*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto 20px;
}

.nav-logo {
    margin: 5px;
}

.flex-spacer {
    flex: 1;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

.main-top-content {
    display: flex;
    flex-direction: row;
}


/*Side Menu*/

.mainContent ul {
    padding-inline-start: 2px;
    margin-right: 1.5rem;
    width: 25vw;
}

.mainContent ul>a>li {
    background-color: #cf4522;
    color: #fff;
    list-style: none;
    padding: 14px 25px;
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
}

.mainContent ul>a>li:hover {
    background-color: #B43110;
}

.mainContent ul>a {
    text-decoration: none;
    color: #fff;
}

.mainContent {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.leftmenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.leftmenu img {
    width: 100%;
}


/*Main Content*/

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 24px;
}

.pageTitle {
    font-size: 35px;
    color: #a593c2;
}

.main-image {
    width: 100%;
    height: 100%;
}

.main-pie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
    background-color: rgb(224, 224, 231);
    border: 2px solid black;
}

.main-pie {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    width: 24%;
    background-color: rgb(197, 197, 214);
}

.main-pie img {
    margin-top: 3px;
}

.pie-main-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pie-main-info h5 {
    margin-right: 10px;
}

.main-pie p {
    text-align: center;
    margin-top: 0;
}

.main-pie img {
    width: 60%;
}


/*Footer*/

footer {
    display: flex;
    flex-direction: column;
}


/* Media Queries */

@media screen and (max-width: 1024px) {
    .main-top-content {
        flex-direction: column;
        align-items: center;
    }
    .mainContent ul {
        width: 100%;
    }
    footer {
        align-items: center;
    }
    .main-pie h5 {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .main-top-content {
        flex-direction: column-reverse;
        align-items: center;
    }
    .mainContent ul {
        width: 100%;
    }
    nav {
        margin: 0 auto 0px;
    }
    .pageTitle {
        margin: 0 0 10px 0;
    }
    footer {
        align-items: center;
    }
    .leftmenu img {
        width: 50%;
    }
    .leftmenu>a {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .mainContent {
        padding: 12px;
    }
    .main {
        padding: 12px;
    }
    .main-pie p {
        text-align: center;
    }
    .main-pie h5 {
        text-align: center;
    }
}

@media screen and (max-width: 160px) {
    nav>ul {
        display: flex;
        flex-direction: column;
    }
}