<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="skylaber-dashboard.component.css">
</head>
<body>
    <h3 class="title">Tour of Skylabers</h3>
    <a href="./skylaber-dashboard.component.html" class="button">Dashboard</a>
    <a href="../skylaber-list/skylaber-list.component.html" class="button">Skylabers</a>
    <h1 class="title">Top Skylabers</h1>
    <section class="elements" id="elements">
               
    </section>
  <script src="../Skylaber.js"></script> 
  <script src="../skylaber.mock.js"></script>
  <script src="./skylaber-dashboard.component.js"></script>  
</body>
</html>
