<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hero List</title>
	<link rel="stylesheet" href="hero-list.component.css" />
</head>

<body>
	<h1>Tour of Heroes</h1>
	<a class="nav__button" href="./hero-detail/hero-detail.component.html">Detail</a>
	<a class="nav__button" href="./hero-list.component.html">Heroes</a>

	<!-- <input type="text" placeholder="Hero filter.." class="hero__filter" name="hero__filter"
		onkeyup="heroListComponent.callCreator()"> -->
	<h2>My Heroes</h2>

	<div class="hero__list__container heroes"></div>

	<p class='hero__list--error'></p>

	<script src="../hero.js"></script>
	<script src="../hero.mock.js"></script>
	<script src="../hero-services/hero.service.js"></script>
	<script src="hero-list.component.js"></script>
</body>

</html>