.dashboard {
    display: flex;
    flex-direction: row;
}

.top-heroes {
    background-color: blue;
    color: white;
    height: 80px;
    width: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}