 
/*Main Area*/
body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6e4d9;
    background-image: url('../images/pattern.png');
}

.mainContent{
    display: flex;
    flex-direction: column;
    
}

.main-content-body{
    display: flex;
    flex-direction: row;

}

.leftmenu {
    display: flex;
    flex-direction: column;
    
}


.leftmenu img{
    width: 100%;
}

.main-imagen{
    width: 100%;
}


#mainheader {
    background-color: #a593c2;
}

/*Top Menu*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-spacer{
    flex: 1;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

.logo{
    margin-left: 1rem;
}

/*Side Menu*/

.mainContent ul{
    padding-inline-start: 2px;
    margin-right: 1.5rem;
    width: 25vw;
}

.mainContent ul>a>li{
    background-color: #cf4522;
    color: #fff;
    list-style: none;
    padding: 14px 25px;    display: block;
    cursor: pointer;
    margin-bottom: 2px;
}

.mainContent ul>a>li:hover{
    background-color: #B43110;
}

.mainContent ul>a{
    text-decoration: none;
    color: #fff;
}

.mainContent{
    margin-left: auto;
    margin-right: auto;
}

.leftmenu {
    width: 30%;
    margin-bottom: 20px;
}

/*Main Content*/

    .main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 20px;
    padding: 15px;
}

.pageTitle{
    font-size:35px;
    color:#a593c2;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-cacke-container{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.cake-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    width: 28%; 
    border: 2px solid;
    padding: 1rem;
    background-color: rgb(167, 166, 166);
    margin: 1rem;

    
}

.cake-container p{
    text-align: center;
}

.cake-name-price h5{
    margin-right: 10%;
    text-align: center;
}

.cake-name-price{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.cake-container img{
    width: 100%;

}

@media screen and (max-width: 1024px){

    
    .mainContent{
        align-items: center;
    }

 
    .main-content-body{
       
        flex-direction: column;
        align-items: center;
    
    }

    .leftmenu{
        align-items: center;
    }

   
    .main-imagen {
        width: 80%;
    }

    .mainContent ul{
        width: 100%;
    }

    figure{
        margin: 0;
    }
    
}

@media screen and (max-width: 600px){
    .leftmenu{
        order: 1;
    }

    body{
        display: flex;
        flex-direction: column;
    }

    .mainContent{
        justify-content: center;
        text-align: center;
    }

}