<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Skylaber List</title>
	<link rel="stylesheet" href="skylaber-list.component.css" />
</head>

<body>
	<main class="main__container">
		<h1>Tour of Heroes</h1>
		<a href="../skylaber-dashboard/skylaber-dashboard.component.html">Dashboard</a>
		<a href="../skylaber-list/skylaber-list.component.html">Skylabers</a>
		<h2>The Skylabers</h2>
		<ul id="skylaber__list">
		</ul>
		<script src="../skylaber.js"></script>
		<script src="../skylabers.mock.js"></script>
		<script src="../skylaber-list/skylaber-list.component.js"></script>
	</main>
</body>

</html>