*{
  margin: 0;
  padding: 0;
}
.main__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skylaber__list{
  display: flex;
  flex-direction: column;
}

a{
  margin: 5px;
}

span{
  margin: 5px;
}