body{
    background-color: black;
}

table{
    width: 100%;
}

td{
    width: 20%;
    height: 80px;

    color: white;

    text-align: center;
    font-size: 60px;
}

button{
    width: 200px;
    height: 70px;

    padding: auto;

    font-size: 25x;
    text-align: center;
}

input{
    width: 300px;
    height: 70px;

    font-size: 50px;
}

.title{
    width: 100%;
    height: 50px;

    text-align: center;
    font-size: 40px;

    color: white;

    border: 2px solid white;

}

#info{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 40px;

    color: white;

    border: 2px solid white;
    margin: 10px;

    margin-left: 0px;

}

#newgame{
    text-align: center;
}

#name{
    text-align: center;
}

#answer{
    text-align: center;
}

.send{
    width: 70px;
}

#rank{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 40px;

    color: white;

    border: 2px solid white;
    margin: 10px;

    margin-left: 0px;
}