$header-bg-color: #222831;
$main-color: #00cc99;
$header-separator-color: #393e46;
$light-highlight-color: #eeeeee;
$menu-bg-color: #393e46;
$transition: all 0.2s ease-in-out;
$transform: scale(1.08);

$form-shadow: 5px 5px 5px 0px rgba(209, 205, 209, 1);

.newbikeform {
	font-size: 16px;
}

.errorAlert {
	opacity: 0;
}

.newbikeform__upper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 12px;
}

.newbikeform-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.newbikeform__title {
	padding: 6px;
}

.newbikeform__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	background: $light-highlight-color;
	border-radius: 15px;
	padding: 12px;
	box-shadow: $form-shadow;
}

.newbikeform__element {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px;
	width: 80%;
	margin-bottom: 3px;
}

.newbikeform__element label {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 450;
}

.newbikeform__input {
	padding: 6px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid $header-separator-color;
	font-size: 16px;
}

.newbikeform__warning {
	text-align: right;
	width: 100%;
	height: 25px;
	font-size: 14px;
	margin-bottom: 6px;
	color: red;
	font-weight: 500;
}

.newbikeform__create-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	width: 80%;
	border-radius: 5px;
	border: none;
	background-color: $main-color;
	color: whitesmoke;
	font-size: 18px;
	font-weight: bold;
	transition: $transition;
	cursor: pointer;
}

.newbikeform__create-button:hover {
	transform: $transform;
	color: black;
}

@media only screen and (min-width: 900px) {
	.mobile {
		display: none;
	}

	.desktop {
		display: flex;
	}

	.newbikeform {
		width: 40%;
		margin: auto;
	}
}
