<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hero List</title>
	<link rel="stylesheet" href="hero-list.component.css" />
</head>

<body>
	<h1>Tour of Heroes</h1>
	<a href="../hero-detail/hero-detail.component.html">Detail</a>
	<a href="./hero-list.component.html">Heroes</a>
	<a href="../hero-dashboard/hero-dashboard.component.html">Dashboard</a>
	<label for="heroName">

		<input id="hero-detail__name-control" value="Enter your filter criteria..." type="text" name="heroName"
			onchange="heroDetailComponent.filterByCriteria(this.value)" />
		<ul id="list"></ul>
		<script src="../hero.js"></script>
		<script src="../hero.mock.js"></script>
		<script src="../hero-service.js"></script>
		<script src="./hero-list.component.js"></script>
</body>

</html>