<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic Market - Product Detail</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/detail.css" />
</head>

<body>
    <!-- Change moked for item!!! -->
    <h2>Product Details</h2>
    <div>
        <div>
            <span class="product__property">Type:</span>
            <p>Test</p>
        </div>
        <div>
            <span class="product__property">Description:</span>
            <p>Test</p>
        </div>
        <div>
            <span class="product__property">Heigth:</span>
            <p>Test</p>
        </div>
        <div>
            <span class="product__property">Width:</span>
            <p>Test</p>
        </div>
        <div>
            <span class="product__property">Price:</span>
            <p>Test</p>
        </div>
        <div>
            <span class="product__property">Rating:</span>
            <p>Test</p>
        </div>
    </div>
    <form method="POST">
        <button name="item" valor="none">Añadir al carro</button>
    </form>

</body>

</html>