* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 49, 2);
    height: 100vh;
}

.calculator {
    position: relative;
    display: grid;
    margin-top: 10%;
}

.calculator .value {
    grid-column: span 4;
    height: 90px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

input.value {
    background: #ffff66;
}

.calculator span {
    display: grid;
    width: 60px;
    height: 60px;
    background: #2a4903;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.calculator span:active {
    background: #74ff3b;
    color: #111;
}

.calculator span.clear {
    grid-column: span 2;
    width: 120px;
    background: #930606;
}

.calculator span.zero {
    grid-column: span 2;
    width: 120px;
}

.calculator span.plus {
    grid-row: span 2;
    height: 120px;
}

.calculator span.equal {
    background: #262673;
}