* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root {
  margin: 100px 0;
}

img {
  width: 100%;
}

.form-button__yellow {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #fc3;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 50px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding-top: .2rem;
  cursor: pointer;
}

.loading {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}