section{
    margin: auto;
}
.question__container{
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.question__body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.question__answers{
    padding: 0 1.5rem;
}
.question__image{
    max-width: 40vw;
}