.card-holder {
	margin-bottom: 65px;
}
.father-card {
	margin: 10px;
}

.card-img {
	height: 90px;
}

.hinherit {
	height: inherit;
}

.img-holder {
	width: 100px;
	height: 100px;
	align-content: center;
	padding: 5px;
	text-align: center;
}

.hinherit img {
	border-style: 1px solid;
	height: -webkit-fill-available;
	border-radius: 50%;
	object-fit: cover;
}

.card-body {
	text-align: -webkit-center;
	align-self: center;
}

.card {
	border: 1px solid;
	border-color: darkslateblue;
	border-radius: 0.3rem;
}

@media only screen and (min-width: 768px) {
	.row {
		flex-direction: column;
		align-items: center;
	}

	.hinherit img {
		border-style: 1px solid;
		height: -webkit-fill-available;
		border-radius: unset;
		object-fit: cover;
		min-height: 290px;
	}

	.img-holder {
		width: 100%;
		min-height: 300px;
		max-height: 500px;
		align-content: center;
		padding: 5px;
		text-align: center;
	}

	.card {
		width: 300px;
		margin: 10px;
	}

	.card-body {
		position: relative;
	}

	.card-holder {
		margin-bottom: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
