.container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: #5F7D8C;
    font-weight: bold;
}

label {
    color: #5F7D8C;
    font-weight: bold;
}