<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skylaber Details</title>

</head>

<body>
    <h1>Tour of Skylabers</h1>
    <a href="./skylaber-detail.component.html">Detail</a>
    <a href="../skylaber-list/skylaber-list.component.html">Skylabers</a>

    <h2 class="title">Top Skylabers</h2>
    <div class="skylaber-dashboard__container"></div>

    <script src="../skylaber.js"></script>
    <script src="../skylaber.mock.js"></script>

    <script src="../skylaber-dashboard/skylaber-dashboard.component.js"></script>

</body>

</html>