<div>
	<h2><%= hero.name %> Details</h2>
	<div><span>id: </span><%= hero.id %></div>
	<div>
		<label
			>name:
			<input placeholder="name" value="<%= hero.name %>" />
		</label>
	</div>
	<button><a href='<%=ROUTES.home.path%>'>navigate back home</a></button>
	<button>save</button>
</div>