<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/dashboard.component.css" />
		<title>Tour of heroes</title>
	</head>
	<body>
		<h3>Top Heroes</h3>
		<div class="grid grid-pad">
			<a>
				<div class="module hero">
					<h4>Bombasto</h4>
				</div>
			</a>
		</div>
	</body>
</html>
