<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/heroes.component.css" />
		<title>Tour Of Heroes</title>
	</head>
	<body>
		<h2>My Heroes</h2>

		<div>
			<label
				>Hero name:
				<input />
			</label>
			<button>
				add
			</button>
		</div>

		<ul class="heroes">
			<li>
				<a> <span class="badge">HERO ID</span> HERO NAME </a>
				<button class="delete" title="delete hero">x</button>
			</li>
		</ul>
	</body>
</html>
