body {
  padding: 50px 5%; }

.title {
  margin: 20px 0;
  background-color: #2a85b3; }

.changePassword .changePassword__lable {
  color: #358bc6; }

.changePassword .changePassword__button {
  color: #358bc6; }

.cart .cart__title {
  color: #358bc6;
  text-align: center; }

.cart .cart__main {
  display: flex;
  flex-direction: column; }
  .cart .cart__main .main__item {
    margin: 30px 20px;
    width: 100%;
    border: 3px solid #358bc6;
    border-radius: 1%;
    display: flex;
    flex-direction: column; }
    .cart .cart__main .main__item .item__img {
      width: 100%; }
    .cart .cart__main .main__item .item__info {
      width: 90%;
      margin: 5px 15px;
      display: flex;
      justify-content: space-between; }

button,
a {
  font-family: Arial, sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand; }

button:hover,
a:hover {
  background-color: #cfd8dc; }

button:disabled,
a:hover {
  background-color: #eee;
  color: #aaa;
  cursor: auto; }

@media (min-width: 768px) {
  .cart .cart__main .main__item {
    flex-direction: row;
    align-items: center; }
    .cart .cart__main .main__item .item__img {
      width: 200px; } }
