body {
	background-color: black;
	display: flex;
	flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(54, 54, 54);
    border: 2px solid;
    border-color: greenyellow;
    width: 100%;
    height: 12vh;
}

.section_game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.header__flex-container__title{
    margin-top: 20%;
    border: 4px solid;
    border-color: rgba(70, 8, 114, 0.418);
}



 .section_game > div > div {
    border: 1px solid;
    border-color: lawngreen;
    width: 60px;
    height: 60px;
} 

.filled {
    background-color: yellowgreen;
}