* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header */

.nav-container {
    background-color: #f8f8f8;
    width: 100%;
    position: fixed;
    z-index: 500;
}

.main-nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
    height: 3rem;
    line-height: 3.3rem;
}

.nav-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav-icon:nth-child(2) {
    flex-grow: 2;
    text-align: center;
}

.nav-icon:nth-child(3) {
    background-color: #bbb8b6;
}

.nav-icon:nth-child(4) {
    background-color: #fff;
}

.nav-icon:nth-child(5) {
    background-color: #ff5959;
}

.nav-logo {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

/* Icons */
.login {
    position: relative;
    top: 8px;
}

.img-login {
    position: absolute;
}

.search {
    position: relative;
}

.img-search {
    position: absolute;
    top: 14px;
    left: 14px;
}

.cart {
    position: relative;
}

.img-cart {
    position: absolute;
    top: 12px;
    left: 10px;
}

.nav-icon {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.slider {
    width: 100%;
}

/* Main */
/* 1part */
.sublogo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 3rem;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.header-text {
    border-top: 2px solid rgb(70, 69, 69);    
    border-bottom: 2px solid rgb(70, 69, 69);  
    padding: 1rem;
}

h1 {
    font-size: 1.3rem;
    color: rgb(70, 69, 69);
}

    /* 2part */
    .main-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Posición relativa para montar el cuadro encima */
    .box {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        margin-bottom: .5rem;
        cursor: pointer;
    }

    .box-image {
        /* imagen vertical "cortada" */
        object-fit: cover;
        object-position: 50% 0;
        width: 340px;
        height: 140px;
    }

    /* Posición absoluta para que esté encima de la imaen */
    .white-box {
        background-color: rgba(255, 255, 255, .7);
        width: 50%;
        height: 60%;
        position: absolute;
    }

    h3 {
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem;
        color: rgb(82, 79, 79);
    }
    
    .button-main {
        background-color: #ff5959;
        margin-top: 2.5rem;
        color: #fff;
        padding: 15px 30px;
        cursor: pointer;
    }

/* 3 Part */

.main-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sublogo-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 3rem;
}

.logo-blog {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.header-text-blog {
    border-top: 2px solid rgb(70, 69, 69);    
    border-bottom: 2px solid rgb(70, 69, 69);  
    padding: 1rem;
}


.button-blog {
    background-color: #ff5959;
    color: #fff;
    width: 340px;
    padding: 15px 30px;
    cursor: pointer;
}

.blog-image {
    width: 340px;
    height: 529px;
    margin: 1rem 0;
}

/* Author */
.author {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.author-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    padding-left: 1rem;
}

.author-footer img {
    cursor: pointer;
}

.author-title, p {
    color: rgb(70, 69, 69); 
    font-size: .85rem;
    padding-left: 1rem;
}


span {
    color: #ff5959;
}

.button-blog-go {
    background-color: #ff5959;
    color: #fff;
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 3rem;
    margin-bottom: 7rem;
}


/* Footer */
.footer {
    background-color: #ff5959;
    color: #fff;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: .9rem
}


/* Display none */
.card-two, .card-three {
    display: none;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .cards {
        display: flex;
        flex-direction: row;
    }

    .card-two {
        display: block;
        margin: 0 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .box-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .box-column {
        display: flex;
        flex-direction: column;
    }

    .box-image {
        /* QUITAR imagen vertical "cortada" */
        object-fit: none;
        width: 100%;
        height: 100%;
    }

    .white-box {
        height: 50%;
        
    }

    .white-height {
        width: 100%;
        height: 25%;
    }

    .card-three {
        display: block;
    }
}