<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Dashboard</title>
    <link rel="stylesheet" href="skylabers.dashboard.component.css">
</head>

<body>
    <h1>Tour of Skylabers</h1>
    <button><a href="../skylabers-dashboard.component/skylabers-dashboard.component.html">Dashboard</a></button>
    <button><a href="../skylabers-list.component/skylabers.list.component.html">Heroes</a></button>
    <h2>Top Skylabers</h2>
    <!--     <div id="mainContainer__dashboard"></div>
 -->
    <script src="../skylabers.js"></script>
    <script src="../skylabers.mock.js"></script>
    <script src="skylabers.dashboard.component.js"></script>

</body>

</html>