<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hero Details</title>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/dashboard.css" />
	</head>
	<body>
		<%- include('header')%>
		<h3><%= title%></h3>
		<div class="grid grid-pad">
			<% for(let i=0; i<heroes.length; i++){%>
			<a href="/heroes/<%=heroes[i].id%>" class="col-1-4">
				<div class="module hero">
					<h4><%= heroes[i].name %></h4>
				</div>
			</a>
			<% } %>
		</div>
		<app-hero-search></app-hero-search>
	</body>
</html>
