<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Header</title>
		<link rel="stylesheet" href="../../css/footer.css" />
	</head>
	<body>
		<footer class="footer__container">
			<div class="footer">
				<%for (let i = 0; i < nav.length ; i++) { %>
				<div>
					<a href="<%= nav[i].link %>"><%= nav[i].title %></a>
				</div>
				<% } %>
			</div>
		</footer>
	</body>
</html>
