<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Header</title>
		<link rel="stylesheet" href="css/header.css" />
	</head>
	<body>
		<nav>
			<div class="nav">
				<%for (let i = 0; i < nav.length ; i++) { %>
				<a href="<%= nav[i].link %>"><%= nav[i].title %></a>
				<% } %>
			</div>
		</nav>
	</body>
</html>
