body {
  height: 100vh !important;
}

.big-container {
  height: 70%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
}

.MuiBottomNavigation-root {
  margin-top: 15% !important;
}

.big-container__coin-container {
  height: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: wrap;

  a {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.no-coins {
  display: flex;
  justify-content: center;
  width: 100%;
}
