<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Details</title>
    <link rel="stylesheet" href="hero-dashboard.component.css" />
  </head>
  <body>
    <h1>Tour of Heroes</h1>
    <a href="./hero-dashboard.component.html">Dashboard</a>
    <a href="../hero-list/hero-list.component.html">Heroes</a>
    <h2>Top Heroes</h2>
    <div id="hero-dashboard" class="hero-dashboard"></div>

    <script src="../hero.mock.js"></script>
    <script src="../hero.js"></script>
    <script src="hero-dashboard.component.js"></script>
  </body>
</html>
