<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="dashboard-styles.css" />
	</head>
	<body>
		<h3 class="title">Tour of Heroes</h3>
		<a href="./detailItem" class="button">Detail</a>
		<a href="./listItems" class="button">List Heroes</a>
		<h1 class="title">Top Heroes</h1>
		<section class="elements" id="elements"></section>
		<script src="../Hero.js"></script>
		<script src="../hero.mock.js"></script>
	</body>
</html>
