<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="listItems.css" />
	</head>
	<body>
		<h3 class="title">Tour of Heroes</h3>
		<a href="/" class="button">Dashboard</a>

		<h1 class="title">My Heroes</h1>
		<div id="list"></div>

		<h2 class="result"></h2>
		<a href="/detailItem" class="button">View Details</a>
		<script src="../hero.mock.js"></script>
		<script src="../Hero.js"></script>
		<script src="hero-list.component.js"></script>
	</body>
</html>
