h1 {
	color: #c5e623;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
	padding-left: 41.5vw;
}
nav a {
	padding: 5px 10px;
	text-decoration: none;

	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
}
nav a:visited,
a:link {
	color: #c5e623;
}
nav a:hover {
	color: black;
	background-color: #cfd8dc;
}
nav a.active {
	color: green;
}
