body {
    margin: 0 auto;
    color: #fff;
    font-family: NotoSans-Regular,Arial,sans-serif;
    background-color: #101010;
}

.nav-hidden {
    display: none;
}
.slider {
    display: flex;
    flex-direction: column;
}
.slider-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.arrow {
    position: absolute;
    height: 45px;
}
.arrow-left {
    left:5px;
}
.arrow-right {
    right:5px;
}
.slider-pic-img {
    display:block;
    margin:0 -28%;
    width:154%;
}
.slider-pic-img:hover {
    cursor: pointer;
}
.slider-logo {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .7) 20%, rgba(0, 0, 0, .4) 50%, transparent 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.slider-logo img {
    padding: 10px;
    max-width: 30px;
    filter: invert(1);
    margin-right: 5%;
}
.slider-logo svg {
    padding: 10px;
}
.slider-arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.hidden-cursor img {
    width: 20px;
}
.carrusel {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.carrusel-pic {
    margin: 4px;
    width: 250px;
}
.carrusel-pic:hover {
    cursor: pointer;
    border: 4px solid rgb(241, 241, 42);
    border-radius: 4px;
    margin: 0;
}
.title {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
.title h4 {
    display: none;
}
.movies {
    margin-top: -10px;
}

@media screen and (min-width: 1024px) {
    .slider-logo {
        display: none;
    }
    .nav-hidden {
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        position: fixed;
        height: 60px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-hidden-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-hidden-right {
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    .nav-p {
        margin-left: 5px;
        padding: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    .register {
        color: black;
        background-color: rgb(241, 241, 42);
        border-radius: 5px;
        padding: 10px;
    }
    .search__box__input {
        margin-left: 8px;
        padding-left: 4px;
        height: 35px;
        background-color: #333;
        border-radius: 2px;
    }
    .nav-hidden-left img {
        padding: 10px;
        max-width: 30px;
        filter: invert(1);
    }
    .slider-pic-img {
        display: flex;
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }
    .arrow {
        filter: invert(1);
    }
    .title h4 {
        display: block;
    }
    
}
