<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%-include('partials/styles'); %>
</head>

<body>
    <%-include('partials/header'); %>
    <div class="containerList">
    </div>

    <script src="./hero.mock.js"></script>
    <script src="./dashboard.js"></script>
</body>

</html>