<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <%-include('partials/styles'); %>
</head>

<body>
    <%-include('partials/header'); %>
    <div id="hero-list__container">
        <div class="container">

        </div>
    </div>
    <script src="./hero.mock.js"></script>
    <script src="./list.js"></script>
</body>

</html>