body {
	background-color: var(--bg-color-body);
}

.userdetail__container {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.userdetail__user-info {
	width: 29%;
}

.userdetail__repo-list {
	width: 71%;
	display: flex;
	flex-wrap: wrap;
}
