body{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #101010;
    overflow: hidden;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}
.logo-rakuten{
    left:0;
    height: 4vh;
}
.blank{
    flex:1;
}
.main-carousel{
    position: relative;
    margin-bottom: 5px;
    z-index: -1;
}
.main-carousel-image{
    width: 100%;
    height: auto;
}
.point{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: lightslategray;
}
.point:nth-child(6){
    background-color: white;
}
.main-points{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 120px;
    position: absolute;
    left: 50%;
	top: 89%;
	transform: translate(-50%, 0);
}
.carousel-other{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 100%;
    position: relative;
}
.artwork{
    margin: 5px;
}
.artwork__image{
    width: 54vw;
    overflow: visible;
}
.artwork:hover{
    border-radius: 2px;
    box-shadow: 0 0 0 5px yellow;
}
.white__arrow {
    border: 5px solid rgb(255, 255, 255);
    border-width: 0 5px 5px 0;
    padding: 10px;
    position: absolute;
    right: 20px;
	top: 40%;
    transform: rotate(-45deg);
    border-radius: 12%;
}
a{
    color: white;
    background-color: transparent;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
}
/* correct in order to fit well, if not do with text ">"
.white__arrow-text{
    border: 1px solid rgb(255, 255, 255);
    border-width: 0 5px 5px 0;
    padding: 5px;
    position: absolute;
    left: 40vw;
	top: 40%;
    transform: rotate(-45deg);
    border-radius: 12%;
   
}
 */
.label{
    background-color: rgb(255, 204, 0);
    border-radius: 10%;
    color: rgb(0, 0, 0);
    
}
.artwork__image-vertical{
    width: 40vw;
    position: absolute;
    overflow: visible;
    display: block;
}
.label--top-left{
    position: relative;
    top: 3px;
    left: 6px;
    font-size: 11px;
    padding: 2px 5px;
}
.vertical-carousel{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 100%;
}

@media (min-width:560px){
    .artwork__image{
        width: 38vw;
    }
}
@media (min-width:730px){
    .artwork__image{
        width: 28vw;
    }
}
@media (min-width:910px){
    .artwork__image{
        width: 21vw;
    }
}
