body {
    background-color: black;
}

button {
    font-family: Arial;
    font-size: 32px;
    color: black;
    width: 80px;
    height: 80px;
    margin: 0px;
    border-style: solid; 
    border-color: rgb(22, 22, 22);
    border-width: 1px;
    background-color: rgb(187, 187, 187);
}

.operation-button {
    background-color: orange;
}

#result {
    font-family: Arial;
    font-size: 45px;
    color: white;
    width: 321px;
    height: 80px;
    background-color:darkorange;
    text-align: right;
    padding-right: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#number-0,
#ac{
    width: 164px;
}

.operation-button:hover{
    background-color: rgb(236, 124, 0);
}

.operation-button:active{
    background-color: rgb(218, 124, 7);
}

button:hover{
    background-color: rgb(143, 143, 143);
}

button:active{
    background-color: grey;
}
