body {
    background-color: rgb(253, 133, 133);
    margin: auto 0;
    padding: 0;
}
.nav {
    display: flex;

}
.nav__list {
    list-style-type: none;

}
.nav__list > li {
    display: inline;
    padding: 20px 50px;
    font-weight: bold;
}
.nav__button {
    justify-items: right;
}

.container {
    padding: 10px;
}
.image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(190, 77, 57);
}
img {
    margin-left: 20%;
}
.video {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(190, 77, 57);
    min-width: 320px;
    padding-top: 15%;
    padding-bottom: 18%;
}
video {
    margin-left: 8%;
}
.list {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(190, 77, 57);
    padding-top: 15%;
    padding-bottom: 52%;
}
.text {
    margin: 5px;
    padding: 10px;
    background-color: rgb(190, 77, 57);
    border: 1px solid black;
}

footer {
    text-align: end;
    font-style: italic;
    margin-right: 2em;
}
.nav__button-hidden {
    display: none;
}

@media only screen and (max-width: 480px) {
    .row{
        flex-direction: column-reverse;
    }
    .list {
        background-image: linear-gradient(green, yellow);
    }
    .nav__list {
        display: none;
    }
    .nav__button-hidden {
        display: block;
    }
}
