.big-container-detail {
  height: 70%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
}

.coin-detail-table__header {
  background-color: #ff3d6b !important;
  color: white;
}
