<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skylabers directory</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <%-include(header)-%>
    <%-include(nav, { nav })-%>
    <%-include(body, { skylabers })-%>
    <%-include(footer)-%>
  </body>
</html>