<form>
  <h2>Create a new skylaber</h2>
  <p><label for='editskylaber__name'>Name</label><input id='editskylaber__name' type='text' value=''></input> <label for='editskylaber__lastName'>Last name</label><input id='editskylaber__lastName' type='text' value=''></input></p>
  <p><label for='editskylaber__birthDate'>Birth date</label><input id='editskylaber__birthDate' type='date' value=''></input>,<label for='editskylaber__age'>Age</label><input id='editskylaber__age' type='number' value=''></input> y/o, <label for='editskylaber__gender'>Gender</label><input id='editskylaber__gender' type='text' value=''></input></p>
  <p><label for='editskylaber__city'>City</label><input id='editskylaber__city' type='text' value=''></input>, <label for='editskylaber__country'>Country</label><input id='editskylaber__country' type='text' value=''></input></p>
  <p><label for='editskylaber__likesPets'>Likes pets?</label><input type='boolean' value=''></input></p>
  <button id='saveButton__skylaber'>Save</button>
</form>