.header{
    width: 100%;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}