<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details-heroes</title>
    <link rel="stylesheet" href="hero-dashboard.component.css">
</head>

<body>
    <header>
        <div class="fix-header">
            <div class="fix-header__title">
                <h1>Tour of Heroes</h1>
            </div>
            <div class="fix-header__buttons">
                <button>Dashboard</button>
                <button>Heroes</button>
            </div>
        </div>
    </header>
    <section>
       
    </section>

    <script src="hero-dashboard.component.js"></script>
</body>

</html>