<div>
  <h2><%=hero.name%> Details</h2>
  <div><span>id: </span><%=hero.id%></div>
  <div>
    <label>name:
      <input placeholder="name"/>
    </label>
  </div>
  <button>go back</button>
  <button>save</button>
</div>
