.flexbox-container{
    background-color: gray;
    border: 1px dashed;
    padding: 12px;
}

.flexbox-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
    align-items: center;
}

.flex-item{
    border: 1px solid;
    background-color: red;
    margin: 12px;
    min-width: 50px;
    max-width: 50px;
    text-align: center;
}