body {
    margin: 0 auto;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panel {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: white;
    width: 190px;

    margin: 0;
 
}
.color {
    background-color: rgb(44, 43, 43);
}
.panel > div {
    border: 1px solid grey;
    width: 18px;
    height: 18px;
    padding: 2px;
}
.panel > div:hover {
    background-color: rgb(233, 229, 229);
    cursor: pointer;
}
.buttons {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
button {
    margin: 10px;
    color: white;
    background-color: rgb(10, 94, 124);
    border: none;
    border-radius: 30px;
    text-align: center;
    padding: 12px 18px;
    font-size: 16px;
    width: 120px;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
