*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color:white;
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
}

h1{
    margin: 30px;
    text-shadow: 5px 5px black;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game__buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    margin: 5px;
    width: 100px;
    height: 50px;
    color: black;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    outline: none;
}

button:hover{
    background-color: orange;
    color: black;

}

.table{
    width: 50%;
    border: solid 1px white;
    margin: 10px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 5px 5px gray;
}


td{
    border: solid 1px blue;
    width: 50px;
    height: 50px;
}

th{
    display: none;
}

caption{
    display: none;
}