body {
    background: linear-gradient(90deg, rgba(65, 65, 65, 1) 0%, rgba(82, 82, 82, 1) 33%, rgba(111, 110, 110, 1) 100%);
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 18px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #414141;
    padding: 10px 20px;
    height: 100%;
    width: 25%;
    z-index: 2;
    position: absolute;
    border-right: #313131 solid 2px;
    box-shadow: 0px 0px 0px 2px #414141;
    left: -1000px;
    transition: left 1s;
}

.menu-animation-show {
    left: 0px;
}

.menu-animation-hide {
    left: -1000px;
}

h1 {
    display: inline;
    text-align: center;
    font-size: 30px;
    font-weight: 750;
    border: 2px solid #378AD3;
    border-radius: 25px;
    padding: 2px 0px;
}

table,
th,
td {
    border: 2px solid #378AD3;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    padding: 3px;
}

table {
    margin-bottom: 25px;
}

.table-header {
    background-color: rgb(54, 58, 61);
}

.rules {
    margin: auto;
    width: 90%;
    font-size: 16px;
    border: 2px solid #378AD3;
    border-radius: 10px;
    margin-bottom: 10px;
}

.rules h2 {
    text-align: center;
    margin-bottom: -5px;
    margin-top: 5px;
}

.rules li {
    margin-bottom: 5px;
}

.list-item {
    font-size: 16px;
}

li span {
    color: #378AD3;
    font-style: italic;
    font-size: 16px;
}

.name-label {
    font-weight: 750;
    width: 50%;
    text-align: center;
    margin: auto;
}

.menu-div-input {
    text-align: center;
    width: 100%;
}

.name-label-yellow {
    color: #bebe1c;
}

.input {
    position: relative;
    padding: 5px;
    height: 25px;
    width: 50%;
    margin: auto;
    color: rgb(48, 46, 46);
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
    border: 2px solid #378AD3;
    box-shadow: 0 0 3px #719ECE;
}

.menu-button {
    padding: 5px 15px;
    height: 40px;
    width: 30%;
    color: #378AD3;
    background-color: #414141;
    border: 2px solid #378AD3;
    border-radius: 10px;
}

.menu-button:hover {
    color: whitesmoke;
    background-color: #525252;
    border: 2px solid #378AD3;
    cursor: pointer;
}

.main {
    width: 100%;
    height: 100%;
}

.courtains {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.left-courtain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    left: 0px;
    position: absolute;
    background: linear-gradient(90deg, rgba(65, 65, 65, 1) 0%, rgba(82, 82, 82, 1) 33%, rgba(111, 110, 110, 1) 100%);
    z-index: 1;
    transition: left 0.5s;
}

.left-courtain-text {
    color: #378AD3;
    font-size: 50px;
    font-weight: 750;
}

.left-courtain-anim {
    left: -1000px;
}

.right-courtain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
    background: linear-gradient(90deg, rgba(111, 110, 110, 1) 100%, rgba(82, 82, 82, 1) 33%, rgba(65, 65, 65, 1) 0%);
    z-index: 1;
    transition: right 0.5s;
}

.right-courtain-text {
    color: #378AD3;
    font-size: 50px;
    font-weight: 750;
}

.right-courtain-anim {
    right: -1000px;
}

.pasapalabra {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left-info {
    width: 20%;
    height: 100%;
}

.timer {
    margin-top: 120%;
    margin-left: 50%;
    display: flex;
    justify-content: flex-end;
    width: 3em;
    height: 3em;
    border: solid 0.1em whitesmoke;
    border-radius: 50%;
    background-color: #1186ec;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.player-name {
    display: inline-block;
    border: 2px solid #378AD3;
    padding: 7px 12px;
    font-size: 22px;
    font-weight: 750;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 30px;
}

.letters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    position: absolute;
    border: solid 0.1em whitesmoke;
    border-radius: 50%;
    background-color: #1186ec;
}

.letters-correct {
    background-color: green;
}

.letters-incorrect {
    background-color: red;
}

.rosco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.cristian-img {
    justify-content: center;
    align-content: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.right-info {
    display: grid;
    width: 40%;
    height: 100%;
    grid-template-columns: 8fr;
    grid-template-rows: 2fr 1fr 3fr 1fr 1fr;
}

.cancel-button {
    grid-row: 1;
    align-self: end;
    padding: 2px 2px;
    height: 2em;
    width: 2em;
    color: red;
    background-color: #52525200;
    border: 2px solid red;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 750;
}

.score {
    grid-row: 2;
    margin-top: 30px;
}

.correct {
    display: inline;
    grid-row: 2;
    font-size: 24px;
    padding: 2px;
    margin-right: -6px;
    color: green;
    border: 2px solid grey;
}

.incorrect {
    display: inline;
    justify-self: center;
    grid-row: 2;
    font-size: 24px;
    padding: 2px;
    color: #d11515;
    border: 2px solid grey;
}

.question {
    grid-row: 3;
    height: 55%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #1186ec;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 2px 10px;
    width: 90%;
}

.answer {
    grid-row: 4;
    grid-column: 1;
}

.input-button {
    padding: 5px 15px;
    height: 40px;
    width: 20%;
    color: #378AD3;
    background-color: #525252;
    border: 2px solid #378AD3;
    border-radius: 10px;
    font-size: 20px;
}

.input-button:hover {
    color: whitesmoke;
    background-color: #414141;
    cursor: pointer;
}

.pasapalabra-button {
    padding: 5px 15px;
    height: 40px;
    width: 30%;
    color: #378AD3;
    background-color: #525252;
    border: 2px solid #378AD3;
    border-radius: 10px;
    font-size: 20px;
}

.pasapalabra-button:hover {
    color: whitesmoke;
    background-color: #414141;
    cursor: pointer;
}

.a {
    transform: rotate(270deg) translate(12em) rotate(-270deg);
}

.b {
    transform: rotate(285deg) translate(12em) rotate(-285deg);
}

.c {
    transform: rotate(300deg) translate(12em) rotate(-300deg);
}

.d {
    transform: rotate(315deg) translate(12em) rotate(-315deg);
}

.e {
    transform: rotate(330deg) translate(12em) rotate(-330deg);
}

.f {
    transform: rotate(345deg) translate(12em) rotate(-345deg);
}

.g {
    transform: translate(12em);
}

.h {
    transform: rotate(15deg) translate(12em) rotate(-15deg);
}

.i {
    transform: rotate(30deg) translate(12em) rotate(-30deg);
}

.j {
    transform: rotate(45deg) translate(12em) rotate(-45deg);
}

.l {
    transform: rotate(58deg) translate(12em) rotate(-58deg);
}

.m {
    transform: rotate(71deg) translate(12em) rotate(-71deg);
}

.n {
    transform: rotate(84deg) translate(12em) rotate(-84deg);
}

.ñ {
    transform: rotate(97deg) translate(12em) rotate(-97deg);
}

.o {
    transform: rotate(110deg) translate(12em) rotate(-110deg);
}

.p {
    transform: rotate(122deg) translate(12em) rotate(-122deg);
}

.q {
    transform: rotate(135deg) translate(12em) rotate(-135deg);
}

.r {
    transform: rotate(150deg) translate(12em) rotate(-150deg);
}

.s {
    transform: rotate(165deg) translate(12em) rotate(-165deg);
}

.t {
    transform: translate(-12em);
}

.u {
    transform: rotate(195deg) translate(12em) rotate(-195deg);
}

.v {
    transform: rotate(210deg) translate(12em) rotate(-210deg);
}

.x {
    transform: rotate(225deg) translate(12em) rotate(-225deg);
}

.y {
    transform: rotate(240deg) translate(12em) rotate(-240deg);
}

.z {
    transform: rotate(255deg) translate(12em) rotate(-255deg);
}