<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hero List</title>
		<link rel="stylesheet" href="hero-list.component.css" />
	</head>
	<body>
		<header>
			<div class="fix-header">
				<div class="fix-header__title">
					<h1>Tour of Heroes</h1>
				</div>
				<div class="fix-header__buttons">
					<a href="../hero-detail/hero-detail.component.html">Detail</a>
					<a href="../hero-dashboard/hero-dashboard.component.html">Dashboard</a>
				</div>
			</div>
		</header>
		<div id="hero-list__container">
			<div class="container"></div>
		</div>
		<script src="../hero.js"></script>
		
		<script src="../hero-service/hero.service.js"></script>
		<script src="hero-list.component.js"></script>
	</body>
</html>
