*{
    margin: 0;
    padding: 0;
}

.container{
    border: solid 1px blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__container img{
    width: 100%;
}

.item__title{
    font-weight: bold;
}

hr{
    border: solid 0.5px rgb(190, 190, 190);
    width: 80%;
}

@media (min-width: 666px){
    .item__container{
        width: 40%;
    }
}

@media (min-width: 1024px){
    .item__container{
        width: 20%;
    }
}