* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Lato', sans-serif
}

.container-search {
    min-height: calc(100vh - 90px - 90px); 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.item__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.inner__left-container,
.inner__right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.inner__right-container{
    box-sizing: border-box;
    padding: 50px;
}

h3{
    text-transform: uppercase;
    color: #999;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.item__container, img{
    width: 100%;
}

.item__title {
    font-weight: bold
}

.title__item {
    font-family: 'Noto Serif', serif
}

hr {
    border-bottom: 0.5px solid #d1d1d1;
    width: 96%;
    margin: 10px 0
}

.button{
    background-color: #ffafbb;
    color: white;
    width: 96%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.button:hover{
    opacity: 0.5;
}

a{
    text-decoration: none;
}

.container__back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}



@media (min-width: 666px){
    .item__container{
        flex-direction: row;
    }

    .inner__container {
        width: 50vw
    }

    .add__button {
        width: 80%
    }

    .inner__left-container {
        width: 60vw
    }

    .inner__right-container{
        width: 40vw;
        box-sizing: border-box;
        padding: 5px
    }
}

@media (max-width: 820px){
    h1{
        font-size: x-large;
    }
}

@media (min-width: 1024px){

    .item__container{
        width: 85vw;
    }
    .item__container{
        flex-direction: row;
    }

    .add__button {
        width: 80%
    }
}