*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.item__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner__left-container, .inner__right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item__container img{
    width: 100%;
}

.item__title{
    font-weight: bold;
}

.title__item{
    font-family: 'Noto Serif', serif;
}

hr{
    border-bottom: 0.5px solid rgb(209, 209, 209);
    width: 96%;
    margin: 10px 0;
}

.add__button{
    background-color: #ffafbb;
    color: white;
    width: 96%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.add__button:hover{
    opacity: 0.5;
}

@media (min-width: 666px){
    .item__container{
        flex-direction: row;
    }

    .inner__container{
        width: 50vw;
    }

    .add__button{
        width: 80%;
    }

    .inner__left-container{
        width: 60vw;
    }

    .inner__right-container{
        justify-content: flex-start;
        width: 40vw;
        box-sizing: border-box;
        padding: 5px;
    }
}

@media (min-width: 1024px){
    .item__container{
        flex-direction: row;
    }

    .inner__left-container{
        width: 65vw;
    }

    .inner__right-container{
        justify-content: flex-start;
        width: 35vw;
        box-sizing: border-box;
        padding: 5px;
    }

    .add__button{
        width: 80%;
    }
}