* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* fuente para los título */
    font-family: 'Noto Serif', serif;
    /* fuente para los textos */
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}