* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

.container {
    min-height: calc(100vh - 90px - 80px); 
}

.signin_container {
    margin: 0 auto;
    margin-top: 30px;
    padding: 3rem;
    border: 1px solid black;
    width: 380px;
    padding-left: 3rem;
}

.container__button {
    display: flex;
    justify-content: center ;
}

.title__sign {
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    color: #000;
    padding-bottom: 1rem;
}

.button {
    line-height: 1.42;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: inline-block;
    padding: 11px 20px;
    margin: 0;
    width: auto;
    min-width: 90px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    background: #ffafbb;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
}

.button:hover {
    opacity: 0.5
}

.input {
    font-family: 'Lato', sans-serif;
}

.input input {
    padding: .3rem .5rem;
    border: .05rem solid #999;
    border-radius: 5px;
    outline: none;
    color: #999;
}


.input__invalid:invalid {
    border: 1px solid red;
  }
  

.input__text {
    margin-bottom: .7rem;
}



