* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.film-description {
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column-reverse;
}

@media only screen and (min-width: 601px) {
	.film-description {
		width: 70%;
		flex-direction: row;
	}
}