* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
}

.body-container {
    height: 700px;
    width: 60%;
    padding: 20px 20px;
    border: 1px solid #E8E8E8;
    background-color: white;
    border-radius: 3px;
}

.title {
    color: #979797;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.actions {
    display: flex;
}

.actions a {
    text-decoration: none;
    margin-left: 4px;
    padding: 5px;
    border-radius: 2px;
    color: #718B97;
    background-color: #EEEEEE;
}

.actions a:hover {
    color: #129BE9;
}

.main-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #858585;
    text-align: center;
    margin-top: 10px;
}

#dashboard__hero-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-card {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    background-color: #5F7D8C;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
}

.hero-card:hover {
    background-color: #EEEEEC;
    color: #5F7D8C;
}