body{
    background-color: #52F2E1;
}


.container{
    margin-top: 1%;
}

video{
    background-color: black;
}
.list{
        background-color:#F52800;
        width: 70%;
        height: 216px;

      
}
.imageSection__imageDescription{
    border: 1px solid;
    text-align: center;
    width: 71.5%;
    padding-bottom: 3px;
    background-color: white;
}
.loremText{
    border: 1px solid;
    text-align: center;
    margin-top: 2%;
    width: 78%;
    margin-left: 11%;
    background-image: linear-gradient(gray, white)
}
.footer{
    border: 1px solid;
    margin-top: 9%;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    background-color: white;
}
.nav__hidden{
    display: none;
}

@media only screen and (max-width: 480px) {
    .row{
        flex-direction: column-reverse;
    }
    .list {
        background-image: linear-gradient(green, yellow);
    }

    .navlinks{
        display: none;
    }
    .nav__hidden{
        display: block;
    }
  }
  