body {
    background-color: #171717;
}

.slider-img {
    width: 100%;
}

.first-carousel {
    display: flex;
    flex-direction: row;
}

.carousel-img img {
    width: 100%;
    margin-right: 5px;
}

.carousel-img {
    margin-right: 5px;
}

.arrow {
    filter: invert(1);
    width: 6%;
    position: absolute;
    z-index: 1;
    align-self: center;
    right: 20px;
}

.carousel-text {
    color: white;
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 1024px) {}