
a{
    text-decoration: none;
    width: 100%;
}
.header{

    height: 5vh;
    width: 100%;
    }
.header img{
    height: 100%;
    width: auto;
}
.header-units{
    background-color: red;
    color: white;
    width: auto;
    text-align: center;
    width: 28.5px;
}

.container{
    display: flex;
    flex-direction: column;
}
.slider img {
   
    width: 92%;
}

.logo img{
    width: 75%;
margin: 12%;

}

.utensilios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.utensilios img{
    width: 20%;
    
}
.utensilios h2{
    display: flex;
    border-top: 2px solid;
    border-bottom: 2px solid;
    height: 50px;
    align-items: center;
}