/* Global settings */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&family=Roboto:wght@300;400;700&display=swap');
*{
	--mobile: 680px;
	--desktop: 1000px;
	--cTxtMain: #212121;
	--cTxtSecondary: #757575;
	--cTxtWhite: #ffffff;
	--cDarkGreen: #388e3c;
	--cComplementary: coral;
	--cLightGreen: #4caf50;
	--cLightGrayish: #c8e6c9;
	--cHighlight: #ffc107;
	--cSmooth: #bdbdbd;
	--fMontserrat: 'Montserrat', sans-serif;
	--fRoboto: 'Roboto', sans-serif;
	font-family: var(--fMontserrat);
	margin: 0;
	padding: 0;
	border: 0;
}

/* Body, main & aside */
body {
	width: 100vw;
}
.limitMaxWidth {
	margin: auto;
	max-width: var(--desktop);
}
.main__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
aside {
	width: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.aside__item {
	padding: .5rem 1.5rem;
}

@media (max-width: var(--desktop)){
	.limitMaxWidth {
		max-width: 85vw;
	}
	.main__container {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	aside {
		width: 15%;
	}
}

@media (max-width: var(--mobile)){
	.limitMaxWidth {
		max-width: 90vw;
	}
	aside {
		width: 100%;
	}
	.main__container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
}

/* list styles */
ul {
	list-style-type: none;
}
li {
	display: inline-block;
}

/* header, nav & footer */
footer, 
header,
nav {
	background-color: var(--cDarkGreen);
	color: var(--cTxtWhite);
	font-family: var(--fRoboto);
}
footer, 
header {
	padding: .85rem 0;
}
nav {
	padding: .5rem 0 1rem 0;
}
header h1 {
	font-family: var(--fRoboto);
	font-size: 2rem;
	font-weight: bold;
	color: var(--cTxtWhite);
}
.flexheader {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.header__rightSide {
	max-width: 65vw;
	min-width: 50vw;
}
.header__icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.searchbar__field{
	border-radius: .2rem;
	padding: .25rem;
	min-width: 25vw;
}
.searchbar__icon{
	background-color: transparent;
	border: 0;
	border-radius: 0;
	padding: 0 .5rem;
	margin: 0;
}
.searchbar__form{
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
@media (min-width: var(--mobile)){
	.flexheader {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
.footer__container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.icons__img{
	padding: 0 1rem;
}
footer a,
footer a:visited{
	color: var(--cTxtWhite);
	text-decoration: underline dotted var(--cComplementary);
}
footer a:hover,
footer a:focus,
footer a:active{
	color: var(--cComplementary);
	text-decoration: underline dotted var(--cComplementary);
}

/* Navigation link styles */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}

nav a,
nav a:visited {
	padding: 0 1rem;
	text-decoration: none;
	display: inline-block;
	color: var(--cTxtWhite);
	font-family: var(--fRoboto);
}
nav a:hover,
nav a:focus,
nav a:active {
	color: var(--cComplementary);
}

.searchbar__img {
	height: 1.5rem;
	width: 1.5rem;
}

/* product list */
.products__list{
	width: 84%;
	margin: .4rem 0;
}
a.productlist__itemContent,
a.productlist__itemContent:hover,
a.productlist__itemContent:focus,
a.productlist__itemContent:active,
a.productlist__itemContent:visited
{
	text-decoration: none;
	color: var(--cTxtMain);
}
.productlist__itemContainer{
	border: 1px solid var(--cSmooth);
	border-radius: .5rem;
	padding: .85rem 1.5rem;
	min-height: 180px;
}
.productlist__itemContainer:hover,
.productlist__itemContainer:focus{
	background-color: var(--cLightGrayish);
	box-shadow: .25rem .25rem .05rem var(--cTxtSecondary);
}
.itemContent__img{
	width: 170px;
	height: 170px;
	object-fit: cover;
	object-position: center;
}
.itemContent__text{
	padding: 0 1.5rem;
}
.itemContent__subtitle{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.productlist__item{
	width: 100%;
	margin: .4rem 0;
}
@media (max-width: var(--desktop)){
	.productlist__item{
		width: 100%;
	}
}
.productlist__actionsForm{
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
	width: 100px;
}
.delete__productFromList{
	color: var(--cTxtMain);
	background-color: var(--cLightGrayish);
	border-radius: .25rem;
	border: 1px solid var(--cTxtSecondary);
}
.itemContent__container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

/* navigation */
a,
a:visited{
	color: var(--cTxtMain);
	text-decoration: underline dotted var(--cTxtMain);
}
a:hover,
a:focus,
a:active{
	color: var(--cComplementary);
	text-decoration: underline dotted var(--cComplementary);
}

/* HeroDetailComponent's private CSS styles */
label.herodetail {
	display: inline-block;
	width: 3em;
	margin: 0.5em 0;
	color: #607d8b;
	font-weight: bold;
}
input.herodetail {
	height: 2em;
	font-size: 1em;
	padding-left: 0.4em;
}
button.herodetail {
	margin-top: 20px;
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}
button.herodetail:hover {
	background-color: #cfd8dc;
}
button.herodetail:disabled {
	background-color: #eee;
	color: #ccc;
	cursor: auto;
}

/* Products list */

button {
	cursor: pointer;
	cursor: hand;
}

fieldset {
	display: block;
	width: 80vw;
	margin: 0.5rem auto;
}
label {
	min-width: 8rem;
	text-align: left;
	display: inline-block;
}

button > a,
button > a:hover,
button > a:focus,
button > a:active,
button > a:visited {
	text-decoration: none;
	color: black;
}
