.nav__menu,
.nav__mobile,
.nav__medium__big {
	z-index: 90;
}

.nav__mobile,
.nav__medium__big {
	padding: 5px 5% 5px 5%;

}

.nav__mobile>a {
	color: #efee9d;
	list-style: none;
	margin: 0;
	padding: 0;
}

.burger__container {
	position: relative;
	display: flex;
	flex-direction: column;
}


.icon__burguer {
	width: 30px;
	height: auto;
	padding: 10px;
}


.burger__container:hover .desplegable__button {
	display: flex;
}

.desplegable__button {
	flex-direction: column;
	list-style: none;
	position: absolute;
	background-color: #efee9d;
	border-radius: 5px;
	display: none;
	top: 50px;
	height: 110px;
}

.desplegable__button li {
	margin: 7px;
}

.li>a,
.li>a:active,
.li>a:visited,
.li>a:-webkit-any() {
	color: rgb(75, 75, 165);
	text-decoration: none;
}

.link__header {
	text-decoration: none;
}

.login__logo {
	width: 30px;
	height: 30px;
}

.nav__brand__logo {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.nav__mobile {
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: #50af58;
	height: 40px;
	position: fixed;
	width: 90%;
}

.nav__medium__big {
	display: none;
}


.search {
	height: 25px;
	width: 105px;
	margin: 0 10px 0 10px;
}

.main__logo {
	display: none;
}

.main__boxes {
	display: none;
}


.icon__burguer,
.login__logo {
	filter: invert(95%) sepia(17%) saturate(1084%) hue-rotate(340deg) brightness(113%) contrast(87%);
}


@media only screen and (min-width: 600px) {

	.search-button {
		padding: 5px;
		border-radius: 50px;
		background-color: #d1eaa3;
		margin: 5px;
	}

	.search-button:active,
	.search-button:link,
	.search-button:visited,
	.search-button:hover {
		color: #0f5a15;
	}


	.nav__mobile {
		display: none;
	}

	.nav__medium__big {
		top: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: #50af58;
		height: 40px;
		position: fixed;
		width: 90%;
	}

	.buttons__left {
		display: flex;
		margin-left: 10px;
	}

	.link__header {
		margin-left: 10px;
		color: #efee9d;
	}

	.buttons__right {
		margin-right: 15px;

		display: flex;
		align-items: center;
	}

	.buttons__right--text {
		margin-right: 5px;
		color: #efee9d;
	}


	.section__logo {
		display: flex;
	}

	.main__logo {
		display: inline-block;
		width: 100px;
		height: 100px;
		border-radius: 100%;
	}

	.main__boxes {
		display: flex;
		margin-top: 80px;
		justify-content: space-between;
		align-items: center;
		width: 96%;
		margin: 80px 2% 0 2%;
	}

	h1 {
		display: inline-block;
		margin-left: 10px;
	}

	.section__logo {
		display: flex;
		flex-direction: row;
		background-color: #efee9d;
		justify-content: center;
		align-items: center;
		width: 40vw;
		height: 22vh;
		padding: 15px;
		border-radius: 10px;
	}

	.section__search {
		background-color: #efee9d;
		justify-content: center;
		text-align: center;
		width: 40vw;
		height: 22vh;
		padding: 15px;
		border-radius: 10px;
	}

	.section__preferences {
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
	}

	.main__search {
		padding-left: 10px;
		height: 40px;
		margin-bottom: 0;
		border-radius: 15px;
	}

	.main__search-input {
		border-radius: 100px;
		height: 25px;
		max-width: 174px;
		width: 55%;
	}

	.section__search p {
		margin: 2px;
	}

	.search__icons--box {
		margin-top: 10px;
	}

	.icon__search {
		width: 70px;
		height: 70px;
	}
}