ul {
	a {
		img {
			max-width: 175px;
			width: auto;
			height: auto;
			max-height: 175px;
			border-radius: 10px;
			margin-bottom: 10px;
		}
	}
}

.recipe-list__item {
	display: flex;
	flex-direction: column;
	margin: 5px;
	text-align: -webkit-center;
	align-items: center;
}

h4 {
	text-transform: capitalize;
}