ul a img {
    max-width: 150px;
    width: auto;
    height: auto;
    max-height: 150px;
    border-radius: 10px
}

.recipe-list__item {
    display: flex;
    flex-direction: column;
    margin: 5px
}

h4 {
    text-transform: capitalize;
}