.login__title {
	padding: 3px;
	border-top: 2px solid rgba(128, 128, 128, 0.658);
	border-bottom: 2px solid rgba(128, 128, 128, 0.658);
}

.login__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #65dfc3;
	min-width: 286px;
	padding: 16px;
	border-radius: 10px;
	margin-bottom: 80px;
}

form {
	text-align: center;
}

.form__input {
	margin-top: 5px;
	margin-bottom: 15px;
	height: 30px;
	min-width: 250px;
	width: 20vw;
	padding: 2px;
	border-radius: 4px;
	background-color: rgba(128, 128, 128, 0.514);
	text-align: center;
	font-size: 18px;
	border: 1px solid #65dfc3;
}

.login__button {
	background: none;
	background-color: #b7ef9d;
	border: 1px solid black;
	padding: 8px 16px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	border-radius: 4px;
	margin-bottom: 10px;
}

.login__container {
	width: 100%;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		margin: 10px;
		width: 10vw;
		text-align: center;
	}

	h2 {
		margin: 8px;
	}

	a {
		padding: 12px;
		margin: 5px;
		background-color: rgba(156, 149, 149, 0.24);
		border-radius: 4px;
		min-width: 80px;
		width: 12vw;
		text-align: center;
		cursor: pointer;
	}

	a:hover {
		background-color: rgba(156, 149, 149, 0.651);
		color: honeydew;
	}
}

.register__form {
	background-color: rgba(128, 128, 128, 0.514);
	border-radius: 8px;
	padding: 10px;
}

.info__title {
	margin-bottom: 10px;
}

.api__link:hover {
	color: honeydew;
}

.login__logo--size {
	width: 50%;
}
