.main__profile-component {
	display: none
}

@media only screen and (min-width: 1024px) {
	.main__profile-component {
		background: #efee9d;
		display: flex;
		flex-direction: column;
		width: 20%;
		position: absolute;
		margin: 5% 2% 5% 2%;
		padding: 2%;
		border-radius: 25px;
		align-items: center;
		text-align-last: center;
	}

	.main__profile-component ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.main__profile-component ul a {
		align-items: center;
	}

	.main__profile-component--display-large {
		display: none;
	}

	.main__profile-component--title {
		margin: 20px 5px 5px 5px;
	}

	.main__profile-component ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.main__profile-component ul a {
		align-items: center;
	}

	.main__profile-component--display-large {
		display: none;
	}

	.main__profile-component--title {
		margin: 20px 5px 5px 5px;
	}


	a ul {
		margin: auto;
	}

	.profile-img {
		border-radius: 100px;
		width: 150px;
		height: 150px;
		margin: 5%;
		border: 5px solid #50af58;
	}
}