.main__profile-component ul {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 30%;
}

.main__profile-component--display-large {
	display: none;
}
.main__profile-component--title {
	margin: 20px 5px 5px 5px;
}

.main__profile-component--display-small {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 50px;
}

@media only screen and (min-width: 1024px) {
	.main__profile-component--display-small {
		display: none;
	}

	.main__profile-component--display-large {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 20vw;
		left: 10px;
		align-items: center;
		text-align: -webkit-center;
		margin-top: 10px;
	}

	.main__profile-component--display-large ul {
		width: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style: none;
		margin-top: 30px;
	}

	a ul {
		margin: auto;
	}
	.profile-img {
		border-radius: 50px;
		width: 150px;
		height: 150px;
		margin: 5px;
	}
}
