.box {
	position: relative;
	height: 35vh;
	width: 70%;
}

.box__title {
	position: absolute;
	top: 20px;
	left: 20px;
	max-width: 250px;

	color: rgb(106, 106, 185);
}
.direction-markers {
	display: flex;
	align-items: center;
}
.direction-markers__left {
	position: absolute;
	left: 50px;
	width: 50px;
	height: 70px;
}
.direction-markers__right {
	position: absolute;
	right: 50px;
	width: 50px;
	height: 70px;
}
.recipe {
	width: 100%;
	height: 35vh;
	background-color: #efee9d;
	display: flex;
}
.recipe__text {
	width: 50%;
	min-width: 250px;
}
.recipe__text--title {
	margin-top: 120px;
	margin-bottom: 20px;
	max-width: 40 vw;
	margin-left: 20px;
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.recipe__text--preferences {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.preferences__icon {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
.link {
	width: 50%;
}
.recipe__image {
	min-width: 30vw;
	width: 100%;
	height: 100%;
	margin-right: 5px;
}
