.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

.result-section>h2 {
    font-size: 30px;
}

.result-section .recipe__text,
.result-section .recipe-card {
    width: 100%;
}

.result-section .recipe__text h2 {
    margin-bottom: 10%;
}

.result-section .body__box {
    display: flex;
    flex-direction: column;
}


.result-section .body__box>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .result-section .body__box>a {
        flex-direction: row;
    }

    .body__box{
        max-width: 800px;
    }

}