.box__top-five {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 50px;
	height: 40vh;
	width: 100%;
}

.box__top-five ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: auto;
}

@media screen and (min-width: 600px) {
	.box__top-five {
		height: auto;
		width: 74vw;
		margin-left: 25vw;
		margin-bottom: 85px;

	}
}