.portfolio__container
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  width: 100%

.portfolio__side
  width: 18rem

.portfolio__main
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  padding: 0 0 0 1.5rem
