.portfolioProjList__item
  box-sizing: border-box
  padding: 0
  margin-bottom: 1.5rem
  width: 100%
  background-color: transparent
  border-radius: .7rem
  border: 3px solid #f6f6f6

  &:hover
    background-color: #f6f6f6

.item__title
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 1rem 0 0 0

  > h3
    color: #e53d00
    font-weight: normal

  > h5
    color: #333333
    font-size: 1.2rem
    font-style: italic

.item__content
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start

.item__img
  display: block

.img--insideCard
  object-fit: cover
  object-position: center
  width: 256px
  height: 256px
  border-radius: .7rem 0 0 .7rem

.item__text
  width: 100%
  text-align: left
  margin: 0 1.5rem

  > p
    font-size: 1.05rem
    margin-bottom: .5rem

.text__subtitle
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.text__body
  margin-top: 1rem

.card__button
  display: inline-block
  box-sizing: border-box
  flex: 1
  padding: .4rem 1.5rem
  margin: 0
  background: transparent
  color: #ababab
  border-bottom: solid 1px #ababab
  border-top: 0
  border-right: 0
  border-left: 0
  font-size: 1rem

  &:hover
    background: #E53D00
    color: white
    border-radius: .4rem

.location__bar
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-content: center

.location__icon
  margin-top: .7rem
  color: #05aed5

.location__text
  margin: 0
  padding: 0 1rem

  > p
    margin: 0
    padding: 0

.place__icon
  
  &:hover
    cursor: grab