.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #343a40;
    padding: 0 5px;
}

.mainContainer>p {
    color: rgb(212, 211, 211);
    font-style: oblique;
    right: 10px;
    margin: 0;
}

img {
    cursor: pointer;
    width: 80px;
}

@media (min-width:640px) {
    .mainContainer {
        justify-content: space-between;
    }

    .mainContainer>img {
        align-items: center;
    }
    
}