.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #343a40;
    padding: 0 5px;
}

.mainContainer>p {
    position: absolute;
    color: white;
    font-style: oblique;
    right: 10px;
}

img {
    cursor: pointer;
    width: 100px;
    margin-left: 0;

}

@media (min-width:640px) {
    .mainContainer {
        justify-content: center;
    }

    .mainContainer>img {
        align-items: center;
    }
}