.id-span{
    margin: 10px;
}

a{
    text-decoration: none;
}

.dashboard-item-container{
    display: flex;
    flex-direction: row;
    width: 10%;
    border: solid 1px black;
}

.hero-item{
    margin: 20px 0;
}