/*Main Area*/
body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('../images/pattern.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
img{
    width: 100%;
    height: auto;
}

#mainheader {
    background-color: #a593c2;
}

/*Top Menu*/

nav {
    height: 60px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav>ul>li {
    display: flex;
}

nav>ul>li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}
.flex-spacer {
    flex: 1 1 0;
}

/*Side Menu*/

.mainContent ul{
    padding-inline-start: 2px;
    display: flex;
    flex-direction: column;
}

.mainContent ul>a>li{
    background-color: #cf4522;
    color: #fff;
    list-style: none;
    padding: 14px 25px;
    cursor: pointer;
    margin-bottom: 2px;
}

.mainContent ul>a>li:hover{
    background-color: #B43110;
}

.mainContent ul>a{
    text-decoration: none;
    color: #fff;
}

.mainContent{
    width: auto;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
.firstcontent{
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.leftmenu {
    width: 30%;
    margin-bottom: 20px;
    margin-right: 20px;
}

/*Main Content*/

.main {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.pageTitle{
    font-size:35px;
    color:#a593c2;
}
article{
    width: auto;
}
.cake{
    width: 350px;
    height: auto;
    background-color: salmon;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

/*Footer*/
footer {
    clear: both;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 800px){
 .firstcontent{
     flex-direction: column;
     margin-left: auto;
     margin-right: auto;
    }
    .leftmenu {
        margin: auto;
    }
    .mainContent{
        width: auto;
    }
    nav{
        margin: 0 auto 2px auto;
    }
}

@media screen and (max-width: 600px){
    .main{
        order: -1;
    }
}