.img__contain {
    position: relative; 
}

.img__cover {
    width: 100%;
}

.img__title {
    position: absolute; 
    background-color: rgba(255, 255, 255, 0.4   );
    padding: 1rem 3rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    z-index: 50;
    top: 22%;
    left: 3%;
}

/* QUERIES */
@media screen and (min-width: 600px) {
    .img__title {
        font-size: 2.5rem;
        top: 25%;        
    }
}

@media screen and (min-width: 700px) {
    .img__title {
        font-size: 3.5rem;
        top: 27%;        
    }
}


@media screen and (min-width: 900px) {
    .img__title {
        font-size: 4rem;
        top: 35%;        
    }
}

@media screen and (min-width: 1024px) {
    .img__title {
        font-size: 4rem;
        top: 40%;        
    }
}