/*Main Area*/
body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('../images/pattern.png');
}

#mainheader {
    background-color: #a593c2;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

/*Top Menu*/

nav {
    width: 100%;
    margin: 0 auto 20px;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-menu {
    display: flex;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

/*Side Menu*/

.mainContent{
    margin: 2rem;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

.mainContent ul{
    padding-inline-start: 2px;
    margin-right: 1.5rem;
}

.mainContent ul>a>li{
    background-color: #cf4522;
    color: #fff;
    list-style: none;
    padding: 14px 25px;
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
}

.mainContent ul>a>li:hover{
    background-color: #B43110;
}

.mainContent ul>a{
    text-decoration: none;
    color: #fff;
}

.leftmenu {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 20px;
}

.image-final {
    width: 60%;
}


/*Main Content*/

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 2rem;
}

.pageTitle{
    font-size:35px;
    color:#a593c2;
}

/*Footer*/
footer {
    width: 100%;
}

/* Medias */
@media screen and (max-width: 600px) {  
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .main {
        width: 90%;
    }

    .mainheader {
        width: 90%;
    }

    .image-logo {
        display: none;
    }

    .bck-menu {
        width: 80%;
    }
    
    .leftmenu {
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .footer {
        transform: scale(.8);
    }

    .video {
        width: 100%;
    }

}