.dashboard__title{
    text-align: center;
    font-size: 28px;
}

section{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;

}

div{
    background-color: #405061;
    width: 15vw;
    height: 15vh;
    text-align: center;
    border-radius: 5%;
}