<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hero List</title>
		<link rel="stylesheet" href="hero-list.component.css" />
	</head>
	<body>
		<h1>Tour of Heroes</h1>
		<a href="../hero-dashboard/hero-dashboard.component.html">Dashboard</a>
		<a href="./hero-list.component.html">Heroes</a>
		<h2>My Heroes</h2>
		<section class='hero-list__block'>
			<div id="hero-list__id-1"></div>
			<a id="hero-list__name-1" href="../hero-detail/hero-detail.component.html"></a>
		</section>
		<section class='hero-list__block'>
			<div id="hero-list__id-2"></div>
			<div id="hero-list__name-2"></div>
		</section>
		<section class='hero-list__block'>
			<div id="hero-list__id-3"></div>
			<div id="hero-list__name-3"></div>
		</section>
		<section class='hero-list__block'>
			<div id="hero-list__id-4"></div>
			<div id="hero-list__name-4"></div>
		</section>
		<section class='hero-list__block'>
			<div id="hero-list__id-5"></div>
			<div id="hero-list__name-5"></div>
		</section>
		<section class='hero-list__block'>
			<div id="hero-list__id-6"></div>
			<div id="hero-list__name-6"></div>
		</section>
		<section class='hero-list__block'>
			<div id="hero-list__id-7"></div>
			<div id="hero-list__name-7"></div>
		</section>
		<section class='hero-list__block'>
			<div id="hero-list__id-8"></div>
			<div id="hero-list__name-8"></div>
		</section>
		<section class='hero-list__block'>
			<div id="hero-list__id-9"></div>
			<div id="hero-list__name-9"></div>
		</section>
		<section class='hero-list__block'>
			<div id="hero-list__id-10"></div>
			<div id="hero-list__name-10"></div>
		</section>

		<script src="../hero.js"></script>
		<script src="../hero.mock.js"></script>
		<script src="hero-list.component.js"></script>
	</body>
</html>
