<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details-heroes</title>
    <link rel="stylesheet" href="/public/styles/hero-dashboard.css">

</head>

<body>
    <header>
        <div class="fix-header">
            <div class="fix-header__title">
                <h1>Tour of Heroes</h1>
            </div>
            <div class="fix-header__buttons">
                <a href="/">Detail</a>
                <a href="/hero-list">Heroes</a>
            </div>
        </div>
    </header>

    <div class="containerList"></div>
    <script src="/src/hero.js"></script>
    <script src="/src/hero.mock.js"></script>
    <script src="/src/hero-dashboard.component.js"></script>
</body>

</html>