.signIn
  width: 20rem
  background-color: #eeeeee
  border-radius: .7rem

.signInForm
  width: 100%
  padding: 1rem 1.5rem

.btn-centered
  min-width: 8rem
  display: block
  background: teal
  color: white
  padding: .5rem 1.5rem
  margin: .8rem auto .8rem auto

  &:hover, &:focus, &:active
    background: coral
    color: #111111
