.welcome__container
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-items: flex-start

.welcome__main
  flex-grow: 4
  margin-right: 2.5rem

  > h4
    color: #E53D00
    margin: .5rem 0

.welcome__side
  flex-grow: 1