<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include ('partials/HeroDashboard-styles')%>
</head>

<body>
    <header>
        <%- include ('partials/Header') %>
        
    </header>
    
    <div class="containerList"></div>
</body>

</html>