html, body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

section, main{
    border: 1px solid black;
    width: 100vw;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list-style {
                color: blue;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif   ;
            }

.specific {
    background-color: grey;
    color: white;
    width: 10vw;    
}

#morespecific {
    background-color: red;
}