body{
    margin: 0;
    padding: 0;
    background-color: grey;
    position: relative;
    overflow-x: hidden;
    color: #fff;
    font-family: NotoSans-Regular,Arial,sans-serif;
    background-color: #101010;
    
}
h2{
    margin-left: 1%;
    margin-bottom: 2%;
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;  
}
body>a{
    position: absolute;
}
body>a>svg{
    width: 50%;
    margin-left: 2vh;
}
.main-div--slider{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    
}
.main-div--slider>img{
    width: 100%;
    height: 100%;
}
.lens{
    filter: invert(1);
    position: absolute;
    margin-left: -2%;
    margin-top: 2%;
 }
.lens>img{
    width: 30px;
}
.main-section--carousel{
display: flex;
flex-direction: row ;
justify-content: space-around;
min-width: 1024px;

}
.main-section--carousel>div:hover{
    border: 2px solid yellow;
}
.main-section--carousel>div{
    margin: 0.3%;
    border: 2px solid transparent;
}
.main-section--carousel>div>a>img{
    width: 100%;
    height: 100%;
}
.portrait-section--carrousel{
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 20%;
}

.portrait-section--carrousel>div{
    margin: 0.3%;
    border: 2px solid transparent;
}
.portrait-section--carrousel>div:hover{
    border: 2px solid yellow;
}
.icon-container{
    display: flex;
    flex-direction: column;
}
.icon-container--titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon-container--titles>div{
    margin: 1%;
}
.icon-container--titles>div>a{
    text-decoration: none;
    color: #fff;
}
/*
.icon-container--icons{
    display: flex;
    flex-direction: row;
    justify-content: start;
    min-width: 1024px;
}
.icon-container--icons>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    width: 6vw;
 
}
.icon-container--icons>div>div{
    width: 100%;
}
.icon-container--icons p{
    font-size: small;
}
.icon-container--icons img{
    height: 100%;
    width: 100%;

}
*/
.icon-container--titles{
    text-align: center;
}
.small-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6vh;
}
.small-footer>div{
    margin: auto;
}
.footer--links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.footer--links>p{
    margin: 2%;
}
.footer--nav{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   position: fixed;
   bottom: 0px;
   height: 7vh;
   background-color: #101010;
}
.footer--nav>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.footer--nav div{
    height: 50%;
    margin-top: 7px;
}

.footer--nav p{
    text-align: center;
    color: #fff;
}
.footer--nav a{
    text-decoration: none;
}
.footer--nav img{
    filter: invert(0.7);
    width: 100%;
    height: 100%;
}