body{
    margin: 0;
    padding: 0;
    background-color: grey;
    position: relative;
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;  
}
body>a{
    position: absolute;
}
body>a>svg{
    width: 50%;
    margin-left: 2vh;
}
.main-div--slider{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.main-div--slider>img{
    width: 100%;
    height: 100%;
}
.lens{
    filter: invert(1);
    position: absolute;
    margin-left: -2%;
    margin-top: 2%;
 }
.lens>img{
    width: 30px;
}
.main-section--carousel{
display: flex;
flex-direction: row ;
justify-content: space-around;
overflow: hidden;
min-width: 1024px;

}
.main-section--carousel>div{
    margin: 0.3%;
}
.main-section--carousel>div>a>img{
    width: 100%;
    height: 100%;
}
@media (max-width:599px){
    .carousel-mobile--display-none{
        display: none;
    }
}
@media (max-width:1023px){
    .carousel-tablet--display-none{
        display: none;
    }
}
@media (min-width:1024){

}