.loading {
	margin: auto;
	max-width: fit-content;
	img {
		height: 240px;
		margin-top: 0px;
	}
}
.entry-end__text {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 50px;
}
.holder {
	padding-bottom: 50px;
}
.spacer {
	margin-bottom: 40px;
}
