body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
  }
  .fix-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .fix-header__title {
    color: grey;
    font-weight: bold;
  }
  .fix-header__buttons {
    display: flex;
    justify-content: flex-start;
  }
  .fix-header__buttons > a {
    color: rgb(103, 103, 139);
    background-color: rgb(204, 204, 204);
    margin: 4px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: bold;
  }
  .fix-header__buttons > a:hover {
      cursor: pointer;
      background-color: rgb(240, 240, 240);
    }