<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Skylab List</title>
		<link rel="stylesheet" href="hero-list.component.css" />
	</head>
	<body>
		<h1>Skylab</h1>
		<a href="../skylabers-dashboard/skylabers-dashboard.component.html"
			>Dashboard</a
		>
		<a href="../skylabers-list/skylabers-list.component.html">Skylabers</a>

		<div class="skylabers-list__container"></div>

		<script src="../shared/skylaber.js"></script>
		<script src="../shared/skylab.mock.js"></script>
		<script src="skylabers-list.component.js"></script>
	</body>
</html>
