<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class='center '>
        <h3>Top Heros:</h3>
        <div class='modules'>
            <% include('./hero.mock.js') %>
            <% let heroBoard = heroList.slice(0, 4)%>
            <% heroBoard.forEach (function (hero) {%>
            <div class='module'><a class='dashlist hero-list_item' href='<%=`/id/${hero.id}`%>'> <%=hero.name%></a>
            </div>
            <%})%>
        </div>
    </div>
</body>

</html>