.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-top: 1px solid rgb(175, 175, 175);
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
}
.container p {
  font-style: italic;
  margin-right: 20px;
  color: grey;
  font-size: 12px;
}
.container img {
  height: 30px;
}
