.header-container {
  z-index: 3;
  top: 0;
  background-color: #23295a;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  height: 60px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}
.header-container__logo {
  max-width: 85%;
  padding-top: 3px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #23295a;
}

.header li a {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  background-color: #23295a;
  display: block;
  padding: 20px 20px;

  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: white;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #3a4074;
}

.header .logo {
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    background-color: #23295a;
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
