.loginButton {
  height: 60px;
  background-color: #23295a;
  display: block;
  padding: 20px 20px;
  border: none;
  text-decoration: none;
  color: white;
  width: 100%;
}

.loginButton:hover {
  background-color: #3a4074;
  cursor: pointer;
}
