body {
	background-color: #494f52;
	margin: 0;
	padding: 10px;
}

header {
	width: 90%;
	padding: 0 10px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: white;
}

header h1 {
	text-decoration: underline;
}

header div{
	display: flex;
	align-items: center;
}

header h2 {
	display: flex;
	align-items: center;
	margin-right: 50px;
}



button {
	height: 50px;
}

.gridPlace{
	display: flex;
	align-items: center;
}

.grid{
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;

	border: 3px solid black;
}

.row{
	display: flex;
}

.row div {
	width: 25px;
	height: 25px;
	border: 1px solid #494f52;
}
