* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flexbox-container {
    border: 1px dashed;
    display: flex;
    flex-direction: column;
}

.main-row {
    border: 1px solid black;
    margin: 12px;
    display: flex;
    flex-direction: row;
}

.section-1 {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 12px;
}

.section-2 {
    display: flex;
    flex-direction: column;
}

.section-2__item-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-2__item-1__subitem {
    margin: 10px;
}

.subitem-1 {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
}

.subitem-3 {
    flex: 1;
    text-align: end;
    justify-self: flex-end;
    background-color: red;
}


.row-3 {

    justify-content: space-around;
}

.section-3__item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-weight: bold;
}

.subheading {
    color: gray;
}

.text {
    text-align: justify;
}

.triangle {
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .row-3 {
        flex-direction: column;
    }
    .triangle {
        width: 100%;
    }
}