<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour of Heroes</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/hero-detail.css">

</head>

<body>
    <%- include('header'); -%>
    <h3>Sign Up</h3>
    <br />
    <form action="/auth/signup" method="POST">
        <div>

            <label for="user">
                User
                <input type='text' name='user' placeholder='User name' />
            </label>
        </div>
        <div>

            <label for="password">
                Password
                <input type="password" name='password' placeholder="Password">
            </label>
        </div>
        <button type='submit'>Sign Up</button>

    </form>

</body>

</html>