.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	justify-content: center;
	padding: 0px;
}

nav a {
	border: none;
	border-radius: 3px;
	background-color: rgb(240, 235, 235);
	margin: 5px;
	padding: 5px;
	text-decoration: none;
}

li {
	list-style-type: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.hero-list__item--delete {
	margin-left: 15px;
}

a:hover {
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: rgb(231, 229, 229);
}

.element__dashboard {
	list-style-type: none;
	color: white;
	font-weight: bold;
	padding: 30px 25px;
	margin: 10px;
	background-color: rgb(76, 76, 124);
	border-radius: 5px;
}

.element__dashboard:hover {
	background-color: rgb(164, 164, 170);
}

.button__list {
	border: none;
	border-radius: 3px;
	background-color: rgb(240, 235, 235);
	margin: 5px auto;
	padding: 5px;
	text-align: start;
	width: 200px;
}

.button__list:hover {
	cursor: pointer;
	background-color: rgb(231, 229, 229);
	padding: 5px 5px 5px 0;
}

h2 {
	text-align: center;
	color: gray;
}

h1 {
	color: gray;
}

.mainContainer {
	border: 1px solid gray;
	width: fit-content;
	padding: 30px;
	border-radius: 2px;
	background-color: rgb(251, 249, 249);
	margin: auto;
	margin-top: 30px;
}

.containerComponent {
	margin: 20px;
}

.mainContainer__list {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-left: 10px;
}

.element__list__id {
	background-color: rgb(76, 76, 124);
	color: white;
	padding: 5px;
	font-weight: bold;
	border-radius: 3px 0 0 3px;
}

.element__list__name {
	color: grey;
	padding-left: 5px;
}
