<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToH</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/detail.css">

</head>

<body>
    <%- include('../header')-%>
    <h1><%= user.user %> Profile</h1>
    <form action="/auth/profile" method="POST">
        <div>
            <label for="password">
                Password
                <input type="password" name="password" value="" />
            </label>
        </div>
        <button type="submit">Save</button>

    </form>
</body>

</html>