<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour of Heroes</title>
    <link rel="stylesheet" href="../css/detail.css" />
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <%- include('../header'); -%>
    <h2>SignIn! or <a href="/auth/signup">Register</a></h2>
    <form action="/auth/signin" method="POST">
        <div>
            <label for="user">
                User:
                <input type="text" name="user" />
            </label>
        </div>
        <div>
            <label for="password">
                Password:
                <input type="password" name="password" />
            </label>
        </div>
        <button type="submit">Sign In</button>
    </form>
</body>

</html>