<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <%- include('../header'); -%>
    <h1>Profile </h1>
    <h2><%= user.user%> Profile!</h2>
    <form action="auth/profile" method="post">
        <div>
            <label for="password">
                password:
                <input type="text" name='password' value="<%= user.passwrd%>">
            </label>
        </div>
    </form>
</body>

</html>