<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <%- include('../header'); -%>
    <h1>Profile </h1>
    <h2><%= user.user%> Profile!</h2>
    <form action="/auth/profile" method="post">
        <div>
            <label for="password">
                <input type="hidden" name="user" value="<%=user.user%>">
                password:
                <input type="text" name='password' value="<%= user.passwrd%>">
            </label>
            <button type="submit">Change password</button>
            <a href="/auth/logout"><button type="button">logout</button></a>
        </div>
    </form>
</body>

</html>