<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/hero-detail.css">
</head>

<body>
    <%- include('../header'); -%>

    <form action="/auth/register" method="POST">
        <div>
            <label for="user">
                User:
                <input name='user' type="text">
            </label>
        </div>
        <div>
            <label for="password">
                Password:
                <input name='password' type="text">
            </label>
        </div>

        <button type="submit">Register</button>
    </form>
</body>

</html>