:root {
	/* Colors */
	--bg-color-navbar: #24292e;
	--bg-color-box: #f8f9fa9f;
	--font-color-footer: #f8f9fa;
}

* {
	font-family: 'Segoe UI';
	font-size: 18px;
}

.landing__box--color {
	background-color: var(--bg-color-box);
}

.footer__container--color {
	background-color: var(--bg-color-navbar);
	color: var(--font-color-footer);
}
