:root {
	/* Colors */
	--bg-color-navbar: #24292e;
	--bg-color-box: #f8f9fa9f;
}

* {
	font-family: 'Segoe UI';
	font-size: 18px;
}

.landing__box--color {
	background-color: var(--bg-color-box);
}

--bg-color-navBar {
	background-color: #24292e;
}
