* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;    
}

h1 {
    font-size: 2em;
    margin-top: 5em;;
}

.main-container {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template: 1.5fr repeat(5, 1fr) / repeat(4, 1fr);
    grid-gap: 1px;
    background-color: #9c9c9c;
    box-shadow: 6px 8px 10px rgba(0,0,0,.3);
    width: 232px;
    height: 320px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    color: black;
    font-size: 1.5rem;
    font-weight: lighter;
    cursor: pointer;
}
    .grid-item:active{
        background-color: #999;
    }


.divide, 
.multiply, 
.substract, 
.add, 
.equal {
    background-color: #ff8900;
    color: white;
}

    .divide:active, 
    .multiply:active, 
    .substract:active, 
    .add:active, 
    .equal:active {
        background-color: #c60;
        color: white;
    }


.result {
    background-color: #2b3145;
    color: white;
    grid-column: 1 / 5;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: .8rem;
    font-size: 3rem;
    cursor: default;
}

    .result:active {
        background-color: #2b3145;
    }

.ac {
    grid-column: 1 / 3;
}

.grid-item:nth-child(7) {
    grid-area: 3 / 1;
}

.grid-item:nth-child(17) {
    grid-column: 1 / 3;
}

.arrow {
    background-image: url(./img/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
}

.hiddenText {
    color: 'red';
}