header{
    background: gray;
    height: 50px;
}

a{
    padding: 30px;
    font-size: 25px;
}

.right{
    background-color: #f44336;
    float: right;
    padding: 7px;
}

footer{
    background-color: gray;
    font-size: 20px;
    text-align: center;
}

aside{
    background-color: gray;
    margin: 20px;
}

img, video{
    width: 100%;
}

.container-fluid{
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 10px;
}

ol{
    background-image: linear-gradient(red, orange,yellow,green,blue, purple);
}

li{
    padding: 10px;
}

@media only screen and (max-width:480px) {
    .links{
        display: none;
    }
    .linkButton{
        display: inline !important;
    }
    .row{
        flex-direction: column-reverse;
    }
}