* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.product-list {
	list-style: none;
	padding: 10px;
}

.product-list__item {
	display: flex;
	flex-direction: row;
}

.product-list__item__name {
	width: 60%;
	margin: 10px;
	display: flex;
	align-self: flex-end;
}
.product-list__item__price {
	width: 20%;
	margin: 10px;
	display: flex;
	align-self: flex-end;
}

.product-list__item__cart {
	border: none;
	padding: 0;
	background-color: white;
	margin: 5px;
}

.cart__image {
	width: 80px;
	background-color: #7fae00;
	padding: 5px 15px;
	border-radius: 5px;
	display: flex;
	align-self: flex-end;
}
