<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LogIn</title>
	</head>
	<body>
		<h3>Log in! or <a href="/auth/register">Register</a></h3>
		<form action="/auth/logIn" method="POST">
			<div>
				<label for=" user">
					User:
					<input type="text" name="user" />
				</label>
			</div>
			<div>
				<label for="password">
					Password:
					<input type="password" name="password" />
				</label>
			</div>
			<button type="submit">LogIn</button>
		</form>
	</body>
</html>
