<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../css/index.css" />
	</head>
	<body>
		<h2>Register or <a href="/auth/logIn">Log In</a></h2>
		<form action="/auth/Register" method="POST">
			<div>
				<label for="user">
					User:
					<input type="text" name="user" />
				</label>
			</div>
			<div>
				<label for="password">
					Password:
					<input
						type="text"
						name="password"
						required
						pattern="^(?=.*[A-Z])(?=.*[!#/()=*])(?=.*[0-9]).{8,12}$"
						title="Must contain at least one number, one uppercase and one sign of the list [!#/()=*], and 8 to 12 characters"
					/>
				</label>
			</div>
			<button type="submit">Register now!</button>
		</form>
	</body>
</html>
