* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.container-book {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.title p {
    color: grey;
    font-size: 18px;
    margin-bottom: 10px
}

.addFav_icon {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.addBook_icon {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.button {
    width: 100px;
    font-size: 12px;
    border: none;
    margin: 3px;
    color: black;
    background-color: rgb(123, 194, 123);
    border-radius: 3px;
}

.button:focus {
    outline: 0;
}

.container-ranking {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.number-rating {
    font-size: 50px;
    color: #e74a11;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .cover-image {
        width: 200px;
        height: 300px;
    }

    .cover-image img {
        box-shadow: -5px 6px 5px 0px rgba(129, 128, 128, 0.719);
    }
}

.button-rating {
    display: flex;
    flex-direction: column;
}

.description-book {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 0.8px solid #e74a112a;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.title-description {
    font-weight: bold;
    margin-bottom: 5px
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}