/*Main Area*/
body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('../images/pattern.png');
}
#mainheader {
    width: 100%;
    background-color: #a593c2;
}
img#header_logo{
    padding: 0 1.5rem;
    width: 55px;
}
img{
    width: 100%;
}
figure{
    margin: 0;
    width: 100%;
    display: block;
}
figcaption{
    font-style: italic;
}

/*Top Menu*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 20px;
}
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul>li {
    display: inline-block;
    position: relative;
}
nav>ul>li a {
    color: white;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}
nav>ul>li a:hover {
    color: darkred;
}

/*Side Menu*/
.mainContent ul{
    padding-inline-start: 2px;
    margin-right: 1.5rem;
}
.mainContent ul>a>li{
    background-color: #cf4522;
    color: #fff;
    list-style: none;
    padding: 14px 25px;
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
}  
.mainContent ul>a{
    text-decoration: none;
    color: #fff;
}
.aside_menuItems{
    width: 100%;
    display: inline-block;
}

/* SUPERCONTAINER */
.supercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/*Main Content*/
.pageTitle{
    text-align: center;
    font-size:35px;
    color:#a593c2;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1024px){
    .supercontainer{
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }
    nav{
        width: 90%;
        max-width: 1000px;
    }
    .mainContent{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .leftmenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        margin-bottom: 20px;
    }
    footer {
        width: 100%;
        text-align: left;
        clear: both;
    }
    .main {
        float: right;
        width: 70%;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1023){
    .supercontainer{
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }
    nav{
        width: 90%;
        max-width: 1000px;
    }
    .mainContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .leftmenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    footer {
        width: 100%;
    }
    .main {
        float: right;
        width: 100%;
        margin-bottom: 20px;
    }
    .aside-left__img{
        max-width: 70%;
        max-height: 70%;
    }
}
@media screen and (max-width: 599px){
    .supercontainer{
        width: 95%;
        margin: auto;
    }
    nav{
        width: 95%;
    }
    .mainContent{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    .leftmenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    footer {
        width: 100%;
        text-align: center;
        clear: both;
    }
    .main {
        float: right;
        width: 100%;
        margin-bottom: 20px;
    }
}

/* NEW COOL LIST */
ul.list{
    list-style: none;
    display: flex;
    flex-direction: column;
}
li.list-item{
    background: white;
    border-radius: 0.25rem;
    width: 100%;
    margin-bottom: 1rem;
}
.list-item__subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.list-item__subtitle > p{
    order: 1;
    width: 100%;
    margin-top: 0;
    padding: 0 1.5rem;
}
.list-item__subtitle > small,
.list-item__subtitle > h5 {
    padding: 0 1.5rem;
}