<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hero Details</title>
	<link rel="stylesheet" href="/public/styles/hero-detail.css" />

</head>

<body>
	<header>
		<div class="fix-header">
			<div class="fix-header__title">
				<h1>Tour of Heroes</h1>
			</div>
			<div class="fix-header__buttons">
				<a href="/hero-list">Heroes</a>
				<a href="/hero-dashboard">Dashboard</a>
			</div>
		</div>
	</header>

	<h2><span id="hero-detail__name"></span> details</h2>
	<p>id: <span id="hero-detail__id"></span></p>
	<label for="heroName">
		name:
		<input id="hero-detail__name-control" type="text" name="heroName"
			onchange="heroDetailComponent.nameChange(this.value)" />
	</label>

	<script src="/src/hero.js"></script>
	<script src="/src/hero.mock.js"></script>
	<script src="/src/hero-detail.component.js"></script>
</body>

</html>