.title {
	padding-left: 30px;
}

.element {
	display: flex;
	justify-content: center;
	margin-left: 10px;
	margin-top: 20px;
	width: 180px;
	height: 40px;
}
.element__id {
	height: 40px;
	width: 40px;
	background-color: rgb(5, 5, 75);
	color: white;
	text-align: center;
	line-height: 40px;
}
.element__name {
	max-height: 40px;
	width: 140px;
	background-color: rgb(140, 140, 199);
	color: rgb(5, 5, 75);
	padding-left: 6px;
	line-height: 40px;
}
.button {
	height: 80px;
	width: 80px;
	background-color: rgb(140, 140, 199);
	color: rgb(5, 5, 75);
	margin-left: 30px;
}
.element__name:hover {
	background-color: rgb(28, 68, 68);
	color: white;
}
