.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    display: flex;
    cursor: pointer;
    padding-left: 45%;
    width: 100px;
}

@media (min-width:640px) {
    .mainContainer {
        flex-direction: row-reverse;
    }

    button {
        display: none;
    }


}