body {
    margin: 0 auto;
}

.nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
}
.nav img {
    width: 40px;
    height: 40px;
}
.number {
    font-weight: 14px;
    background-color: red;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
}
.logo {
    display: flex;
    justify-content: center;
    height: 150px;
}
.slider img {
    width: 100%
}
.icon-uten {
    display: flex;
    justify-content: center;
    margin-top: 100px ;
    margin-bottom: 30px;
}
.icon-uten img{
    width: 70px;
}

.icon-title {
    margin: auto;
    width: 200px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
.main-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}
.main-pics>div img {
    object-fit: cover;
    object-position: 40% 0;
    width: 340px;
    height: 140px;
    margin-bottom: 10px;
}

.title-pic {
    background-color: white;opacity:0.5;
    position: absolute;
    z-index: 3;
    margin-top: -52px;
    padding: 10px;
    color: black;
    font-weight: bold;
}
.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.blog-pic img {
    width: 340px;

}
.blog-title {
    background-color: tomato;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 340px;
    font-weight: bolder;
    align-self: center;
}
.blog-sign {
    background-color: whitesmoke;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 340px;
    font-weight: bolder;
}
.blog-flex {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.raul {
    display: flex;
    justify-content: flex-start;    
}
.raul img {
    width: 60px;
}
.blog-title-raul {
    background-color: tomato;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100px;
    font-weight: bolder;
    align-self: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: tomato;
    color: white;
    width: 100%;
}
.logo-block {
    align-self: center;
    display: none;
    height: 18px;
    font-weight: bolder;
    padding: 5px;
    margin-left: 10px;
}
.color-green {
    background-color: green;
}
.color-lila {
    background-color: purple;
}

@media screen and (min-width: 600px) {
    .logo-block {
        display: block;
    }
    .main-pics {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .pics-hidden {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .main-pics-expand {
        padding-right: 10px;
    }
    .main-pics>div img {
        object-fit: cover;
        object-position: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
}