body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;

}

.nav {
    position: fixed;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
}
.nav img {
    width: 40px;
    height: 40px;
}
.space {
    height: 100px;
}
.number {
    font-size: 20px;
    background-color: red;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
}
.logo {
    display: flex;
    justify-content: center;
    height: 150px;
}
.slider img {
    width: 100%
}
.icon-uten {
    display: flex;
    justify-content: center;
    margin-top: 100px ;
    margin-bottom: 30px;
}
.icon-uten img{
    width: 70px;
}

.icon-title {
    margin: auto;
    width: 200px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
.icons-colors {
    display: none;
}
.person:hover {
    cursor: pointer;
}
.carrito:hover {
    cursor: pointer;
}
.main-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}
.main-pics>div img {
    object-fit: cover;
    object-position: 40% 0;
    width: 340px;
    height: 140px;
    margin-bottom: 10px;
}

.title-pic {
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    z-index: 3;
    color: black;
    font-weight: bold; 
    height: 50%;
    width: 60%;
}
.sizes {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
.title-pic-text {
    display: none;
}
.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.blog-pic img {
    width: 340px;

}
.blog-title {
    background-color: tomato;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 340px;
    font-weight: bolder;
    align-self: center;
}
.blog-sign {
    background-color: whitesmoke;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 340px;
    font-weight: bolder;
}
.blog-flex {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.raul {
    display: flex;
    justify-content: flex-start;    
}
.raul img {
    width: 60px;
}
.blog-title-raul {
    background-color: tomato;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100px;
    font-weight: bolder;
    align-self: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: tomato;
    color: white;
    width: 100%;
}
.logo-block {
    align-self: center;
    display: none;
    color: white;
    height: 18px;
    font-weight: bolder;
    padding: 5px;
    margin-left: 10px;
}
.color-green {
    background-color: green;
}
.color-lila {
    background-color: purple;
}


@media screen and (min-width: 600px) {
    .logo-block {
        display: block;
    }
    .main-pics {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .pics-hidden {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .main-pics-expand {
        margin-right: 10px;
    }
    .main-pics>div img {
        object-fit: cover;
        object-position: 0;
        width: 100%;
        height: 100%;
    
    }
    .title-pic-text {
        display: block;
    }
    .title-pic {
        position: absolute;
        background-color: rgba(255,255,255,0.7);
        z-index: 3;
        color: black;
        font-style: normal;
        height: 50%;
        width: 100%;
    }
    .right {
        height: 100%;
        width: 50%;
    }
    .burger {
        display: none;
    }
    .icons-colors {
        display: flex;
        justify-content: flex-end;
    }
    .icons-colors-block {
        display: flex;
        width: 70px;
        height: 70px;
    }
    .icons-colors-block img {
        align-self: flex-end;
    }
    .red {
        height: 140px;
        background-color: red;
    }
    .blue{
        background-color: blue;
        margin-left: 4px;
    }
    .yellow {
        background-color: yellow;
        margin-left: 4px;
    }
    .blue:hover, .yellow:hover {
        cursor: pointer;
        height: 140px;
    }
}
@media screen and (min-width: 1024px) {
    .title-pic::after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 150px solid rgba(255,255,255,0.7);
        border-right: 100px solid transparent;
        position: absolute;
        right: -100px;
        top: 0;
    }
    .title-pic-text {
        display: block;
    }
    .title-pic {
        position: absolute;
        background-color: rgba(255,255,255,0.7);
        z-index: 3;
        color: black;
        font-style: normal;
        height: 160px;
        width: 50%;
    }
    .right {
        height: 50%;
        width: 50%;
    }
}