.labers span {
	font-size: large;
	color: rgb(96, 156, 182);
}
input {
	height: 2em;
	font-size: 1em;
	padding-left: 0.4em;
}
button {
	margin-top: 20px;
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	background-color: #cfd8dc;
}
button:disabled {
	background-color: #eee;
	color: #ccc;
	cursor: auto;
}
