.list {
	width: 90%;
	padding: 5px;
	margin: 0 auto;
}

.list__title {
	text-align: center;
	margin-bottom: 10px;
	color: white;
}

.list__item {
	height: 120px;

	display: flex;
	justify-content: space-between;

	border: 2px solid #ffffff;

	padding: 5px;
	margin-bottom: 10px;

	text-decoration: none;
	color: white;
}

.item__details {
	width: 100%;
	height: 100%;

	display: flex;
}

.details__img {
	height: 100%;
}

.details__text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	margin-left: 20px;
}

.item__rating {
	display: flex;
	align-items: center;
}
