<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Skylabers App</title>
  </head>

  <body>
    <h1>Oh yeah, views are working.</h1>
    <h2>This is a skylab test</h2>


    <h2>CRUD test</h2>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="id" name="id">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="city" name="city">
        <button type="submit">Submit</button>
    </form>
    
    <%= quotes %>
    <h2> Quotes </h2>
    <ul class="quotes">
    <% for(var i = 0; i < quotes.length; i++) { %>
        <li class="quote">
        <span><%= quotes[i].name %></span>:
        <span><%= quotes[i].quote %></span>
        </li>
    <% } %>
    </ul>
    
  </body>
</html>