<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hero List</title>
		<link rel="stylesheet" href="student-list.component.css" />
	</head>
	<body>
        <marin class="main__container">
            <h1>Tour of Skylabers</h1>
            <a href="../dashboard/dashboard.component.html">Dashboard</a>
            <a href="./hero-list.component.html">Skylabers</a>
            <h2>Skylabers</h2>
            <ul class="list__container">
    
            </ul>
        </marin>

		<script src="../../skylab-directoy/student.js"></script>
		<script src="../../skylab-directoy/student.mock.js"></script>
		<script src="./studen-list.component.js"></script>
	</body>
</html>
