.header {
  width: 100%; }
  .header .header__title {
    color: #b2b2b2; }
  .header .header__button {
    width: 80px;
    height: 30px; }
    .header .header__button a {
      text-decoration: none;
      color: #b2b2b2; }
    .header .header__button a:hover {
      color: #40b0e7; }

.hero-detail .hero-detail__id {
  color: #627f8b; }

.hero-detail .hero-detail__name {
  color: #627f8b; }
