body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.nav-container {
    display: flex;
    width: 100%;
    height: 80px;
}
.menu {
    background-color: rgb(171, 179, 169);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.menu__link {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: left;
}
.menu-button {
    background-color:  rgb(171, 179, 169);
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
}
.button-login {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: red;
    margin-right: 30px;
}
.image {
    width: 100%;
}
.list {
    background-image: linear-gradient(to bottom right, white, rgb(171, 179, 169));
    height: 319px;
    width: 158px;
    padding-top: 20px;
    padding-left: 80px;
}
.container {
    margin-top: 50px;
}
.article {
    margin-top: 30px;
    background-color: rgb(171, 179, 169);
    padding: 20px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(171, 179, 169);
    margin-top: 30px;
    height: 50px;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}