.navtttbar {
	display: flex;
}

.navbar__logo {
	height: 60px;
}
.navBar--flex {
	display: flex;
	flex-direction: row;
}
.switch {
	display: flex;
	flex-direction: row;
	height: 41px;
}

@media only screen and (min-width: 1024px) {
	.navBar--flex {
		display: flex;
		flex-direction: row;
		justify-content: flex-end !important;
	}
	.spacer {
		display: flex;
		flex: 1;
	}
	.switch {
		height: 21px;
		align-items: center;
		margin-top: 5px;
	}
}
