.navbar--flexNoWrap {
	display: flex;
	flex-wrap: nowrap;
}

.navbar__logo {
	height: 60px;
}
.navBar--flex {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.toggle {
	width: 56px;
}

.form-inline {
	display: flex;
	flex-wrap: nowrap;
}
.switch {
	display: flex;
	flex-direction: row;
	height: 41px;
}

@media only screen and (min-width: 600px) {
	.form-inline {
		display: flex;
		flex-wrap: nowrap;
	}
	.spacer {
		display: flex;
		flex: 1;
	}
}

@media only screen and (min-width: 1024px) {
	.navBar--flex {
		display: flex;
		flex-direction: row;
		justify-content: flex-end !important;
	}
	.spacer {
		display: flex;
		flex: 1;
	}
	.switch {
		height: 21px;
		align-items: center;
		margin-top: 5px;
	}
	.form-inline {
		display: flex;
		flex-wrap: nowrap;
	}
}
