<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tour of Heroes</title>
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/heroDetail.css" />
	</head>
	<body>
		<%- include('../header')%>
		<h2><%= user.user.toUpperCase()%> Profile!</h2>
		<form action="/auth/profile" method="POST">
			<div>
				<label for="password">
					Old password:
					<input type="text" name="" value="<%= user.password %>" />
				</label>
			</div>
			<div>
				<label for="password">
					New password:
					<input type="password" name="password" value="" />
				</label>
			</div>

			<button type="submit">Save</button>
		</form>
		<form action="/auth/logout" method="POST">
			<button type="submit" name="logout">Logout</button>
		</form>
	</body>
</html>
