.page__links {
  display: none;
}

.nav__main {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.651);
  box-shadow: 0 2px 20px 4px black;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}

.nav__left {
  display: flex;
  flex-direction: row;
  width: 33%;
  justify-content: space-around;
  align-items: center;
}

.nav-logo__center {
  display: flex;
  flex-direction: row;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.nav__right {
  display: flex;
  flex-direction: row;
  width: 33%;
  justify-content: space-around;
  align-items: center;
}

.nav-icon {
  width: 30px;
  height: 30px;
}

.nav-icon img {
  width: 100%;
}

.nav-profile {
  border-radius: 50%;
  width: 40px;
}

.logo__link {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.s-logo {
  color: #e49d4c;
  font-size: 25px;
}

.portiv-logo {
  font-size: 20px;
}

.profile-link {
  text-decoration: none;
  color: black;
}

@media (min-width: 750px) {
  .page__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
  }

  .s-logo {
    font-size: 34px;
  }

  .portiv-logo {
    font-size: 29px;
  }

  .nav-page {
    text-decoration: none;
    color: white;
    font-weight: 700;
  }

  .nav-burger {
    display: none;
  }
}
