<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="hero-list.component.css">
</head>
<body>
    <h3 class="title">Tour of Heroes</h3>
    <a href="../hero-dashboard/hero-dashboard.component.html" class="button">Dashboard</a>
    <a href="./hero-list.component.html" class="button">Heroes</a>
    <h1 class="title">My Heroes</h1>
    <div class="element">
        <div class="element__id">11</div>
        <div class="element__name">Mr.Nice</div>
    </div>
    <div class="element">
        <div class="element__id">12</div>
        <div class="element__name">Narco</div>
    </div>
    <div class="element">
        <div class="element__id">13</div>
        <div class="element__name">Bombasto</div>
    </div>
    <div class="element">
        <div class="element__id">14</div>
        <div class="element__name">Celeritas</div>
    </div>
    <div class="element">
        <div class="element__id">15</div>
        <div class="element__name">Magneta</div>
    </div>
    <div class="element">
        <div class="element__id">16</div>
        <div class="element__name">RubberMan</div>
    </div>
    <div class="element">
        <div class="element__id">17</div>
        <div class="element__name">Dynama</div>
    </div>
    <div class="element">
        <div class="element__id">18</div>
        <div class="element__name">Dr.IQ</div>
    </div>
    <div class="element">
        <div class="element__id">19</div>
        <div class="element__name">Magma</div>
    </div>
    <div class="element">
        <div class="element__id">20</div>
        <div class="element__name">Tornado</div>
    </div>
    <h2 class="result"></h2>
    <a href="../hero-detail/hero-detail.component.html"  class="button">View Details</a>
    <script src="hero.mock.js"></script>
    <script src="Hero.js"></script>
    <script src="hero-list.component.js"></script>
</body>
</html>