<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hero List</title>
	<link rel="stylesheet" href="hero-list.component.css" />
</head>

<body>
	<section>
		<div id="hero-list__container">
			<h1>Tour of Heroes</h1>
			<button><a href="../hero-dashboard/hero-dashboard.component.html">Dashboard</a></button>
			<button><a href="./hero-list.component.html">Heroes</a></button>
			<h2>My heroes</h2>
			<button><a href="../hero-dashboard/hero-dashboard.component.html">Back</a></button>
			<input id="hero-detail__name-control" type="text" name="heroName" placeholder="Search item wanted"
				onkeyup="listComponent.searchInput()" />

			<div id="mainContainer--list"></div>

			<script src="../hero.js"></script>
			<script src="../hero.mock.js"></script>
			<script src="../service/hero.service.js"></script>
			<script src="hero-list.component.js"></script>
		</div>
	</section>

</body>

</html>