<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title%></title>
	</head>
	<body>
		<form method="POST" action="/auth/signin">
			<label for="userName">Username:</label>
			<input type="text" name="userName" />

			<label for="userPassword">Password:</label>
			<input type="password" name="userPassword" />

			<button type="submit" name="submitButton">Log In</button>
		</form>
	</body>
</html>
