$color-detail: #f55110;
$main-color: #1a1a1a;

.bio {
  display: flex;
  flex-direction: column;

  width: 200px;
  margin-right: 30px;
  .bio__top {
    display: flex;
    flex-direction: column;

    border-bottom: 2px solid $color-detail;
    .top__name {
      margin: 10px 0;
      text-transform: capitalize;

      text-align: center;
      font-size: 30px;
    }

    .top__region {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      .region__city,
      .region__country {
        margin: 0 10px;
        text-transform: capitalize;
      }

      .input {
        width: 50%;
        margin: 0 5px;
      }
    }
  }
  .bio__middle {
    margin: 20px 5px;
    .middle__bio {
      line-height: 21px;
    }
  }
  .bio__bottom {
    display: flex;
    justify-content: center;

    padding-top: 20px;
    border-top: 2px solid $color-detail;
    .bottom__container {
      display: flex;
      align-items: center;

      a {
        .container__icon {
          font-size: 30px;
          color: $color-detail;

          margin-right: 15px;
        }
      }

      .container__input {
        width: 145px;
        transition: width 2s;
      }
    }
  }

  .edit {
    flex-direction: column;
  }

  .input,
  .text-area {
    background: $main-color;
    color: white;
    font-family: Arial;

    border: 0 solid transparent;
    padding: 5px 0;
    border-bottom: 2px solid $color-detail;
  }
  .input {
    text-align: center;
  }

  .text-area {
    height: 250px;
  }
}
