<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skylaber Dashboard</title>
    <link rel="stylesheet" href="skylaber-dashboard.component.css" />
</head>

<body>
    <h1>Tour of Skylaber</h1>
    <nav>
        <a href="./skylaber-dashboard.component.html">Dashboard</a>
        <a href="../skylaber-list/skylaber-list.component.html">Skylaber</a>
    </nav>
    <ul class="dashboard__list">

    </ul>
    <script src="../skylaber.js"></script>
    <script src="../skylaber.mock.js"></script>
    <script src="skylaber-dashboard.component.js"></script>
</body>

</html>