<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tour of Heroes</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
	</head>
	<body>
		<section class="container">
			<h1 class="jumbotron">Tour of Heroes</h1>
			<button type="button" class="btn btn-outline-secondary">
				<a href="/">Dashboard</a>
			</button>
			<button type="button" class="btn btn-outline-secondary">
				<a href="/heroes">Heroes</a>
			</button>
			<button type="button" class="btn btn-outline-secondary">
				<a href="/hero">Details</a>
			</button>
			<h2>Top Heroes</h2>

			<%= topFour = heroMock.slice(0, 4) %> <% topFour.map(function(hero) {
			return '<a href="/">' + hero.id + '</a>'; }) %>
			<div>
				<ul class="list-group list-group-flush">
					<a href="/heroes"
						><li class="list-group-item list-group-item-action">Dr Nice</li></a
					>
					<a href="/heroes"
						><li class="list-group-item list-group-item-action">Narco</li></a
					>
					<a href="/heroes"
						><li class="list-group-item list-group-item-action">Bombasto</li></a
					>
					<a href="/heroes"
						><li class="list-group-item list-group-item-action">
							Celeritas
						</li></a
					>
				</ul>
			</div>

			<script src="js/jquery.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
			<script src="../hero.mock.js"></script>
		</section>
	</body>
</html>
