header
  position: sticky
  top: 0
  background-color: white
  display: flex
  flex-shrink: 0
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 1rem 0

  > h1
    font-family: 'Times New Roman', serif
    color: #011627
