.modal__backdrop
	background: rgba(0, 0, 0, .65)
	bottom: 0
	left: 0
	overflow: auto
	position: fixed
	right: 0
	top: 0
	z-index: 1

.modal__container
	background: white
	border-radius: .7rem
	max-width: 100%
	margin: 20% auto
	width: 600px

.modal__title
  color: #06aed5
  font-size: 1.5rem
  font-weight: 500
  padding: 0 1.5rem
  margin: 0

.modal__titlebar
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  padding: .25rem 1.5rem .5rem

.close__icon

  &:hover
    cursor: grab