ul
  list-style-type: none

li
  display: inline-block
  margin: 0 1rem

.nav
  > ul
    > li
      > a
        color: #06AED5
        font-size: 1.2rem
        text-decoration: underline dotted 1px #06AED5

        &:hover
          color: #E53D00
          text-decoration: underline dotted 1px #E53D00