<div class="fix-header">
    <div class="fix-header__title">
        <h1>Tour of Heroes</h1>
    </div>
    <div class="fix-header__buttons">
        <a href="./HeroDashboard.ejs">Dashboard</a>
        <a href="./HeroList.ejs">Heroes</a>
    </div>
</div>