* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  background-color: rgba(255, 255, 255, 0.66);
  border-bottom: 1px solid white;
  color: black;
  height: 20vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  background: url("https://image.flaticon.com/icons/svg/608/608690.svg");
  background-repeat: no-repeat;
  position: relative;
  top: 10vh;
  height: 20vh;
  width: 20vh;
}
