<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hero Details</title>
	<link rel="stylesheet" href="../hero-detail/hero-detail.component.css" />
</head>

<body>
	<section class="lightbox">
		<div id="hero-detail__container">
			<h1 class="title">Tour of Heroes</h1>
			<a class="button" href="../hero-dashboard/hero-dashborad.component.html">Dashboard</a>
			<a class="button" href="../hero-list/hero-list.component.html">Heroes</a>
			<h2 class="title-hero"><span id="hero-detail__name"></span> details</h2>
			<p class="id-name">id: <span class="id" id="hero-detail__id"></span></p>
			<label class="id-name" for="heroName">
				name:
				<input class="input" id="hero-detail__name-control" type="text" name="heroName"
					onchange="heroDetailComponent.nameChange(this.value)" />
			</label>
		</div>
		<p id="hero-detail__error"></p>
		<p id="hero-detail__loading" style="display:block">Loading...</p>
	</section>
	<script src="../hero.js"></script>
	<script src="../hero.mock.js"></script>
	<script src="../service/hero.service.js"></script>
	<script src="../hero-detail/hero-detail.component.js"></script>

</body>

</html>