* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}




/* Application-wide Styles */

h1 {
    color: grey;
    font-size: 1.2em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2,
h3 {
    color: #444;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label {
    width: 3em;
    margin: .5em;
    margin-right: 2px;
    color: #607D8B;
    font-weight: bold;
}

input {
    margin: .5em;
}

nav a,
.hero-detail__back {
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px 10px 0 0;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    width: fit-content;
}

a:visited,
a:link {
    color: #334953;
    text-decoration: none;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}



.hero-list__id {
    display: flex;
    background-color: #365f5a;
    height: 30px;
    width: 30px;
    color: white;
    align-items: center;
    justify-content: center;

}

.hero-list__name {
    align-self: center;
    margin-left: 10px;
}

#hero-detail__loading {
    display: block;
}

.hero-list__item {
    background-color: #EEE;
    width: 250px;
    height: 30px;
    margin: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.hero-list__item:hover {
    margin-left: 15px;
}

.hero-dashboard__item {
    list-style: none;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 40px 25px 40px 25px;
    background-color: #365f5a;
    margin: 8px;
    border-radius: 4px;
}

.hero-dashboard__item:hover {
    color: #365f5a;
    background-color: #CFD8DC;

}

#hero-detail__id-control {
    width: 50px;
}