.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description {
    flex-direction: row;
}

.description__top {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.description__top__heading {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    
}
.description__top__heading__circle {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    display: inline;
    font-size: 50px;
    color: white;
}

.description__top__heading__title {
    padding: 20px;
}


.description__top__date {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    
}

p {
    margin: 20px;
}

.flexbox-container {
    background-color: gray;
    border: 1px solid;
    padding: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */

}

.flex-item {
    background-color: red;
    border: 1px solid;
    margin: 12px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
}

.flexbox-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}