h2{
    text-align: left;
    font-size: 10px;
}

.b1{
    text-align: right;
}

.button1{
    font-size: 15px;
}

.nav_menu{
    background-color: lightgray;
    padding: 5px;
    line-height: 4rem;
}

    .nav_menu__link{
        color: black;
        margin: 10px;
    }

    .nav_menu__link--special{
        border: none;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        background-color: rgb(218, 101, 101);
    }

.col-sm{
    text-align: center;
    vertical-align: middle;
}
#last_col{
    background: linear-gradient(lightyellow ,rgb(228, 100, 100));
    vertical-align: middle;

}

.container_main{
    margin: 75px;
}
.figure1{
    border: 1px solid black;
}
    .figure1_button{
        border: none;
        width: 7rem;
        height: 3rem;
        background-color: rgb(218, 101, 101);
    }

.section2{
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

footer{
text-align: center;
padding: 15px;
font-style: italic;
}

.nav_hidden{
    display: none;
}

@media only screen and (max-width: 480px) {
    .row{
        flex-direction: column-reverse;
    }
    .list {
        background-image: linear-gradient(green, yellow);
    }
    .nav_links{
        display: none;
    }
    .nav_hidden{
        display: block;
        background-color: rgb(218, 101, 101);
    }
}