h1{
    text-align: left;
    font-size: 5px;
}
.b1{
    text-align: right;
}

.nav_menu{
    background-color: lightgray;
    padding: 20px;
}

    .nav_menu__link{
        color: black;
    }

    .nav_menu__link--special{
        border: none;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        background-color: rgb(218, 101, 101);
    }

.col-sm{
    text-align: center;
}
#last_col{
    background: linear-gradient(lightyellow ,rgb(228, 100, 100))
}
.figure1{
    border: 1px solid black;
}
    .figure1_button{
        border: none;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        background-color: rgb(218, 101, 101);
    }
    
.section2{
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

footer{
text-align: center;
padding: 15px;
}