h1{
    text-align: left;
    font-size: 5px;
}
.b1{
    text-align: right;
}

footer{
text-align: center;
}

.nav{
    background-color: lightgray;
    padding: 5px;
    display: inline-flex;
}

.nav__link{
    color: black;
}

.nav__link--special{
    border-radius: 50%;
    background-color: solid red;
}
.col-sm{
    text-align: center;
}