{
	"extends": [
		"airbnb-base", 
		"react-app", 
		"prettier" 
	],
	"env": { 
		"node": true, 
		"mocha": true,
		"jest": true,
		"mongo": true,
		"es2020": true 
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2020,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"eslint-disable-next-line": "react-hooks/exhaustive-deps",
		"no-underscore-dangle": "off",
		"no-unused-vars": "warn",
		"react/prop-types": "warn"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"root": true
}