<header>
    <div class="fix-header">
        <div class="fix-header__title">
            <h1>Tour of Heroes</h1>
        </div>
        <div class="fix-header__buttons">
            <a href='/dashboard'>Dashboard</a>
            <a href='/list'>Heroes</a>
        </div>
    </div>
</header>