section {
    width: 100%;

    form {

        .form--left,
        .form--right {
            width: 100%;

            span {
                margin-left: 25px;
            }
        }
    }

}

@media screen and (min-width: 600px) {
    section {

        form {

            .form--left,
            .form--right {
                width: 50%;

            }
        }

    }

}