.shop-info {



    p {
        margin: 20px;

    }

    .delete-button {
        padding: 15px;
        color: black;
        background-color: red;
        font-size: 30px;
        font-weight: bolder;
        border: none;
        width: 300px;
        border-radius: 15px;
        margin: auto;
    }

}