* {
    margin: 0;
    padding: 0;
}
header {
    width: 100vw;
    height: 5vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-row {
    display: flex;
    flex-direction: row;
}

.game-column{
    height: 7px;
    width: 7px;
    border: 1px solid black;
}

.paintItInBlack {
    background-color: lightblue;

}

.game-text {
    width: 100vw;
    height: 10vh;
    text-align: center;
}

.button-pannel {
    width: 100vw;
    height: 15vh;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.button-pannel button{
    margin-left: 10px;
    margin-right: 10px;
}

.button-pannel input{
    margin-bottom: 10px;
    height: 20px;
    width: 50px;
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
}