<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register</title>
		<link rel="stylesheet" href="../../../css/index.css" />
		<link rel="stylesheet" href="../../../css/register.css" />
	</head>
	<body>
		<form class="register__form" action="/auth/register" method="POST">
			<div class="register__title">
				<h1>REGISTER</h1>
			</div>
			<div class="register__label-user">
				<label for="user"
					>User:
					<div>
						<input type="text" value="" name="username" />
					</div>
				</label>
			</div>
			<div class="register__password">
				<label for="password"
					>Password:
					<div>
						<input
							type="password"
							value=""
							name="password"
							pattern="^(?=.*[A-Z]).{8,12}$"
							title="Must contain at
        least one number and one uppercase and lowercase letter, and at least
        8 or more characters"
							required
						/>
					</div>
				</label>
			</div>
			<div class="register__confirmPassword">
				<label for="password"
					>Confirm Password:
					<div>
						<input
							type="password"
							value=""
							name="password"
							pattern="^(?=.*[A-Z]).{8,12}$"
							title="Must contain at
                            least one number and one uppercase and lowercase letter, and at least
                            8 or more characters"
							required
						/>
					</div>
				</label>
			</div>
			<div class="register__buttons">
				<button class="register__button" name="" type="submit" value="">
					Register
				</button>
				<a class="register__anchor" href="/auth/login">Login</a>
			</div>
		</form>
	</body>
</html>
