@media (min-width: 480px) {
}
body{
    margin: 0;
    padding: 0;
    border: 0;
}
nav {
    padding:1%;
  background-color: grey;
  width: 100%;
}
a{
    margin: 0% 8% 0% 8%;
}
img {
  background-color: grey;
}
footer {
  background-color: grey;
  text-align: center;
}
button {
  background-color: red;
}
ul {
  background: linear-gradient(0deg, red 0%, white 100%);
}
.login {
  border-radius: 50%;
  margin-left: 25%;
}
.container{
    width: 100vh;
}
.col-md-{
    width: 100/3%;
}
