@media (max-width: 480px) {
    .col-md-4{
        width: 100%;
        margin: auto;
    }
    .gradient-light-grey{
        background-image: linear-gradient(white, grey);
    }
   .hide {
       display: none;
   }
}
a{
 color: white;
}
button{
    margin-left:50%;
    background-color: red;
}
.round-button{
    height: 4rem;
    width: 4rem;
}
.navbar-inverse{
    background-color: grey;
    color: white;
    
}
.login-button{
    border: none;
    width: 4rem;
    border-radius: 50%;
    
}
.text-center{
    color: white;
}
.gradient-light-grey{
    background-color: grey;
}
.padding-5percent{
    padding: 5%;
}
.article-large-size-center{
    text-align: center;
    margin: auto;
    width: 80%;
}
.full-height{
    height: 100%;
}
