<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="dashboard.component.css">
</head>

<body>
  <h3><%= title%></h3>
  <div class="grid grid-pad">
    <% for(let i = 0; i < heroes.length; i++) { %>
    <a href="/heroes/<%= heroes[i].id%>" class="col-1-4" href="">
      <div class="module hero">
        <h4><%= heroes[i].name%></h4>
      </div>
    </a>
    <% } %>
  </div>

  <%-include('hero-search.component.ejs')-%>
</body>

</html>