<div id="search-component">
  <h4><label for="search-box">Hero Search</label></h4>

  <input id="search-box" />

  <ul class="search-result">
    <li>
      <a href="">

      </a>
    </li>
  </ul>
</div>