aside {
    color: blue;
}

.aside-list-item__italic-style {
    font-style: italic;
}

#morespecific {
    background-color: red;
    border: 1px solid black;
}

.specific {
    background-color: gray;
    border: none !important;
}

p {
    color: white;
    background-color: blue;
    padding: 5px;
}

.user-name-button {
    background-color: green;
    border-radius: 10px;
    color: white;
}