<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hero Details</title>
	<link rel="stylesheet" href="../hero-dashboard/hero-dashboard.component.css" />
</head>

<body>
	<section class="lightbox">
		<h1 class="title">Tour of Heroes</h1>
		<a class="button" href="../hero-dashboard/hero-dashborad.component.html">Dashboard</a>
		<a class="button" href="../hero-list/hero-list.component.html">Heroes</a>
		<h2 class="title-hero">Top Heroes</h2>
		<div class="container__dashboard"></div>		
	</section>
	
	<script src="../hero.js"></script>
	<script src="../service/hero.service.js"></script>
	<script src="../hero-dashboard/hero-dashboard.component.js"></script>
</body>
</html>