@font-face{
    font-family: NotoSans-Regular;
    src: url(https://prod0-kraken-cloudfront.rakuten.tv/fonts/NotoSans-Regular-21f6235482.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: NotoSans-Regular,Arial,sans-serif;
    background-color:#171717;
    height: 100%;
}
ul{
    list-style: none;
}
li{
    font-size: 14px;
    font-weight: bold;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-spacer{
    flex-grow: 1;
}
.rakuten-logo{
    width: 122px;
    height: auto;
    justify-self: flex-start;
}
.nav-submenu{
    display: none;
}                                                                            

/*Nav bar*/

nav{
    width: 100%;
    height: 60px;
    justify-content: center;
    margin-top: 0;
    overflow: visible;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .7) 20%, rgba(0, 0, 0, .4) 50%, transparent 100%);
    z-index: 2;
    position: absolute;

}
.nav-items{
    width: 100%;
    max-width: 1640px;
    margin: 0 20px 0 20px ;
}
.nav-icon-button-item{
    padding: 22px 0 22px 0;
}
.nav-icons__left{
    display: inline-block;
}
.nav-icon-button-item:hover, .nav-submenu-item:hover{
    color: #ffe300;
    cursor: pointer;
}
.search-icon{
    background: url(https://image.flaticon.com/icons/svg/2089/2089805.svg) no-repeat;
    height: 33px;
    width: 21px;
    filter: invert(1);
    margin: 10px 20px 0 0; 
}
.search-icon-container{
    padding: 10px 20px 0 0; 
}


/*PRINCIPAL BANNER*/
.principal-banner{
    width: 100%;
    z-index: 1;
    position: relative;
    align-items: center;
}
.principal-banner>img{
    width: 100%;
    flex-shrink: 1;
}
.arrow-left, .arrow-right{
    display: none;
    width: 60px;
    height: 60px;
    filter: invert(1);
    position: absolute;
}
.arrow-left{
    background: url(https://image.flaticon.com/icons/svg/860/860790.svg) no-repeat;
}
.arrow-right{
    background: url(https://image.flaticon.com/icons/svg/860/860828.svg) no-repeat;
    right: 0;
}
.principal-banner:hover .arrow-left, .principal-banner:hover .arrow-right{
    display: flex;
}

/*MAIN*/
main{
    width: 100%;
    height: 100%;
}
.principal-sections-item{
    max-width: 20%;
    margin: 0 1% 0 1%;
}
.principal-sections img, .principal-sections-item {
    width: 100%;
    height: auto;
    flex-shrink: 1;
}
.movie-box img{
    border: solid transparent 2px;
    border-radius: 3px;
}
.movie-box:hover img{
    border-color: yellow;
    cursor: pointer;
}



/*FOOTER*/
/*about*/
.about {
    align-items: center;
    color: #ccc;
    height: 155px;
    background-color: #101010;
    margin-bottom: 0;
    padding:35px 55px 35px 55px;
    font-size: 14px;
    text-align: center;
}
.about ul  {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}
.about .rakuten-logo{
    margin-bottom: 20px;
}
.about li {
    margin-left: 15px;
}




/*bottom menu*/
.bottom-menu{
    width: 100%;
    height: 56px;
    background-color: black;
    color:white;
    justify-content: space-evenly;
    align-self: flex-end;
}
.bottom-menu-item:hover {
    color: yellow;
}
.bottom-menu-item{
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;
    font-weight: bold;
    padding: 8px 0 8px 0;
}
.bottom-menu-item-img{
    filter: invert(1);
    height: 20px;
    width: 20px;
}
.display-in-large, .display-in-max{
    display: none;
}
@media screen and (min-width: 1025px){
    .display-in-large{
        display: flex;
    }
    .hidden-in-large{
        display:none;
    }

/*NAV BAR*/
    nav {
        background-color: black;
        position: fixed;
        border-bottom: solid grey 1px;
    }

    .nav-icon-button{
        color: white;
        text-align: center;
        margin: 0 15px 0 20px;
    }
    .triangle {
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 5px solid white;
        align-self: center;        
    }
    .nav-icons__right>ul>li:nth-child(3)>.nav-icon-button-item{
        background-color:rgb(240, 213, 0);
        color: black;
        width: 108px;
        height: auto;
        margin-top: 10px;
        border-radius: 2px;
        font-weight: bold;
        padding: 12px 0 12px 0;
    }
    .nav-icons__left .nav-icon-button:nth-child(1){
        width: 70px;
    }
    .nav-submenu{
        width: 170px;
        height: 78px;
        padding: 0 15px;
        margin-left: -8px;
        background-color: black;
        justify-content: space-around;
    }
    .nav-submenu-item{
        font-weight: 200;
        text-align: left;
        padding: 15px 0 10px 0;
    }
    .desplegable-button:nth-child(3){
        width: 104px;
    }
    .desplegable-button:nth-child(3)>.nav-submenu{
        width: 150px;
        margin-left: -15px;
    }
    .desplegable-button:hover>ul{
        display: flex;
    }
    .nav-icon-button:hover .triangle{
        width: 0;
        height: 0;
        border-top: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 5px solid rgb(240, 213, 0);
        align-self: center;        
    }
    /*SEARCH BAR*/
    input{
        width: 300px;
        height: 40px;
        background-color:rgb(51, 51, 51);
        color:rgb(156, 156, 156);
        border-radius: 2px;
        margin-top: 10px;
        padding-left: 10px;
        flex-shrink: 1;
    }
    input:focus{
        background-color:white;
    }
    .principal-banner{
        padding-top: 71px;
    }

    /* FOOTER */
    /* usage-info*/
    .usage-info{
        padding: 25px;
        color: rgb(204, 204, 204);;
        text-align: center;
        align-items: center;
        margin-top: 15px;
    }
    .usage-info img {
        max-height: 80px;
    }
    .usage-info-other:hover{
        cursor: pointer;
    }
    .usage-info-home p{
        max-width: 815px;
        margin: 10px 0 10px 0;
    }
    .usage-info-other>div{
        max-width: 419px;
        margin: 0 35px 25px 35px
    }


    /* about */
    .about{
        height: 101px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start
    }


}
@media screen and (min-width: 1250px){
    .display-in-max{
        display: flex;
        color: #999;
    }
}